<ion-view view-title="Accounts">
    <ion-content class="padding">
        <div class="card" ng-show="accounts.length == 0">

            <div href="#" class="item item-text-wrap item-icon-left">
                <i class="icon ion-alert"></i>
                No account registered yet!
                Please tap « Add an account » to register one.
            </div>

        </div>
        <a ui-sref="app.explore_currency" class="button button-block button-stable icon icon-left ion-search">Explore a currency</a>
        <button ng-click="addAccount()" class="button button-block button-positive icon icon-left ion-ios-color-wand">Add an account</button>
    </ion-content>
</ion-view>
