<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Login</h1>
    <button class="button button-positive" ng-click="closeLogin()">Cancel</button>
  </ion-header-bar>

  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Username</span>
          <input type="text" placeholder="Username" ng-model="loginData.username" ng-change="loginDataChanged()">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password" ng-model="loginData.password" ng-change="loginDataChanged()">
        </label>
        <div class="item item-icon-left item-button-right">
          <i class="icon ion-key"/>
          Public key
          <a class="button button-light button-small" ng-click="showLoginPubkey()" ng-if="!(loginData.pubkey || loginData.computing || !loginData.username || !loginData.password)">
              Show
            </a>            
          </label>

          <span class="badge badge-energized" ng-if="loginData.pubkey">
            {{loginData.pubkey | formatPubkey}}
          </span>
        </div>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
