<ion-modal-view class="login modal slide-in-up ng-enter active ng-enter-active">
  <ion-header-bar class="bar-positive">
    <button class="button button-clear visible-xs" ng-click="cancelLogin()" translate>COMMON.BTN_CANCEL
    </button>
    <h1 class="title" translate>LOGIN.TITLE</h1>
    <div class="buttons buttons-right">
      <span class="secondary-buttons">
        <button class="button button-positive button-icon button-clear icon ion-android-done visible-xs" ng-click="doLogin()">
        </button>
    </span></div>

  </ion-header-bar>

  <ion-content >
    <form name="loginForm" novalidate="" ng-submit="doLogin()">

      <div class="list" ng-init="setLoginForm(loginForm)">

        <!-- username -->
        <label class="item item-input"
               ng-class="{ 'item-input-error': loginForm.$submitted && loginForm.username.$invalid}">
          <span class="input-label" translate>LOGIN.USERNAME</span>
          <input name="username" type="text" placeholder="{{'LOGIN.USERNAME_HELP' | translate}}"
                 ng-model="loginData.username"
                 ng-change="loginDataChanged()"
                 class="highlight-light"
                 required>
        </label>
        <div class="form-errors"
             ng-show="loginForm.$submitted && loginForm.username.$error"
             ng-messages="loginForm.username.$error">
          <div class="form-error" ng-message="required">
            <span translate="ERROR.FIELD_REQUIRED"></span>
          </div>
        </div>

        <!-- password-->
        <label class="item item-input"
               ng-class="{ 'item-input-error': loginForm.$submitted && loginForm.password.$invalid}">
          <span class="input-label" translate>LOGIN.PASSWORD</span>
          <input name="password" type="password" placeholder="{{'LOGIN.PASSWORD_HELP' | translate}}"
                 ng-model="loginData.password"
                 ng-change="loginDataChanged()"
                 select-on-click
                 required>
        </label>
        <div class="form-errors"
             ng-show="loginForm.$submitted && loginForm.password.$error"
             ng-messages="loginForm.password.$error">
          <div class="form-error" ng-message="required">
            <span translate="ERROR.FIELD_REQUIRED"></span>
          </div>
        </div>

        <!-- remember me
        <ion-checkbox ng-model="isChecked">Checkbox Label</ion-checkbox>-->

        <!-- Show public key -->
        <div class="item item-icon-left item-button-right left">
          <span class="input-label" translate>COMMON.PUBKEY</span>
          <a class="button button-light button-small ink"
             ng-click="showLoginPubkey()"
             ng-if="!(loginData.pubkey || loginData.computing || !loginData.username || !loginData.password)"
             class="animate-if">
            {{'COMMON.BTN_SHOW_PUBKEY' | translate}}
          </a>
          <h3 class="gray text-no-wrap" ng-if="loginData.pubkey">
            {{loginData.pubkey}}
          </h3>
        </div>
      </div>

      <div class="padding hidden-xs text-right">
        <button class="button button-clear button-dark ink" ng-click="cancelLogin()" type="button" translate>COMMON.BTN_CANCEL
        </button>
        <button class="button button-positive ink" type="submit">
          {{'COMMON.BTN_LOGIN' | translate}}
        </button>
      </div>
      <!--div class="padding hidden-xs text-right">
        <a class="assertive ink" ng-click="openNewAccount()" type="button" translate>COMMON.NO_ACOUNT_QUESTION
        </a>
      </div-->
    </form>
  </ion-content>
</ion-modal-view>
