<ion-modal-view class="about">
  <ion-header-bar class="bar-positive">
    <button class="button button-clear visible-xs" ng-click="closeModal()" translate>COMMON.BTN_CLOSE
    </button>
    <h1 class="title" translate>ABOUT.TITLE</h1>
  </ion-header-bar>

  <ion-content class="text-center" scroll="true">

    <ion-list class="item-wrap-text">
      <ion-item class="item-icon-left item-text-wrap">
        {{'COMMON.APP_NAME'|translate}}&nbsp;<b>{{'COMMON.APP_VERSION'|translate:$root.config}}</b>
        <i ng-if="$root.newRelease" class="assertive ion-alert-circled"></i>
        <h3 ng-if="$root.config.build" class="gray">{{'COMMON.APP_BUILD'|translate:$root.config}}</h3>
        <span translate>ABOUT.LICENSE</span>
      </ion-item>

      <!-- new version -->
      <ion-item class="item-icon-left" ng-if="$root.newRelease">
        <i class="item-image icon ion-alert-circled assertive"></i>

        <span ng-if="!$root.device.isWeb()" ng-bind-html="'ABOUT.PLEASE_UPDATE' | translate:$root.newRelease "></span>
        <span ng-if="$root.device.isWeb()" ng-bind-html="'ABOUT.LATEST_RELEASE' | translate:$root.newRelease "></span>

        <!-- link to release page -->
        <h3 ng-if="!$root.device.enable">
          <a ng-click="openLink($event, $root.newRelease.url)" translate>{{::$root.newRelease.url}}</a>
        </h3>
      </ion-item>

      <!-- report issue -->
      <ion-item class="item-icon-left item-text-wrap">
        <i class="item-image icon ion-bug"></i>
        <span translate>ABOUT.PLEASE_REPORT_ISSUE</span>
        <h3>
          <a ng-click="openLink($event, $root.settings.newIssueUrl)" translate>ABOUT.REPORT_ISSUE</a>
        </h3>
      </ion-item>


      <!-- source code -->
      <ion-item class="item-icon-left">
        <i class="item-image icon ion-network"></i>
        {{'ABOUT.CODE' | translate}}
        <h3><a ng-click="openLink($event, 'https://git.duniter.org/clients/cesium/cesium')">https://git.duniter.org/clients/cesium/cesium</a></h3>
      </ion-item>

      <!-- forum -->
      <ion-item class="item-icon-left">
        <i class="item-image icon ion-chatbubbles"></i>
        {{'ABOUT.FORUM' | translate}}
        <h3><a ng-click="openLink($event, $root.settings.userForumUrl)">{{::$root.settings.userForumUrl}}</a></h3>
      </ion-item>

      <!-- team -->
      <ion-item class="item-icon-left">
        <i class="item-image icon ion-person-stalker"></i>
        {{'ABOUT.DEVELOPERS' | translate}}
        <h3>
          <a href="https://github.com/c-geek" target="_system">cgeek</a>,
          <a href="https://github.com/devingfx" target="_system">DiG</a>,
          <a href="https://github.com/blavenie" target="_system">Benoit Lavenier</a>
        </h3>
      </ion-item>

      <div class="padding hidden-xs text-center">
        <button class="button button-stable icon-left ink" type="submit"
                ng-click="closeModal()"
                ui-sref="app.help">
          <i class="icon ion-ios-help-outline"></i>
          {{'HOME.BTN_HELP' | translate}}
        </button>

        <button class="button button-positive ink" type="submit"
                ng-click="closeModal()">
          {{'COMMON.BTN_CLOSE' | translate}}
        </button>
      </div>

    </div>
  </ion-content>
</ion-modal-view>
