<ion-modal-view class="about">
  <ion-header-bar class="bar-positive">
    <button class="button button-clear visible-xs" ng-click="closeModal()" translate>COMMON.BTN_CLOSE
    </button>
    <h1 class="title" translate>ABOUT.TITLE</h1>
  </ion-header-bar>

  <ion-content class="text-center" scroll="true">

    <div class="list item-wrap-text">
      <div class="item item-complex item-icon-left item-text-wrap">
        <div class="item-content">
          <span>{{'COMMON.APP_NAME'|translate}}&nbsp;{{'COMMON.APP_VERSION'|translate:config}}</span>
          <h3 ng-if="config.build" class="gray">{{'COMMON.APP_BUILD'|translate:config}}</h3>
          <span translate>ABOUT.LICENSE</span>
        </div>
      </div>
      <div class="item item-complex item-icon-left">
        <div class="item-content">
          <i class="item-image icon ion-social-github"></i>
          {{'ABOUT.CODE' | translate}}
          <h3><a href="https://github.com/duniter/cesium">https://github.com/duniter/cesium</a></h3>
        </div>
      </div>
      <div class="item item-complex item-icon-left">
        <div class="item-content">
          <i class="item-image icon ion-chatbubbles"></i>
          {{'ABOUT.FORUM' | translate}}
          <h3><a href="https://forum.duniter.org">https://forum.duniter.org</a>
        </div>
      </div>
      <div class="item item-complex item-icon-left">
        <div class="item-content">
          <i class="item-image icon ion-chatbubbles"></i>
          {{'ABOUT.DEVELOPERS' | translate}}
          <h3>
            <a href="https://github.com/c-geek">cgeek</a>,
            <a href="https://github.com/devingfx">DiG</a>,
            <a href="https://github.com/blavenie">Benoit Lavenier</a>
          </h3>
        </div>
      </div>
      <div class="item item-complex item-icon-left item-text-wrap">
        <div class="item-content">
          <i class="item-image icon ion-bug"></i>
          <h2>{{'ABOUT.DEV_WARNING'|translate}}</h2>
          <span translate>ABOUT.DEV_WARNING_MESSAGE</span>
          <br/>
          <a href="{{config.newIssueUrl}}"
             target="_blank"
             translate>ABOUT.REPORT_ISSUE</a>
        </div>
      </div>

      <div class="padding hidden-xs text-center">
        <button class="button button-positive ink" type="submit"
                ng-click="closeModal()">
          {{'COMMON.BTN_CLOSE' | translate}}
        </button>
      </div>

    </div>
  </ion-content>
</ion-modal-view>
