<ion-modal-view class="modal-full-height">
  <ion-header-bar class="bar-positive">
    <button class="button button-clear visible-xs" ng-click="closeModal()" translate>COMMON.BTN_CANCEL
    </button>
    <h1 class="title" translate>LOGIN.TITLE</h1>
    <div class="buttons buttons-right">
      <span class="secondary-buttons">
        <button class="button button-positive button-icon button-clear icon ion-android-done visible-xs" ng-click="doLogin()">
        </button>

      </span>
    </div>

  </ion-header-bar>

  <ion-content>
    <form name="loginForm" novalidate="" ng-submit="doLogin()" autocomplete="off">

      <div class="list padding no-padding-xs" ng-init="setForm(loginForm)">

        <!-- avoid web browser to fill password automatically -->
        <input type="password" name="fake-password" style="visibility:hidden; position:absolute;"/>

        <!-- salt (=username, to enable browser login cache) -->
        <label class="item item-input"
               ng-class="{ 'item-input-error': form.$submitted && form.username.$invalid}">
          <span class="input-label hidden-xs" translate>LOGIN.SALT</span>
          <input name="username" type="password" placeholder="{{'LOGIN.SALT_HELP' | translate}}"
                 ng-model="formData.username"
                 ng-model-options="{ debounce: 650 }"
                 class="highlight-light"
                 required >
        </label>
        <div class="form-errors"
             ng-show="form.$submitted && form.username.$error"
             ng-messages="form.username.$error">
          <div class="form-error" ng-message="required">
            <span translate="ERROR.FIELD_REQUIRED"></span>
          </div>
        </div>

        <!-- password-->
        <label class="item item-input"
               ng-class="{ 'item-input-error': form.$submitted && form.password.$invalid}">
          <span class="input-label hidden-xs" translate>LOGIN.PASSWORD</span>
          <input name="password" type="password" placeholder="{{'LOGIN.PASSWORD_HELP' | translate}}"
                 ng-model="formData.password"
                 ng-model-options="{ debounce: 650 }"
                 select-on-click
                 required>
        </label>
        <div class="form-errors"
             ng-show="form.$submitted && form.password.$error"
             ng-messages="form.password.$error">
          <div class="form-error" ng-message="required">
            <span translate="ERROR.FIELD_REQUIRED"></span>
          </div>
        </div>


        <!-- remember me (checkbox) -->
        <ion-checkbox ng-model="formData.rememberMe"
                      class="item ink item-text-wrap">
          <div class="item-content dark" translate>SETTINGS.REMEMBER_ME</div>
          <h4 class="gray text-wrap">
            <span ng-bind-html="'SETTINGS.REMEMBER_ME_HELP' | translate"></span>
          </h4>
          <!--<h4 class="gray text-wrap"
              ng-class="{'assertive': formData.rememberMe}">
            <i class="icon ion-alert-circled" ng-if="formData.rememberMe"></i>
            <span ng-bind-html="'SETTINGS.REMEMBER_ME_HELP' | translate"></span>
          </h4>-->
        </ion-checkbox>


        <!-- Show public key -->
        <div class="item text-center no-margin item-icon-right item-text-wrap" style="min-height: 72px;">
          <h3 class="gray animate-show-hide ng-hide" ng-show="showPubkey" translate>LOGIN.ASSOCIATED_PUBKEY</h3>
          <h3>
            <a class="positive ink animate-show-hide ng-hide"
               ng-show="showComputePubkeyButton"
               ng-click="computePubkey()">
              <i class="ion-eye"></i>
              {{'COMMON.BTN_SHOW_PUBKEY' | translate}}
            </a>
            <span class="dark bold animate-show-hide ng-hide" ng-show="!computing">{{pubkey}}</span>
            <ion-spinner class="ion-spinner-small" icon="android" ng-if="computing"></ion-spinner>
          </h3>
          <a class="button button-icon positive button-small-padding  icon ion-ios-help-outline animate-show-hide ng-hide"
             ng-click="showHelpModal('login-pubkey')"
             ng-show="showPubkey">
          </a>
        </div>

      </div>

      <div class="padding hidden-xs text-right">
        <button class="button button-clear button-dark ink"
                ng-click="closeModal()" type="button" translate>COMMON.BTN_CANCEL
        </button>
        <button class="button button-positive ink" type="submit">
          {{'COMMON.BTN_LOGIN' | translate}}
        </button>
      </div>

      <!-- Register ? -->
      <div class="text-center no-padding">
        {{'LOGIN.NO_ACCOUNT_QUESTION'|translate}}
        <br class="visible-xs"/>
        <a ng-click="showJoinModal()" translate>
          LOGIN.CREATE_ACCOUNT
        </a>
      </div>

      <br class="visible-xs"/>

      <div class="text-center no-padding">
        <a ng-click="showAccountSecurityModal()" translate>
          LOGIN.FORGOTTEN_ID
        </a>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
