<div class="item item-avatar item-icon-right item-border-large item-wallet ink"
  ng-click="select($event, wallet)"
  ng-init="walletData=wallet.data;">

  <i ng-if="::!walletData.avatar" class="item-image icon"
     ng-class=":rebind:{'ion-card': !walletData.isMember, 'ion-persion': walletData.isMember}"></i>
  <i ng-if="::walletData.avatar" class="item-image avatar" style="background-image: url({{::walletData.avatar.src}})"></i>
  <i ng-hide=":rebind:wallet.isAuth()" class="icon-secondary assertive ion-locked" style="top: -16px; left: 66px; font-size: 20px;"></i>
  <h2>
    <span class="text-editable" ng-click="editWallet($event, wallet)" title="{{'ACCOUNT.WALLET_LIST.BTN_RENAME'|translate}}">
      <ng-if ng-if=":rebind:walletData.localName||walletData.name||walletData.uid" ng-bind-html="::walletData.localName||walletData.name||walletData.uid"></ng-if>
      <ng-if ng-if=":rebind:!walletData.localName && !walletData.name && !walletData.uid">{{::walletData.pubkey|formatPubkey}}</ng-if>
    </span>
  </h2>
  <h4 class="gray">
    <span class="positive" ng-if="::walletData.name && walletData.uid">
      <i class="ion-person"></i>
      {{::walletData.uid}}&nbsp;
    </span>
    <b class="ion-key"></b>
    {{::walletData.pubkey | formatPubkey}}
    <span ng-if="::!walletData.uid" class="assertive" translate>WOT.NOT_MEMBER_PARENTHESIS</span>
  </h4>

  <h4 class="dark">
    <span ng-if="walletData.invitations.unreadCount">
      <i class="dark ion-person-stalker"></i>
      {{walletData.invitations.unreadCount}}
    </span>
      <span ng-if="walletData.messages.unreadCount">
      <i class="dark ion-email"></i>
      {{walletData.messages.unreadCount}}
    </span>
    <span ng-if="walletData.notifications.unreadCount">
      <i class="dark ion-android-notifications"></i>
      {{walletData.notifications.unreadCount}}
    </span>
  </h4>

  <span class="badge" ng-if="formData.showBalance"
        ng-class=":rebind:{'badge-assertive': (walletData.balance <= 0), 'badge-balanced': (walletData.balance > 0) }">
      <span ng-bind-html=":rebind:walletData.balance|formatAmount:{useRelative: formData.useRelative, currency: currency}"></span>
  </span>

  <i class="icon ion-ios-arrow-right "></i>
</div>
