<div class="item item-avatar item-icon-right item-border-large item-wallet ink"
  ng-click="select($event, wallet)"
  ng-init="walletData=wallet.data;">

  <i ng-if=":rebind:!walletData.avatar" class="item-image icon"
     ng-class=":rebind:{'ion-card': !walletData.isMember, 'ion-person': walletData.isMember}"></i>
  <i ng-if=":rebind:walletData.avatar" class="item-image avatar" style="background-image: url({{::walletData.avatar.src}})"></i>
  <div class="badge badge-button badge-avatar badge-assertive ion-locked " ng-hide=":rebind:wallet.isAuth()">
  </div>

  <h2>
    <span class="text-editable" ng-click="editWallet($event, wallet)" title="{{'ACCOUNT.WALLET_LIST.BTN_RENAME'|translate}}">
      <ng-if ng-if=":rebind:walletData.localName||walletData.name||walletData.uid" ng-bind-html="::walletData.localName||walletData.name||walletData.uid"></ng-if>
      <ng-if ng-if=":rebind:!walletData.localName && !walletData.name && !walletData.uid">{{::walletData.pubkey|formatPubkey}}</ng-if>
    </span>
  </h2>
  <h4 class="gray">
    <span class="positive" ng-if="::walletData.name && walletData.uid">
      <i class="ion-person"></i>
      {{::walletData.uid}}&nbsp;
    </span>
    <b class="ion-key"></b>
    {{::walletData.pubkey | formatPubkey}}
    <span ng-if="::!walletData.uid" class="assertive" translate>WOT.NOT_MEMBER_PARENTHESIS</span>
  </h4>

  <cs-extension-point name="item-wallet"></cs-extension-point>

  <span class="badge" ng-if="formData.showBalance"
        ng-class=":rebind:{'badge-assertive': (walletData.balance <= 0), 'badge-balanced': (walletData.balance > 0) }">
      <span ng-bind-html=":rebind:walletData.balance|formatAmount:{useRelative: formData.useRelative, currency: currency}"></span>
  </span>

  <i class="icon ion-ios-arrow-right "></i>
</div>
