<div class="center padding" ng-if="loading">
  <ion-spinner icon="android"></ion-spinner>
</div>

<div class="center padding gray" ng-if="!loading && !wallets.length">
  {{:locale:'ACCOUNT.WALLET_LIST.NO_WALLET'|translate}}
</div>

<ion-list ng-if="!loading" class="{{::motion.ionListClass}}">
  <ng-repeat ng-repeat="wallet in wallets track by wallet.id">
    <div class="item item-avatar item-icon-right item-border-large item-wallet"
      ng-click="select(wallet)"
      ng-init="walletData=wallet.data;">

      <i ng-if="::!walletData.avatar" class="item-image icon"
         ng-class=":rebind:{'ion-card': !walletData.isMember, 'ion-persion': walletData.isMember}"></i>
      <i ng-if="::walletData.avatar" class="item-image avatar" style="background-image: url({{::walletData.avatar.src}})"></i>

      <h2>
        <ng-if ng-if="::walletData.name||walletData.uid" ng-bind-html="::walletData.name||walletData.uid"></ng-if>
        <ng-if ng-if="::!walletData.name && !walletData.uid">{{::walletData.pubkey|formatPubkey}}</ng-if>
      </h2>

      <h4 class="gray">
        <span class="positive" ng-if="::walletData.name && walletData.uid">
          <i class="ion-person"></i>
          {{::walletData.uid}}&nbsp;
        </span>
        <b class="ion-key"></b>
        {{::walletData.pubkey | formatPubkey}}
        <span ng-if="::!walletData.uid" class="assertive" translate>WOT.NOT_MEMBER_PARENTHESIS</span>
      </h4>

      <span class="badge"
            ng-class="{'badge-assertive': (walletData.balance <= 0), 'badge-balanced': (walletData.balance > 0) }">
          <span ng-bind-html="walletData.balance|formatAmount:{useRelative: true, currency: currency}"></span>
      </span>

      <i class="icon ion-ios-arrow-right "></i>
    </div>
  </ng-repeat>
</ion-list>
