// Cesiumicons Variables
// --------------------------

$cesiumicons-font-path: "../fonts" !default;
$cesiumicons-font-family: "Cesiumicons" !default;
$cesiumicons-version: "1.2" !default;
$cesiumicons-prefix: ion- !default;

$cesiumicon-var-social-duniter: "\e900";
$cesiumicon-var-social-diaspora: "\e915";
$cesiumicon-var-office: "\e903";
$cesiumicon-var-library: "\e921";
