<i class="icon item-image "
   ng-if="::!tx.avatar"
   ng-class="::{'ion-person dark': tx.uid, 'ion-card dark': !tx.uid}"></i>
<i class="avatar" ng-if="::tx.avatar" style="background-image: url({{::tx.avatar.src}})"></i>

<div class="row no-padding">
  <div class="col no-padding">
    <a class="" ui-sref="app.wot_identity({pubkey:tx.pubkey, uid:tx.uid})" ng-if="::tx.uid">
      {{::tx.name||tx.uid}}
    </a>
    <a class="gray" ui-sref="app.wot_identity({pubkey:tx.pubkey, uid:tx.uid})" ng-if="::!tx.uid && tx.pubkey">
      <i class="ion-key gray"></i>
      {{::tx.pubkey | formatPubkey}}
      <span ng-if="::tx.name"> - {{::tx.name | truncText:40}}</span>
    </a>
    <p class="dark visible-xs width-cup text-italic"
       data-toggle="tooltip"
       ng-if="::tx.comment"
       title="{{::tx.comment}}">
      <i class="ion-ios-chatbubble-outline"></i>
      {{::tx.comment}}<br/>
    </p>
    <h4>
      <a ng-if="::!pending" class="gray underline" ui-sref="app.view_block({number: tx.block_number})">
        {{::tx.time | medianFromNowAndDate: false}}
      </a>
      <span ng-if="::pending" class="gray">
        {{::tx.time | medianFromNowAndDate: false}}
      </span>
    </h4>
  </div>
  <div class="col col-50 no-padding" ng-if="::tx.comment">
    <p class="vertical-center gray text-italic hidden-xs"
       data-toggle="tooltip"
       title="{{::tx.comment}}">{{::tx.comment}}</p>
  </div>
  <div class="col col-10 no-padding">

    <!-- not locked TX -->
    <span ng-if="::!tx.lockedOutputs" class="badge item-note" ng-class="{'badge-calm': tx.amount > 0}">
      <span ng-bind-html=":rebind:tx.amount| formatAmount:{currency:$root.currency.name}"></span>
    </span>

    <!-- Locked TX -->
    <a ng-if=":rebind:tx.lockedOutputs"
       class="badge item-note"
       ng-class="{'badge-calm': tx.amount > 0}"
       ng-click="showLockedOutputsPopover(tx, $event)">
      <b class="ion-locked" ></b>
      <span ng-bind-html=":rebind:tx.amount| formatAmount:{currency:$root.currency.name}"></span>
    </a>

    <div class="badge badge-secondary" ng-if="$root.settings.expertMode">
      (<span ng-bind-html=":rebind:tx.amount| formatAmount:{useRelative: !$root.settings.useRelative, currency:$root.currency.name}"></span>)
    </div>
  </div>
</div>
