<ion-view left-buttons="leftButtons"
          id="transfer">
  <ion-nav-title>
    <span translate>TRANSFER.TITLE</span>
  </ion-nav-title>

  <ion-nav-buttons side="secondary">
      <button class="button button-icon button-clear icon ion-android-send visible-xs" ng-click="doTransfer()">
      </button>
  </ion-nav-buttons>

  <ion-content class="no-padding-xs">
    <div class="scroll">
      <ng-include src="'templates/wallet/transfer_form.html'"></ng-include>

      <div class="scroll-bar scroll-bar-v"></div>
    </div>
  </ion-content>
</ion-view>
