  <form name="transferForm" novalidate=""
        ng-submit="doTransfer()">

    <div class="list" ng-init="setForm(transferForm)">

      <a class="item item-icon-right gray ink"
         ng-class="{'item-input-error': form.$submitted && !formData.destPub}"
         ng-click="showWotLookupModal()">
          <span class="gray" translate>TRANSFER.TO</span>
          <span class="badge badge-royal animate-fade-in animate-show-hide ng-hide" ng-show="destUid" >
            <i class="ion-person"></i> {{destUid}}
          </span>&nbsp;
          <span class="badge badge-royal " ng-show="!destUid && formData.destPub">
            <i class="ion-key"></i> {{formData.destPub | formatPubkey}}
          </span>
        <i class="gray icon ion-ios-arrow-right"></i>
      </a>
      <div class="form-errors"
           ng-if="form.$submitted && !formData.destPub">
        <div class="form-error">
          <span translate="ERROR.FIELD_REQUIRED"></span>
        </div>
      </div>

      <span class="item item-text-wrap">
          <span class="gray" translate>TRANSFER.FROM</span>
          <span class="badge"
              ng-class="{'badge-assertive': (convertedBalance <= 0 || (formData.amount && convertedBalance < formData.amount)), 'badge-balanced': (convertedBalance > 0 && (!formData.amount || convertedBalance >= formData.amount)) }">
              <ion-spinner icon="android" ng-if="!$root.walletData.pubkey"></ion-spinner>
              <span ng-if="$root.walletData.pubkey && !$root.walletData.isMember">
                <i class="ion-key"></i> {{$root.walletData.pubkey| formatPubkey}}&nbsp;&nbsp;
              </span>
              <span ng-if="$root.walletData.isMember">
                <i class="ion-person"></i> {{$root.walletData.name||$root.walletData.uid}}&nbsp;&nbsp;
              </span>
              <span ng-bind-html="$root.walletData.balance|formatAmount:{useRelative: formData.useRelative, currency:currency}"></span>
          </span>
      </span>

      <!-- Amount -->
      <ion-item class="item-input item-floating-label item-button-right"
                ng-class="{'item-input-error': form.$submitted && form.amount.$invalid}">
        <div class="input-label">
          <span translate>TRANSFER.AMOUNT</span>
          (<span ng-bind-html="currency | currencySymbol:formData.useRelative"></span>)
        </div>
        <input type="text"
               keyboard-attach=""
               name="amount" placeholder="{{::'TRANSFER.AMOUNT_HELP' | translate}} ({{currency | currencySymbolNoHtml:formData.useRelative}})" ng-model="formData.amount"
               required number-float>
        <span class="gray button button-block icon ion-arrow-swap hidden-xs hidden-sm" ng-click="showUnitPopover($event)">
        </span>
        <span class="gray button button-block button-icon visible-xs visible-sm" ng-click="showUnitPopover($event)">
          <i class="icon ion-android-more-vertical"></i>
        </span>
      </ion-item>
      <div class="form-errors"
           ng-show="form.$submitted && form.amount.$error"
           ng-messages="form.amount.$error">
        <div class="form-error" ng-message="required">
          <span translate="ERROR.FIELD_REQUIRED"></span>
        </div>
        <div class="form-error" ng-message="numberFloat">
          <span translate="ERROR.FIELD_NOT_NUMBER"></span>
        </div>
        <div class="form-error" ng-message="numberInt">
          <span translate="ERROR.FIELD_NOT_INT"></span>
        </div>
      </div>

      <!-- Enable comment ? -->
      <div class="item item-content item-toggle dark visible-xs visible-sm">
        <span class="input-label gray">{{'TRANSFER.BTN_ADD_COMMENT' | translate}}</span>
        <label class="toggle toggle-royal">
          <input type="checkbox" ng-model="formData.useComment">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>

      <!-- Comment -->
      <label class="item item-input item-floating-label hidden-xs hidden-sm"
             ng-class="{'item-input-error': form.$submitted && form.comment.$invalid}">
        <span class="input-label">{{'TRANSFER.COMMENT' | translate}}</span>
        <textarea placeholder="{{'TRANSFER.COMMENT_HELP' | translate}}"
                  name="comment"
                  ng-model="formData.comment"
                  ng-maxlength="255"
                  ng-pattern="commentPattern">
        </textarea>
      </label>
      <label class="item item-input item-floating-label visible-xs visible-sm"
             ng-if="formData.useComment"
             ng-class="{'item-input-error': form.$submitted && form.comment.$invalid}">
        <span class="input-label">{{'TRANSFER.COMMENT' | translate}}</span>
        <textarea placeholder="{{'TRANSFER.COMMENT_HELP' | translate}}"
                  name="comment"
                  ng-model="formData.comment"
                  ng-maxlength="255"
                  ng-pattern="commentPattern">
        </textarea>
      </label>
      <div class="form-errors"
           ng-show="form.$submitted && form.comment.$error"
           ng-messages="form.comment.$error">
        <div class="form-error" ng-message="maxlength">
          <span translate="ERROR.FIELD_TOO_LONG"></span>
        </div>
        <div class="form-error" ng-message="pattern">
          <span translate="ERROR.FIELD_ACCENT"></span>
        </div>
      </div>

    </div>

    <div class="padding hidden-xs text-right">
      <button class="button button-small button-clear button-dark ink"
              ng-click="cancel()" type="button" translate>COMMON.BTN_CANCEL
      </button>
      <button class="button button-small button-positive ink" type="submit">
        {{'TRANSFER.BTN_SEND' | translate}}
      </button>
    </div>
  </form>

