  <form name="transferForm" novalidate="" ng-submit="doTransfer()">

    <div class="list" ng-init="setTransferForm(transferForm)">

      <a class="item item-button-right gray ink" ng-click="openWotLookup()">
          <span class="gray" translate>TRANSFER.TO</span>
          <span class="badge badge-royal">{{dest | formatPubkey}}</span>&nbsp;
          <i class="button button-clear ion-chevron-right"></i>
      </a>

      <span class="item item-text-wrap">
          <span class="gray" translate>TRANSFER.FROM</span>
          <span class="badge"
              ng-class="{'badge-assertive': (convertedBalance <= 0 || (formData.amount && convertedBalance < formData.amount)), 'badge-balanced': (convertedBalance > 0 && (!formData.amount || convertedBalance >= formData.amount)) }">
              {{walletData.pubkey| formatPubkey}}&nbsp;/&nbsp;
              <span ng-if="!formData.useRelative">{{convertedBalance | formatInteger}} {{unit | abbreviate}}</span>
              <span ng-if="formData.useRelative">{{convertedBalance | formatDecimal}} {{unit | abbreviate}}<sub>{{udUnit | abbreviate}}</sub></span>
          </span>
      </span>

      <div class="item item-input item-floating-label" ng-if="!formData.useRelative">
          <span class="input-label">{{'TRANSFER.AMOUNT' | translate}} ({{unit | abbreviate}}<sub>{{udUnit | abbreviate}}</sub>)</span>
          <input type="number" placeholder="{{'TRANSFER.AMOUNT_HELP' | translate}} ({{unit | abbreviate}}{{udUnit | abbreviate}})"
                 ng-model="formData.amount" required>
      </div>

      <div class="item item-input item-floating-label" ng-if="formData.useRelative">
          <span class="input-label">{{'TRANSFER.AMOUNT' | translate}} ({{unit | abbreviate}}<sub>{{udUnit | abbreviate}}</sub>)</span>
          <input type="text" placeholder="{{'TRANSFER.AMOUNT_HELP' | translate}} ({{unit | abbreviate}}{{udUnit | abbreviate}})" ng-model="formData.amount"
                 required>
      </div>


      <div class="item item-content item-toggle dark">
        <h4 class="gray">{{'TRANSFER.BTN_RELATIVE_UNIT' | translate}}</h4>
        <label class="toggle toggle-royal">
          <input type="checkbox" ng-model="formData.useRelative">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>

      <label class="item item-input">
          <textarea placeholder="{{'TRANSFER.COMMENTS_HELP' | translate}}" ng-model="formData.comments"></textarea>
      </label>
    </div>

    <div class="padding hidden-xs text-right">
      <button class="button button-small button-clear button-dark ink" ng-click="closeTransfer()" type="button" translate>COMMON.BTN_CANCEL
      </button>
      <button class="button button-small button-positive ink" type="submit">
        {{'TRANSFER.BTN_SEND' | translate}}
      </button>
    </div>
  </form>

