<form name="transferForm" novalidate=""
      ng-submit="doTransfer()">

  <div class="list no-padding-xs" ng-init="setForm(transferForm)">

    <!-- dest -->
    <ion-item class="item-icon-right gray ink"
              ng-class="{'item-input-error': form.$submitted && !formData.destPub}"
              tabindex="1"
              ng-click="showWotLookupModal()">
      <span class="gray" translate>TRANSFER.TO</span>
      <span class="badge badge-royal animate-fade-in animate-show-hide ng-hide" ng-show="destUid">
            <i class="ion-person"></i> {{destUid}}
          </span>&nbsp;
      <span class="badge badge-royal " ng-show="!destUid && formData.destPub">
            <i class="ion-key"></i> {{formData.destPub | formatPubkey}}
          </span>
      <i class="gray icon ion-ios-arrow-right"></i>
    </ion-item>
    <div class="form-errors"
         ng-if="form.$submitted && !formData.destPub">
      <div class="form-error">
        <span translate="ERROR.FIELD_REQUIRED"></span>
      </div>
    </div>

    <!-- from -->
    <ion-item class="item-text-wrap ink"
              ng-class="{'item-icon-right': enableSelectWallet}"
              tabindex="2"
              ng-click="showSelectWalletModal()">
      <span class="gray" translate>TRANSFER.FROM</span>
      <span class="badge item-note" ng-if="loading"><ion-spinner class="ion-spinner-small" icon="android" ></ion-spinner></span>
      <span class="badge animate-fade-in animate-show-hide ng-hide" ng-show="!loading"
          ng-class="{'badge-assertive': (convertedBalance <= 0 || form.amount.$error.max), 'badge-balanced': (convertedBalance > 0 && (!form.amount.$error.max)) }">

          <span ng-if="walletData.pubkey && !walletData.isMember">
            <i class="ion-key"></i> {{walletData.pubkey| formatPubkey}}&nbsp;&nbsp;
          </span>
          <span ng-if="walletData.isMember">
            <i class="ion-person"></i> {{walletData.name||walletData.uid}}&nbsp;&nbsp;
          </span>
          <span
            ng-bind-html="walletData.balance|formatAmount:{useRelative: formData.useRelative, currency:currency}"></span>
      </span>
      <i class="gray icon ion-ios-arrow-right" ng-if="enableSelectWallet"></i>
    </ion-item>
    <div class="form-errors ng-hide" ng-show="!loading && walletData.pubkey && walletData.balance <= 0">
      <div class="form-error">
        <span translate="ERROR.NOT_ENOUGH_CREDIT"></span>
      </div>
    </div>

    <!-- Amount -->
    <ion-item class="item-input item-floating-label item-button-right"
              ng-class="{'item-input-error': form.$submitted && form.amount.$invalid}">
      <div class="input-label">
        <span translate>TRANSFER.CHEQUE_AMOUNT</span>
        (<span ng-bind-html="$root.currency.name | currencySymbol:formData.useRelative"></span>)
      </div>
      <input type="text"
             tabindex="3"
             autocomplete="off"
             class="hidden-device"
             name="amount"
             placeholder="{{::'TRANSFER.CHEQUE_AMOUNT_HELP' | translate}}"
             ng-model="formData.amount"
             required
             number-float>

      <!-- mobile: come OVER the input -->
      <input type="text"
             tabindex="-1"
             autocomplete="off"
             class="hidden-no-device"
             name="amount"
             placeholder="{{::'TRANSFER.CHEQUE_AMOUNT_HELP' | translate}}"
             ng-model="formData.amount"
             required
             number-float>
      <!-- This div will catch click event, to open digit keyboard -->
      <div class="block hidden-no-device"
           style="position:absolute; opacity:0; z-index:100; top: 0; left: 0; height: 100%; width: 100%;"
           tabindex="4"
           ng-click="showDigitKeyboard()"></div>

      <a class="button button-clear button-stable dark ink"
         tabindex="-1"  style="z-index:110; padding: 0px 16px;"
         ng-click="showUnitPopover($event)">
        <span ng-bind-html="$root.currency.name | currencySymbol:formData.useRelative">
        </span>
        &nbsp;<b class="ion-arrow-down-b" style="font-size: 12pt;"></b>
      </a>

    </ion-item>
    <div class="form-errors"
         ng-show="form.$submitted && form.amount.$error"
         ng-messages="form.amount.$error">
      <div class="form-error" ng-message="required">
        <span translate="ERROR.FIELD_REQUIRED"></span>
      </div>
      <div class="form-error" ng-message="numberFloat">
        <span translate="ERROR.FIELD_NOT_NUMBER"></span>
      </div>
      <div class="form-error" ng-message="numberInt">
        <span translate="ERROR.FIELD_NOT_INT"></span>
      </div>
      <div class="form-error" ng-message="min">
        <span translate="ERROR.FIELD_MIN" translate-values="{min: minAmount}"></span>
      </div>
      <div class="form-error" ng-message="max">
        <span translate="ERROR.NOT_ENOUGH_CREDIT"></span>
      </div>
    </div>


    <!-- rest -->
    <a class="item item-icon-right gray ink"
       ng-class="{'item-input-error': form.$submitted && !formData.destPub}"
       ng-click="showWotLookupModal('restPub')"
       tabindex="5"
       ng-if="formData.all && formData.restAmount">
        <span class="gray">
          <i translate>TRANSFER.REST</i>
          <ng-if ng-if="formData.restAmount">(<i
            ng-bind-html="formData.restAmount|formatAmount:{useRelative: formData.useRelative, currency:currency}"></i>)</ng-if>
          <i translate>TRANSFER.REST_TO</i>
        </span>
      <span class="badge badge-royal animate-fade-in animate-show-hide ng-hide" ng-show="restUid">
            <i class="ion-person"></i> {{restUid}}
          </span>&nbsp;
      <span class="badge badge-royal " ng-show="!restUid && formData.restPub">
            <i class="ion-key"></i> {{formData.restPub | formatPubkey}}
          </span>
      <i class="gray icon ion-ios-arrow-right"></i>
    </a>
    <div class="form-errors"
         ng-if="form.$submitted && formData.all && !formData.restPub && formData.restAmount &gt; 0">
      <div class="form-error">
        <span translate="ERROR.FIELD_REQUIRED"></span>
      </div>
    </div>

    <!-- Enable comment ? -->
    <div class="pull-right visible-xs visible-sm" ng-if="!formData.useComment">
      <a class="button button-text button-small ink"
         tabindex="-1"
         ng-click="addComment()">
        <i class="icon ion-plus"></i>
        <span translate>TRANSFER.BTN_ADD_COMMENT</span>
      </a>
    </div>

    <!-- Comment -->
    <label class="item item-input item-floating-label hidden-xs hidden-sm"
           ng-class="{'item-input-error': form.$submitted && form.comment.$invalid}">
      <span class="input-label">{{'TRANSFER.COMMENT' | translate}}</span>
      <input type="text" placeholder="{{'TRANSFER.COMMENT_HELP' | translate}}"
             name="comment"
             tabindex="6"
             autocomplete="off"
             ng-model="formData.comment"
             ng-maxlength="255"
             ng-pattern="commentPattern">
    </label>
    <label class="item item-input item-floating-label visible-xs visible-sm"
           ng-if="formData.useComment"
           ng-class="{'item-input-error': form.$submitted && form.comment.$invalid}">
      <span class="input-label">{{'TRANSFER.COMMENT' | translate}}</span>
      <input type="text" placeholder="{{'TRANSFER.COMMENT_HELP' | translate}}"
             id="{{commentInputId}}"
             tabindex="7"
             name="comment"
             autocomplete="off"
             ng-model="formData.comment"
             ng-model-options="{ debounce: 650 }"
             ng-maxlength="255"
             ng-pattern="commentPattern"
             ng-focus="hideDigitKeyboard()">
    </label>
    <div class="form-errors"
         ng-show="form.comment.$error"
         ng-messages="form.comment.$error">
      <div class="form-error" ng-message="maxlength">
        <span translate="ERROR.FIELD_TOO_LONG"></span>
      </div>
      <div class="form-error" ng-message="pattern">
        <span translate="ERROR.FIELD_ACCENT"></span>
      </div>
    </div>

    <!-- Warn comment is public -->
    <div class="item item-icon-left item-text-wrap item-no-border hidden-xs hidden-sm">
      <div class=" animate-fade-in animate-show-hide ng-hide"
           ng-show="formData.comment && formData.comment.length || form.comment.$invalid">
        <i class="icon ion-android-alert positive"></i>
        <h4 class="positive" translate>TRANSFER.WARN_COMMENT_IS_PUBLIC</h4>
      </div>
    </div>
    <div class="item item-icon-left item-text-wrap item-no-border visible-xs visible-sm" ng-if="formData.useComment">
      <i class="icon ion-android-alert positive"></i>
      <h4 class="positive" translate>TRANSFER.WARN_COMMENT_IS_PUBLIC</h4>
    </div>


  </div>

  <div class="padding hidden-xs text-right">
    <button class="button button-clear button-dark ink"
            tabindex="-1"
            ng-click="cancel()" type="button" translate>COMMON.BTN_CANCEL
    </button>
    <button class="button ink"
            tabindex="8"
            ng-class="{'button-assertive': formData.all, 'button-positive': !formData.all}"
            ng-disabled="loading"
            type="submit" translate>
      TRANSFER.BTN_SEND
    </button>
  </div>
</form>


