<ion-view left-buttons="leftButtons"
          class="view-wallet-tx">
  <ion-nav-title>
    <!-- no title-->
  </ion-nav-title>

  <ion-nav-buttons side="secondary">
    <cs-extension-point name="nav-buttons"></cs-extension-point>

    <button class="button button-icon button-clear icon ion-loop visible-xs visible-sm" ng-click="doUpdate()">
    </button>
  </ion-nav-buttons>

  <ion-content scroll="true" bind-notifier="{ rebind:settings.useRelative, locale:settings.locale.id}">
    <div class="positive-900-bg hero">
      <div class="content" ng-if="!loading">
        <h1 class="light">
          <span ng-bind-html=":balance:rebind:formData.balance | formatAmount"></span>
          <span ng-bind-html=":rebind:unit"></span>

        </h1>
        <h4 ng-if="!loading && $root.settings.expertMode"
               style="font-style: italic;">
          (<span ng-bind-html=":balance:rebind:formData.balance | formatAmount:{useRelative:!$root.settings.useRelative}"></span>
          <span ng-bind-html=":rebind:secondaryUnit"></span>)
        </h4>
        <div class="helptip-anchor-center">
          <a id="helptip-wallet-balance">&nbsp;</a>
        </div>
      </div>

      <h2 class="content light" ng-if="loading">
        <ion-spinner icon="android"></ion-spinner>
      </h2>
    </div>

    <!-- Buttons bar-->
    <div class="hidden-xs hidden-sm padding text-center" ng-if="!loading">

      <button class="button button-stable button-small-padding icon ion-loop ink"
              ng-click="doUpdate()"
              title="{{'COMMON.BTN_REFRESH' | translate}}">
      </button>

      <button class="button button-stable button-small-padding icon ion-android-download ink"
              ng-click="downloadHistoryFile()"
              title="{{'COMMON.BTN_DOWNLOAD_ACCOUNT_STATEMENT' | translate}}">
      </button>

      <cs-extension-point name="buttons"></cs-extension-point>

      &nbsp;&nbsp;

      <button class="button button-calm ink"
              ng-click="showTransferModal()">
        {{:locale:'COMMON.BTN_SEND_MONEY' | translate}}
      </button>
  </div>

    <div class="row no-padding">

      <div class="col col-15 hidden-xs hidden-sm">&nbsp;</div>

      <div class="col">

        <div class="list" ng-class="::motion.ionListClass">

          <!-- Errors transactions-->
          <a class="item item-icon-left item-icon-right ink" ng-if="formData.tx.errors && formData.tx.errors.length" ui-sref="app.view_wallet_tx_errors">
            <i class="icon ion-alert-circled"></i>
            {{:locale:'ACCOUNT.ERROR_TX'|translate}}
            <div class="badge badge-assertive">
              {{formData.tx.errors.length}}
            </div>
            <i class="gray icon ion-ios-arrow-right"></i>
          </a>

          <!-- Pending transactions -->
          <span class="item item-pending item-divider" ng-if="formData.tx.pendings && formData.tx.pendings.length">
            {{:locale:'ACCOUNT.PENDING_TX'|translate}}
          </span>

          <div class="item item-pending item-tx item-icon-left"
               ng-repeat="tx in formData.tx.pendings"
               ng-init="pending=true;"
               ng-include="'templates/wallet/item_tx.html'">
          </div>

          <!-- Last Transactions -->
          <span class="item item-divider" ng-if="!loading">
            {{:locale:'ACCOUNT.LAST_TX'|translate}}
            <a id="helptip-wallet-tx" style="position: relative; bottom: 0; right: 0px;">&nbsp;</a>
          </span>


          <span class="item padding" ng-if="!loading && !formData.tx.history.length">
            <span class="gray">{{:locale:'ACCOUNT.NO_TX'|translate}}</span>
          </span>


          <div ng-repeat="tx in formData.tx.history"
               class="item item-tx item-icon-left"
               ng-include="'templates/wallet/item_tx.html'">
          </div>
          <div class="item item-text-wrap text-center" ng-if="formData.tx.fromTime > 0">
            <p>
              <a ng-click="showMoreTx()">{{:locale:'ACCOUNT.SHOW_MORE_TX'|translate}}</a>
              <span class="gray" translate="ACCOUNT.TX_FROM_DATE" translate-values="{fromTime: formData.tx.fromTime}"></span>
              <span class="gray">|</span>
              <a ng-click="showMoreTx(-1)" translate>ACCOUNT.SHOW_ALL_TX</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col col-15 hidden-xs hidden-sm">&nbsp;</div>

    </div>


    </div>
  </ion-content>

  <button id="fab-transfer"
          ng-if="formData"
          class="button button-fab button-fab-bottom-right button-energized-900 hidden-md hidden-lg drop"
          ng-click="showTransferModal()">
    <i class="icon ion-android-send"></i>
  </button>
</ion-view>
