<ion-view left-buttons="leftButtons"
          id="wallet">
  <ion-nav-title>
    <!-- no title-->
  </ion-nav-title>

  <ion-nav-buttons side="secondary">

    <button class="button button-icon button-clear icon ion-loop" ng-click="doUpdate()">
    </button>
    <button class="button button-icon button-clear" ng-click="actionsPopover.show($event)">
      <i class="icon ion-android-more-vertical"></i>
    </button>
  </ion-nav-buttons>

  <ion-content scroll="true">
    <div class="positive-900-bg hero"
         id="wallet-header"
         ng-class="{'hero-qrcode-active': toggleQRCode}">
      <div class="content" ng-if="!loading">
        <i class="avatar"
           ng-style="walletData.avatarStyle"
           ng-class="{'avatar-wallet': !walletData.avatarStyle && !walletData.isMember, 'avatar-member': !walletData.avatarStyle && walletData.isMember}">
        </i>
        <h3 class="light" ng-if="walletData.name">{{walletData.name}}</h3>
        <h3 class="light" ng-if="!walletData.name && walletData.isMember">{{walletData.uid}}</h3>
        <h3 class="light" ng-if="!walletData.name && !walletData.isMember">{{::walletData.pubkey | formatPubkey}}</h3>
        <h4 class="light">
            <span ng-if="!$root.settings.useRelative">{{convertedBalance | formatInteger}} {{walletData.parameters.currency | abbreviate}}</span>
            <span ng-if="$root.settings.useRelative">{{convertedBalance | formatDecimal}} {{'COMMON.UD' | translate}}<sub>{{walletData.parameters.currency | abbreviate}}</sub></span>
        </h4>
      </div>
      <h4 class="content light" ng-if="loading">
        <ion-spinner icon="android"></ion-spinner>
      </h4>
    </div>

    <div id="qrcode" class="qrcode visible-xs visible-sm spin"
         ng-class="{'active': toggleQRCode}"
         ng-click="toggleQRCode = !toggleQRCode"></div>

    <!-- Buttons bar-->
    <div class="hidden-xs hidden-sm padding text-center"
         ng-if="convertedBalance">
      <button class="button button-raised button-calm ink-dark"
              ng-click="showTransferModal()">
        {{'COMMON.BTN_SEND_MONEY' | translate}}
      </button>

      <button class="button button-raised icon-left ion-loop ink"
              ng-if="walletData.requirements.needRenew"
              ng-click="membershipRenew()">
        {{'ACCOUNT.BTN_MEMBERSHIP_RENEW' | translate}}
      </button>
    </div>

    <div class="row no-padding">
      <div class="col col-20 hidden-xs hidden-sm">&nbsp;</div>

      <div class="col list animate-fade-slide-in-right">

        <!-- Certifications -->
        <a class="item item-icon-left item-icon-right item-text-wrap ink" ng-if="walletData.isMember && walletData.requirements.certificationCount > 0"
           ui-sref="app.wot_view_cert({pubkey:walletData.pubkey})">
          <i class="icon ion-ribbon-b"></i>
          <span clas="input-label">{{'ACCOUNT.CERTIFICATION_COUNT'|translate}}</span>
          <span class="badge"
                ng-class="{'badge-balanced': walletData.requirements.needCertificationCount==0 && walletData.requirements.willNeedCertificationCount==0, 'badge-assertive': walletData.requirements.needCertificationCount>0 || walletData.requirements.willNeedCertificationCount>0}">{{walletData.requirements.certificationCount}}</span>
          <i class="gray icon ion-ios-arrow-right"></i>
        </a>


        <!-- Public key -->
        <span class="item item-icon-left item-text-wrap ink in done"
                  ng-if="showDetails"
                  on-hold="copy(walletData.pubkey)"
                  copy-on-click>
          <i class="icon ion-key"></i>
          <h4 id="pubkey" class="dark">{{::walletData.pubkey}}</h4>
        </span>

        <!-- Errors transactions-->
        <a class="item item-icon-left item-icon-right ink" ng-if="walletData.tx.errors && walletData.tx.errors.length" ui-sref="app.view_wallet_tx_errors">
          <i class="icon ion-alert-circled"></i>
          <span translate>ACCOUNT.ERROR_TX</span>
          <div class="badge badge-assertive">
            {{walletData.tx.errors.length}}
          </div>
          <i class="gray icon ion-ios-arrow-right"></i>
        </a>

        <!-- Events -->
        <span class="item item-divider" ng-if="walletData.requirements.pendingMembership||walletData.requirements.needCertificationCount > 0||walletData.requirements.willNeedCertificationCount > 0">
          {{'ACCOUNT.EVENTS' | translate}}
        </span>

        <span class="item item-text-wrap" ng-if="walletData.requirements.pendingMembership">
          <h3>
            <i class="icon ion-clock"></i>
            {{'ACCOUNT.WAITING_MEMBERSHIP' | translate}}
          </h3>
        </span>
        <span class="item item-text-wrap" ng-if="walletData.requirements.needCertificationCount > 0">
          <h3>
            <i class="icon ion-alert-circled"></i>
            {{'ACCOUNT.WAITING_CERTIFICATIONS' | translate:walletData.requirements}}
          </h3>
        </span>
        <span class="item item-text-wrap" ng-if="walletData.requirements.willNeedCertificationCount > 0">
          <h3>
            <i class="icon ion-alert-circled"></i>
            {{'ACCOUNT.WILL_MISSING_CERTIFICATIONS' | translate:walletData.requirements}}
          </h3>
        </span>
        <span class="item item-text-wrap" ng-if="walletData.requirements.needRenew">
          <h3>
            <i class="icon ion-alert-circled"></i>
            {{'ACCOUNT.WILL_NEED_RENEW_MEMBERSHIP' | translate:walletData.requirements}}
          </h3>
        </span>

        <!-- Pending transactions -->
        <span class="item item-pending item-divider" ng-if="walletData.tx.pendings && walletData.tx.pendings.length">
          <span translate>ACCOUNT.PENDING_TX</span>
          <div class="badge item-note">
            <span ng-if="!$root.settings.useRelative">({{walletData.parameters.currency | abbreviate}})</span>
            <span ng-if="$root.settings.useRelative">({{'COMMON.UD' | translate}}<sub>{{walletData.parameters.currency | abbreviate}}</sub>)</span>
          </div>
        </span>

        <span class="item item-pending ink item-badge-right" ng-repeat="tx in walletData.tx.pendings">
          <h2>
            <i class="icon ion-clock"> </i>
            <a ui-sref="app.wot_view_identity({pubkey:tx.pubkey, uid:tx.uid})" class="positive">
              <span ng-if="tx.uid">
                <i class="icon ion-person"></i>
                {{::tx.uid}}
              </span>
              <span ng-if="!tx.uid && !tx.isUD">
                <i class="icon ion-key"></i>
                {{::tx.pubkey | formatPubkey}}
              </span>
            </a>
            <span ng-if="tx.comment" class="dark hidden-xs item-text-wrap" >&nbsp;
              <i class="icon ion-ios-chatbubble-outline"></i>
              <smaller>{{::tx.comment}}</smaller>
            </span>
          </h2>
          <h3 ng-if="tx.comment" class="dark visible-xs item-text-wrap">
            <i class="icon ion-ios-chatbubble-outline"></i>
            {{::tx.comment}}<br/>
          </h3>
          <h3 class="dark" ng-if="tx.time">
            {{::tx.time | formatFromNow}}
            <span class="gray hidden-xs">|
              {{::tx.time | formatDate}}
            </span>
          </h3>
          <div class="badge badge-pending item-note"
               ng-class="{'badge-balanced': tx.amount > 0}">
            <span ng-if="!$root.settings.useRelative">{{::tx.amount | formatInteger}}</span>
            <span ng-if="$root.settings.useRelative">{{::tx.amount/walletData.currentUD | formatDecimal}}</span>
          </div >
        </span>

        <!-- Last Transactions -->
        <span class="item item-divider" ng-if="!loading">
          <span translate>ACCOUNT.LAST_TX</span>
          <div class="badge item-note">
            <span ng-if="!$root.settings.useRelative">({{walletData.parameters.currency | abbreviate}})</span>
            <span ng-if="$root.settings.useRelative">({{'COMMON.UD' | translate}}<sub>{{walletData.parameters.currency | abbreviate}}</sub>)</span>
          </div>
        </span>


        <span class="item" ng-if="!loading && !walletData.tx.history.length">
          <h3 translate>ACCOUNT.NO_TX</h3>
        </span>

        <!-- TX history -->
        <span class="item item-badge-right"
              ng-repeat="tx in walletData.tx.history">
        <!-- TODO Use collection-repeat : but scrollbars are not visible on browsers
        <span class="item item-badge-right"
              collection-repeat="tx in walletData.tx.history"
              collection-item-height="74">
        -->
          <h2>
            <a ui-sref="app.wot_view_identity({pubkey:tx.pubkey, uid:tx.uid})" class="positive">
              <span ng-if="tx.uid">
                <i class="icon ion-person"></i>
                {{::tx.uid}}
              </span>
              <span ng-if="!tx.uid && !tx.isUD">
                <i class="icon ion-key"></i>
                {{::tx.pubkey | formatPubkey}}
              </span>
            </a>
            <span class="dark" ng-if="tx.isUD">
              <i class="icon ion-arrow-up-c"></i>
              {{'COMMON.UNIVERSAL_DIVIDEND' | translate}}
            </span>
            <span ng-if="tx.comment" class="dark hidden-xs item-text-wrap" >&nbsp;
              <i class="icon ion-ios-chatbubble-outline"></i>
              <smaller>{{::tx.comment}}</smaller>
            </span>
          </h2>
          <h3 ng-if="tx.comment" class="dark visible-xs item-text-wrap">
            <i class="icon ion-ios-chatbubble-outline"></i>
            {{::tx.comment}}<br/>
          </h3>
          <h3 class="dark">
            {{::tx.time | formatFromNow}}
            <span class="gray hidden-xs">|
              {{::tx.time | formatDate}}
            </span>
          </h3>
          <div class="badge item-note"
               ng-class="{'badge-balanced': tx.amount > 0}">
            <span ng-if="!$root.settings.useRelative">{{::tx.amount | formatInteger}}</span>
            <span ng-if="$root.settings.useRelative">{{::tx.amount/walletData.currentUD | formatDecimal}}</span>
          </div >
        </span>
      </div>

      <div class="col col-20 hidden-xs hidden-sm">&nbsp;
      </div>
    </div>
  </ion-content>

  <button id="fab-transfer"
          ng-if="walletData"
          class="button button-fab button-fab-bottom-right button-energized-900 hidden-md hidden-lg drop"
          ng-click="showTransferModal()">
    <i class="icon ion-android-send"></i>
  </button>
</ion-view>
