<ion-view left-buttons="leftButtons"
          class="view-wallet-tx-error">
  <ion-nav-title>
    <!-- no title-->
  </ion-nav-title>

  <ion-nav-buttons side="secondary">
    <cs-extension-point name="nav-buttons"></cs-extension-point>
  </ion-nav-buttons>

  <ion-content scroll="true"
               class="refresher-top-bg"
               bind-notifier="{ rebind:settings.useRelative, locale:settings.locale.id}">

    <ion-refresher pulling-text="{{'COMMON.BTN_REFRESH' | translate}}"
                   on-refresh="doUpdate(true)">
    </ion-refresher>

    <!-- Buttons bar -->
    <div class="hidden-xs hidden-sm padding text-center">

      <button class="button button-stable button-small-padding icon ion-loop ink"
              ng-click="doUpdate()"
              title="{{'COMMON.BTN_REFRESH' | translate}}">
      </button>
    </div>

    <div class="row no-padding">
      <div class="col col-10 hidden-xs hidden-sm hidden-md">&nbsp;
      </div>

      <div class="col list {{::motion.ionListClass}}">

        <!-- Pending received TX -->
        <div class="item item-divider" >
          <span>
           <b class="ion-clock"> </b>
           {{:locale:'ACCOUNT.PENDING_TX_RECEIVED'|translate}}
          </span>
          <div class="badge item-note">
            <span ng-if="!$root.settings.useRelative">({{$root.currency.name | abbreviate}})</span>
            <span ng-if="$root.settings.useRelative">({{'COMMON.UD' | translate}}<sub>{{$root.currency.name | abbreviate}}</sub>)</span>
          </div>
        </div>

        <span class="item padding" ng-if="!loading && !hasReceivedTx()">
            <span class="gray">{{:locale:'ACCOUNT.NO_TX'|translate}}</span>
        </span>


        <div class="item item-pending item-tx item-icon-left"
             ng-repeat="tx in formData.tx.errors | filter: filterReceivedTx"
             ng-init="pending=true;"
             ng-include="::'templates/wallet/item_tx.html'">
        </div>

        <!-- Error sent TX -->
        <div class="item item-divider">
          <span>
           <b class="ion-close-circled"> </b>
           {{:locale:'ACCOUNT.ERROR_TX_SENT'|translate}}
          </span>
          <div class="badge item-note">
            <span ng-if="!$root.settings.useRelative">({{$root.currency.name | abbreviate}})</span>
            <span ng-if="$root.settings.useRelative">({{'COMMON.UD' | translate}}<sub>{{$root.currency.name | abbreviate}}</sub>)</span>
          </div>
        </div>

        <span class="item padding" ng-if="!loading && !hasSentTx()">
            <span class="gray">{{:locale:'ACCOUNT.NO_TX'|translate}}</span>
        </span>

        <div class="item item-pending item-tx item-icon-left"
             ng-repeat="tx in formData.tx.errors | filter: filterSentTx"
             ng-init="error=true;"
             ng-include="::'templates/wallet/item_tx.html'">
        </div>

      </div>

      <div class="col col-10 hidden-xs hidden-sm hidden-md">&nbsp;
      </div>
    </div>
  </ion-content>

  <!--button id="fab-redo-transfer"
          ng-if="walletData"
          class="button button-fab button-fab-bottom-right button-energized-900 hidden-md hidden-lg drop"
          ng-click="redoTransfer()">
    <i class="icon ion-refresh"></i>
  </button-->
</ion-view>
