<ion-view left-buttons="leftButtons"
          id="wallet">
  <ion-nav-title>
    <!-- no title-->
  </ion-nav-title>

  <ion-nav-buttons side="secondary">

    <button class="button button-icon button-clear icon ion-loop" ng-click="doUpdate()">
    </button>
    <button class="button button-icon button-clear" ng-click="actionsPopover.show($event)">
      <i class="icon ion-android-more-vertical"></i>
    </button>
  </ion-nav-buttons>

  <ion-content scroll="true">

    <!-- Buttons bar
    <div class="hidden-xs hidden-sm padding" style="text-align:center"
         ng-if="!!convertedBalance">
      <button class="button button-raised button-energized-900 ink-dark"
              ng-click="openTransfer()">
        {{'ACCOUNT.BTN_SEND_MONEY' | translate}}
      </button>
    </div>-->

    <div class="row no-padding">
      <div class="col col-20 hidden-xs hidden-sm">&nbsp;
      </div>

      <div class="col list" ng-class="::motion.ionListClass">

        <!-- Pending received TX -->
        <span class="item item-divider">
          <span translate>ACCOUNT.PENDING_TX_RECEIVED</span>
          <div class="badge item-note">
            <span ng-if="!$root.settings.useRelative">({{$root.currency.name | abbreviate}})</span>
            <span ng-if="$root.settings.useRelative">({{'COMMON.UD' | translate}}<sub>{{$root.currency.name | abbreviate}}</sub>)</span>
          </div>
        </span>

        <span class="item" ng-if="!formData.tx.errors.length">
          <h3 translate>ACCOUNT.NO_TX</h3>
        </span>

        <div class="item item-pending item-tx item-icon-left"
             ng-repeat="tx in formData.tx.errors | filter: filterReceivedTx('amount')"
             ng-init="pending=true;"
             ng-include="'templates/wallet/item_tx.html'">
        </div>

        <!-- Error sent TX -->
        <span class="item item-divider">
          <span translate>ACCOUNT.ERROR_TX_SENT</span>
          <div class="badge item-note">
            <span ng-if="!$root.settings.useRelative">({{$root.currency.name | abbreviate}})</span>
            <span ng-if="$root.settings.useRelative">({{'COMMON.UD' | translate}}<sub>{{$root.currency.name | abbreviate}}</sub>)</span>
          </div>
        </span>

        <span class="item" ng-if="!formData.tx.errors.length">
          <h3 translate>ACCOUNT.NO_TX</h3>
        </span>

        <div class="item item-pending item-tx item-icon-left"
             ng-repeat="tx in formData.tx.errors | filter: filterSentTx('amount')"
             ng-init="error=true;"
             ng-include="'templates/wallet/item_tx.html'">
        </div>

      </div>

      <div class="col col-20 hidden-xs hidden-sm">&nbsp;
      </div>
    </div>
  </ion-content>

  <!--button id="fab-redo-transfer"
          ng-if="walletData"
          class="button button-fab button-fab-bottom-right button-energized-900 hidden-md hidden-lg drop"
          ng-click="redoTransfer()">
    <i class="icon ion-refresh"></i>
  </button-->
</ion-view>
