[submodule "cesium-desktop"]
	path = dist/desktop
	url = git@git.duniter.org:clients/cesium-grp/cesium-desktop.git
[submodule "cesium-android"]
	path = platforms/android
	url = git@git.duniter.org:clients/cesium-grp/cesium-android.git
