# ---------------------------------------------------------------
# Global
# ---------------------------------------------------------------

# default image
image: node:12

# stages (main steps of pipeline)
stages:
  - build
  - alt_build
  - deploy

# ---------------------------------------------------------------
# Global variables
# ---------------------------------------------------------------

variables:
    CI_BUILD_IMAGE: $CI_REGISTRY_IMAGE/build:develop

# ---------------------------------------------------------------
# Jobs templates
# ---------------------------------------------------------------


.docker:
  image: docker:latest
  tags: [redshift]
  services:
    - docker:dind
  before_script:
    - docker login -u ${CI_REGISTRY_USER} -p ${CI_REGISTRY_PASSWORD} ${CI_REGISTRY}
    #- docker login -u "duniterteam" -p "$DUNITERTEAM_PASSWD"
  after_script:
    - docker logout ${CI_REGISTRY}
    #- docker logout
  allow_failure: false

# ---------------------------------------------------------------
# Build jobs
# ---------------------------------------------------------------

.build:
  stage: build
  tags: [redshift]
  script:
    - yarn install
    - yarn run build:web
  after_script:
    - ls -la dist/web/
    - du -csh dist/web/
  artifacts:
    untracked: true
    paths:
      - dist/web
    expire_in: 60 minutes

build:
  extends: .build
  image: ${CI_BUILD_IMAGE}
  before_script:
    - mv /tmp/.build-cache/node_modules ./
  only:
    - develop

failsafe-build:
  extends: .build
  stage: alt_build
  when: on_failure
  before_script:
    - yarn global add gulp
  only:
    - develop

docker:ci:
  extends: .docker
  stage: alt_build
  when: on_failure
  allow_failure: true
  script:
    # Create the target directory
    - mkdir -p dist/ci
    - cd dist/ci
    # Create the Dockerfile
    - echo 'FROM node:12' > Dockerfile
    - echo 'WORKDIR /tmp/.build-cache' >> Dockerfile
    - echo 'COPY ./ ./' >> Dockerfile
    # Store disk usage (before install)
    - echo 'RUN du -s `find . -maxdepth 1 | egrep -v "^\.$"` > /tmp/before.txt' >> Dockerfile
    - echo 'RUN du -s `find /tmp/.cache/yarn -maxdepth 1 | egrep -v "^\.$"` >> /tmp/before.txt' >> Dockerfile
    # Install dependencies
    - echo 'RUN yarn global add gulp web-ext @ionic/cli' >> Dockerfile
    - echo 'RUN yarn install' >> Dockerfile
    # Store disk usage (after install)
    - echo 'RUN du -s `find . -maxdepth 1 | egrep -v "^\.$"` > /tmp/after.txt' >> Dockerfile
    - echo 'RUN du -s `find /tmp/.cache/yarn -maxdepth 1 | egrep -v "^\.$"` >> /tmp/after.txt' >> Dockerfile
    # Force docker to detect any changes
    - echo "RUN diff /tmp/before.txt /tmp/after.txt || true" >> Dockerfile
    - echo 'WORKDIR /build' >> Dockerfile
    # Build and push the CI image
    - docker build --no-cache -t ${CI_BUILD_IMAGE} .
    - docker push ${CI_BUILD_IMAGE}
  artifacts:
    paths:
      - dist/ci/Dockerfile
    expire_in: 60 minutes

# ---------------------------------------------------------------
# Deploy jobs
# ---------------------------------------------------------------

pages:
  stage: deploy
  variables:
    GIT_STRATEGY: none
  script:
    - ls -la public || true
    - mv dist/web/www public
  artifacts:
    untracked: true
    paths:
      - public
  only:
    - master

mirror:
  stage: deploy
  image: liaohuqiu/rsync
  before_script:
    - eval $(ssh-agent -s)
    - ssh-add <(echo "$SSH_PRIVATE_KEY")
    - mkdir -p ~/.ssh
    - >-
      [[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" >
      ~/.ssh/config
  script:
    - mv dist/web/www public
    - rsync -az -e ssh ./public/ gammanu@1000i100.fr:~/g1.money/dev-cesium
  after_script:
    - ssh gammanu@1000i100.fr "~/g1.money/update-cesium.sh"
  only:
    - master

release:
  stage: deploy
  variables:
    GIT_STRATEGY: none
  script:
    - ls -la www || true
    - mv dist/web/www www
  artifacts:
    untracked: true
    paths:
      - www
  only:
    - tags

