/www/lib/ionic-material
/www/lib/robotodraft
# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

/node_modules/
/platforms/
/plugins/
.idea/
/cesium.iml
/pom.xml
/www/css/ionic.app.css
/www/css/ionic.app.min.css

/www/lib/angular
/www/lib/angular-animate
/www/lib/angular-messages
/www/lib/angular-sanitize
/www/lib/angular-ui-router
/www/lib/angular-moment
/www/lib/moment
/www/lib/waves
/www/js/config.js
/www/dist
/hooks/playstore-config.json

.directory