<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="106010" id="fr.duniter.cesium" ios-CFBundleIdentifier="org.duniter.cesium" version="1.6.10" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cesium</name>
    <description>
    An simple App for Duniter wallet
  </description>
    <author email="contact@e-is.pro">
    E-IS PRO
  </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="june:*" />
    <allow-intent href="web+june:*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <allow-navigation href="june:*" />
    <allow-navigation href="web+june:*" />
    <icon src="www/img/logo_96px.png" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="4000" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <preference name="KeyboardResizeMode" value="ionic" />
    <preference name="xwalkVersion" value="19" />
    <preference name="xwalkMultipleApk" value="false" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="android-targetSdkVersion" value="29" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="loadUrlTimeoutValue" value="700000" />
    <hook src="scripts/hooks/before_prepare.js" type="before_prepare" />
    <hook src="scripts/hooks/after_prepare.js" type="after_prepare" />
    <hook src="scripts/hooks/before_compile.js" type="before_compile" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <feature name="Device">
        <param name="android-package" onload="true" value="org.apache.cordova.device.Device" />
    </feature>
    <feature name="MiniSodium">
        <param name="android-package" onload="true" value="me.lockate.plugins.MiniSodium" />
    </feature>
    <feature name="Custom URL scheme">
        <param name="id" value="cordova-plugin-customurlscheme" />
        <param name="url" value="https://github.com/EddyVerbruggen/Custom-URL-scheme.git" />
        <variable name="URL_SCHEME" value="june" />
    </feature>
    <platform name="android">
        <preference name="AndroidXEnabled" value="true" />
        <preference name="AndroidLaunchMode" value="singleTask" />
        <preference name="android-minSdkVersion" value="16" />
        <preference name="android-targetSdkVersion" value="29" />
        <icon density="ldpi" src="resources/android/icon/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="resources/android/icon/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="resources/android/icon/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="resources/android/icon/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="resources/android/icon/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="resources/android/icon/drawable-xxxhdpi-icon.png" />
        <splash density="land-ldpi" src="resources/android/splash/drawable-land-ldpi-screen.png" />
        <splash density="land-mdpi" src="resources/android/splash/drawable-land-mdpi-screen.png" />
        <splash density="land-hdpi" src="resources/android/splash/drawable-land-hdpi-screen.png" />
        <splash density="land-xhdpi" src="resources/android/splash/drawable-land-xhdpi-screen.png" />
        <splash density="land-xxhdpi" src="resources/android/splash/drawable-land-xxhdpi-screen.png" />
        <splash density="land-xxxhdpi" src="resources/android/splash/drawable-land-xxxhdpi-screen.png" />
        <splash density="port-ldpi" src="resources/android/splash/drawable-port-ldpi-screen.png" />
        <splash density="port-mdpi" src="resources/android/splash/drawable-port-mdpi-screen.png" />
        <splash density="port-hdpi" src="resources/android/splash/drawable-port-hdpi-screen.png" />
        <splash density="port-xhdpi" src="resources/android/splash/drawable-port-xhdpi-screen.png" />
        <splash density="port-xxhdpi" src="resources/android/splash/drawable-port-xxhdpi-screen.png" />
        <splash density="port-xxxhdpi" src="resources/android/splash/drawable-port-xxxhdpi-screen.png" />
    </platform>
    <platform name="ios">
        <preference name="BackupWebStorage" value="local" />
        <preference name="StatusBarOverlaysWebView" value="true" />
        <preference name="KeyboardShrinksView" value="true" />
        <icon height="20" src="resources/ios/icon/Icon-App-20x20@1x.png" width="20" />
        <icon height="40" src="resources/ios/icon/Icon-App-20x20@2x.png" width="40" />
        <icon height="60" src="resources/ios/icon/Icon-App-20x20@3x.png" width="60" />
        <icon height="29" src="resources/ios/icon/Icon-App-29x29@1x.png" width="29" />
        <icon height="58" src="resources/ios/icon/Icon-App-29x29@2x.png" width="58" />
        <icon height="87" src="resources/ios/icon/Icon-App-29x29@3x.png" width="87" />
        <icon height="40" src="resources/ios/icon/Icon-App-40x40@1x.png" width="40" />
        <icon height="80" src="resources/ios/icon/Icon-App-40x40@2x.png" width="80" />
        <icon height="120" src="resources/ios/icon/Icon-App-40x40@3x.png" width="120" />
        <icon height="50" src="resources/ios/icon/Icon-App-50x50@1x.png" width="50" />
        <icon height="100" src="resources/ios/icon/Icon-App-50x50@2x.png" width="100" />
        <icon height="57" src="resources/ios/icon/Icon-App-57x57@1x.png" width="57" />
        <icon height="114" src="resources/ios/icon/Icon-App-57x57@2x.png" width="114" />
        <icon height="120" src="resources/ios/icon/Icon-App-60x60@2x.png" width="120" />
        <icon height="180" src="resources/ios/icon/Icon-App-60x60@3x.png" width="180" />
        <icon height="72" src="resources/ios/icon/Icon-App-72x72@1x.png" width="72" />
        <icon height="144" src="resources/ios/icon/Icon-App-72x72@2x.png" width="144" />
        <icon height="76" src="resources/ios/icon/Icon-App-76x76@1x.png" width="76" />
        <icon height="152" src="resources/ios/icon/Icon-App-76x76@2x.png" width="152" />
        <icon height="167" src="resources/ios/icon/Icon-App-83.5x83.5@2x.png" width="167" />
        <icon height="1024" src="resources/ios/icon/ItunesArtwork@2x.png" width="1024" />
        <splash height="1136" src="resources/ios/splash/Default-568h@2x~iphone.png" width="640" />
        <splash height="1334" src="resources/ios/splash/Default-667h.png" width="750" />
        <splash height="2208" src="resources/ios/splash/Default-736h.png" width="1242" />
        <splash height="1242" src="resources/ios/splash/Default-Landscape-736h.png" width="2208" />
        <splash height="2436" src="resources/ios/splash/Default-2436h.png" width="1125" />
        <splash height="1125" src="resources/ios/splash/Default-Landscape-2436h.png" width="2436" />
        <splash height="1536" src="resources/ios/splash/Default-Landscape@2x~ipad.png" width="2048" />
        <splash height="768" src="resources/ios/splash/Default-Landscape~ipad.png" width="1024" />
        <splash height="2048" src="resources/ios/splash/Default-Portrait@2x~ipad.png" width="1536" />
        <splash height="1024" src="resources/ios/splash/Default-Portrait~ipad.png" width="768" />
        <splash height="960" src="resources/ios/splash/Default@2x~iphone.png" width="640" />
        <splash height="480" src="resources/ios/splash/Default~iphone.png" width="320" />
        <splash height="2048" src="resources/ios/splash/Default-Landscape@~ipadpro.png" width="2732" />
        <splash height="2732" src="resources/ios/splash/Default-Portrait@~ipadpro.png" width="2048" />
        <splash height="2732" src="resources/ios/splash/Default@2x~universal~anyany.png" width="2732" />
        <edit-config file="*-Info.plist" mode="merge" target="NSCameraUsageDescription">
            <string>To scan QRCode</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryUsageDescription">
            <string>To choose a profile picture</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="CFBundleURLSchemes">
            <string>june</string>
        </edit-config>
        <config-file mode="add" parent="ITSAppUsesNonExemptEncryption" target="*-Info.plist">
            <false />
        </config-file>
    </platform>
    <platform name="osx">
        <icon height="16" src="resources/osx/icon-16.png" width="16" />
        <icon height="32" src="resources/osx/icon-32.png" width="32" />
        <icon height="64" src="resources/osx/icon-64.png" width="64" />
        <icon height="128" src="resources/osx/icon-128.png" width="128" />
        <icon height="256" src="resources/osx/icon-256.png" width="256" />
        <icon height="512" src="resources/osx/icon-512.png" width="512" />
        <icon height="1024" src="resources/osx/icon-1024.png" width="1024" />
    </platform>
    <plugin name="cordova-plugin-camera" spec="^4.1.0">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="Add picture to the user profile" />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="Take a picture for the user profile" />
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="28.+" />
    </plugin>
    <plugin name="cordova-plugin-ionic-webview" spec="^4.2.1">
        <variable name="ANDROID_SUPPORT_ANNOTATIONS_VERSION" value="28.+" />
    </plugin>
    <plugin name="cordova-plugin-device" spec="^2.0.3" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.2" />
    <plugin name="cordova-clipboard" spec="^1.3.0" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.4" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.3" />
    <plugin name="cordova-plugin-file" spec="^6.0.2" />
    <plugin name="cordova-plugin-vibration" spec="^3.1.1" />
    <plugin name="cordova-plugin-websocket" spec="^0.12.2" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.4" />
    <plugin name="cordova-plugin-x-toast" spec="^2.7.2" />
    <plugin name="cordova-plugin-ionic-keyboard" spec="^2.2.0" />
    <plugin name="phonegap-plugin-barcodescanner" spec="^8.1.0">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="To scan QRCode" />
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="28.+" />
    </plugin>
    <plugin name="cordova-plugin-customurlscheme" spec="^5.0.2">
        <variable name="URL_SCHEME" value="june" />
    </plugin>
    <plugin name="ionic-plugin-keyboard" spec="^2.2.1" />
    <plugin name="cordova-plugin-androidx" spec="^1.0.2" />
    <engine name="ios" spec="^6.1.0" />
    <engine name="osx" spec="^6.0.0" />
</widget>
