<ion-view id="home" class="">
  <!-- no title -->
  <ion-nav-title></ion-nav-title>

  <ion-nav-buttons side="secondary" >
    <!-- locales  -->
    <button class="button button-clear hidden-xs hidden-sm gray"
            ng-click="showLocalesPopover($event)" style="align-content: center">
      <img ng-if=":locale:$root.settings.locale.country"
           ng-src="https://www.countryflags.io/{{:locale:$root.settings.locale.country}}/shiny/32.png">
      <span ng-if=":locale:!$root.settings.locale.country">{{:locale:$root.settings.locale.label}}&nbsp;</span>
      <small class="ion-arrow-down-b"></small>
    </button>
  </ion-nav-buttons>

  <ion-content class="positive-900-bg circle-bg-dark">

    <div class="row no-padding-xs responsive-lg">
      <div class="col col-30 hidden-xs hidden-sm">&nbsp;</div>
      <div class="col text-center no-padding-xs main-container">

        <div id="helptip-home-logo" class="logo"></div>

        <h4>
          <span class="hidden-xs" translate>HOME.WELCOME</span>
          <b ng-show="!loading" translate-values=":currency:{currency: $root.currency.name}" translate>HOME.MESSAGE</b>
        </h4>

        <div class="center padding" ng-if="loading">
          <ion-spinner icon="android" ></ion-spinner>
        </div>

        <div class="center padding animate-fade-in animate-show-hide ng-hide" ng-show="!loading && error">
          <div class="card card-item padding">
            <p class="item-content item-text-wrap">
                <span class="dark" trust-as-html="'HOME.CONNECTION_ERROR'|translate:node"></span>
            </p>

            <!-- Retry -->
            <button type="button"
                    class="button button-positive icon icon-left ion-refresh ink"
                    ng-click="reload()">{{'COMMON.BTN_REFRESH'|translate}}</button>
          </div>
        </div>

        <div class="center animate-fade-in animate-show-hide ng-hide" ng-show="!loading && !error">

          <!-- Help tour (NOT ready yet for small device) -->
          <button type="button"
                  class="button button-block button-stable button-raised icon-left icon ion-easel ink-dark hidden-xs"
                  ng-show="login"
                  ng-click="startHelpTour()" >
            {{'COMMON.BTN_HELP_TOUR'|translate}}
          </button>

          <button type="button"
                  class="button button-block button-positive button-raised ink-dark"
                  ng-click="showJoinModal()" ng-if="!login" translate>LOGIN.CREATE_FREE_ACCOUNT</button>

          <button type="button"
                  class="item button button-block button-positive button-raised icon icon-left ion-person ink-dark"
                  ui-sref="app.view_wallet" ng-show="login" translate>MENU.ACCOUNT</button>

          <button type="button"
                  class="item button button-block button-positive button-raised icon icon-left ion-card ink-dark visible-xs"
                  ui-sref="app.view_wallet_tx" ng-if="login" translate>MENU.TRANSACTIONS</button>

          <br class="visible-xs visible-sm"/>

          <!-- join link -->
          <div class="text-center no-padding" ng-show="!login">
            <br class="visible-xs visible-sm"/>
            {{'LOGIN.HAVE_ACCOUNT_QUESTION'|translate}}
            <b>
              <a class="assertive hidden-xs hidden-sm" ui-sref="app.view_wallet" translate>
                COMMON.BTN_LOGIN
              </a>
            </b>
          </div>

          <!-- disconnect link -->
          <div class="text-center no-padding" ng-show="login">
            <br class="visible-xs visible-sm"/>
            <span ng-bind-html="'HOME.NOT_YOUR_ACCOUNT_QUESTION'|translate:{pubkey: walletData.pubkey}"></span>
            <br/>
            <b>
              <a class="assertive hidden-xs hidden-sm" ng-click="logout()" translate>
                HOME.BTN_CHANGE_ACCOUNT
              </a>
            </b>
          </div>

          <button type="button"
                  class="button button-block button-stable button-raised ink visible-xs visible-sm"
                  ui-sref="app.view_wallet" ng-if="!login" translate>COMMON.BTN_LOGIN</button>
          <button type="button"
                  class="button button-block button-assertive button-raised icon icon-left ion-log-out ink-dark visible-xs visible-sm"
                  ng-click="logout()" ng-if="login" translate>COMMON.BTN_LOGOUT</button>


          <div class="text-center no-padding visible-xs stable">
            <br/>
            <!-- version -->
            {{'COMMON.APP_VERSION'|translate:{version: config.version} }}
            |
            <!-- about -->
            <a href="#" ng-click="showAboutModal()" translate>HOME.BTN_ABOUT</a>
          </div>

        </div>


      </div>
      <div class="col col-30 no-padding">

        <!-- feed -->
        <div ng-if="feed" class="feed padding padding-top">
          <h3 class="padding-left">
            <i class="icon ion-speakerphone"></i>
            {{feed.title}}
            <small><a ng-click="openLink($event, feed.home_page_url)" class="gray">
              <span translate>HOME.SHOW_ALL_FEED</span>
              <i class="icon ion-chevron-right"></i>
            </a></small>
          </h3>

          <!-- feed items -->
          <div ng-repeat="item in feed.items"
             class="card padding">

            <div class="header ">
              <!-- author -->
              <i ng-if="item.author.avatar" class="avatar" style="background-image: url({{item.author.avatar}});"></i>
              <a ng-class="{'avatar-left-padding': item.author.avatar}" class="author"
                 ng-click="item.author.url && openLink($event, item.author.url)">
                {{item.author.name}}
              </a>

              <!-- time -->
              <a ng-if="item.time"
                 title="{{item.time|formatDate}}"
                 ng-click="openLink($event, item.url)"
                 class="item-note">
                <small><i class="icon ion-clock"></i>&nbsp;{{item.time|formatFromNow}}</small>
              </a>
            </div>
            <!-- title -->
            <h2 class="title feed-title">
              <a ng-click="openLink($event, item.url)">{{item.title}}</a></h2>
            <div ng-if="item.content"
                 class="content feed-content"
                 trust-as-html="item.content"></div>
            <h4 class="card-footer feed-footer text-right positive-100">
              <a ng-click="openLink($event, item.url)">
                <span ng-if="item.truncated" translate>HOME.READ_MORE</span>
                <span ng-if="!item.truncated" translate>COMMON.BTN_SHOW</span>
                <i class="icon ion-chevron-right"></i>
              </a>
            </h4>
          </div>
        </div>
      </div>
    </div>


  </ion-content>

</ion-view>

