<ion-view left-buttons="leftButtons"
          view-title="Settings">

    <ion-content >
        <div class="item item-content item-toggle dark">
            <div class="input-label">
                {{'COMMON.BTN_RELATIVE_UNIT' | translate}}
            </div>
            <label class="toggle toggle-royal">
                <input type="checkbox" ng-model="walletData.settings.useRelative">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </div>

      <label class="item item-input item-select">
        <div class="input-label">
          {{'COMMON.LANGUAGE' | translate}}
        </div>
        <select ng-model="walletData.settings.language"
                ng-change="changeLanguage(walletData.settings.language.id)"
                ng-options="l as l.label for l in languages track by l.id">
        </select>
      </label>

    </ion-content>
</ion-view>
