<ion-view left-buttons="leftButtons"
          view-title="{{'SETTINGS.TITLE' | translate}}"
          id="settings">

    <ion-content >
        <div class="item item-toggle dark">
            {{'COMMON.BTN_RELATIVE_UNIT' | translate}}
            <label class="toggle toggle-royal">
                <input type="checkbox" ng-model="formData.useRelative">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </div>

      <label class="item item-input item-select">
        <div class="input-label">
          {{'COMMON.LANGUAGE' | translate}}
        </div>
        <select ng-model="formData.locale"
                ng-change="changeLanguage(formData.locale.id)"
                ng-options="l as l.label for l in locales track by l.id">
        </select>
      </label>

      <span class="item item-divider">
        {{'SETTINGS.TECHNICAL_SETTINGS' | translate}}
      </span>

      <div class="item ink" ng-click="changeNode()">
        {{'SETTINGS.NODE' | translate}}
        <span class="item-note">{{formData.node}}</span>
      </div>

      <div class="item item-toggle dark">
        {{'SETTINGS.USE_LOCAL_STORAGE' | translate}}
        <label class="toggle toggle-royal">
          <input type="checkbox" ng-model="formData.useLocalStorage" >
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>

    </ion-content>
</ion-view>
