<ion-popover-view class="popover-helptip" >
  <ion-content scroll="false" class="list">
    <p>
      <i ng-if="icon.position && !icon.position.startsWith('bottom-')"
         class="{{icon.class}} icon-{{icon.position}} hidden-xs"
         style="{{icon.style}}"></i>

      <!-- close button-->
      <a ng-click="closePopover()"
         class="pull-right button-close"
         ng-class="{'pull-left': icon.position === 'right', 'pull-right': icon.position !== 'right'}">
        <i class="ion-close"></i>
      </a>

      <span>&nbsp;</span>
    </p>

    <p class="padding light">
      <ng-bind-html ng-bind-html="content | translate:contentParams"></ng-bind-html>
      <ng-bind-html ng-bind-html="trustContent"></ng-bind-html>
    </p>

    <!-- buttons (if helptip) -->
    <div class="text-center" ng-if="!tour">
      <button class="button button-small button-stable"
              ng-if="!hasNext"
              ng-click="closePopover(true)"
              translate>COMMON.BTN_UNDERSTOOD</button>
      <button class="button button-small button-stable"
              id="helptip-btn-ok"
              ng-if="hasNext"
              ng-click="closePopover(false)"
              translate>COMMON.BTN_UNDERSTOOD</button>
      <button id="helptip-btn-ok"
              class="button button-small button-positive icon-right ink"
              ng-if="hasNext"
              ng-click="closePopover(true)">
              <i class="icon ion-chevron-right "></i>
      </button>
    </div>

    <!-- buttons (if feature tour) -->
    <div class="text-center" ng-if="tour">
      <button class="button button-small button-positive"
              id="helptip-btn-ok"
              ng-if="!hasNext"
              ng-click="closePopover(false)"
              translate>COMMON.BTN_CLOSE</button>
      <button id="helptip-btn-ok"
              class="button button-small button-positive icon-right ink"
              ng-if="hasNext"
              ng-click="closePopover(true)">
        {{'COMMON.BTN_CONTINUE'|translate}}
        <i class="icon ion-chevron-right "></i>
      </button>
    </div>

    <p>
      <i ng-if="icon.position && icon.position.startsWith('bottom-')"
         class="{{icon.class}} icon-{{icon.position}} hidden-xs"></i>
    </p>
  </ion-content>
</ion-popover-view>
