<form name="pwdForm" ng-submit="submit($event)">
  <div class="list" ng-init="setForm(pwdForm)">
    <label class="item item-input"
           ng-class="{'item-input-error': pwdForm.$submitted && pwdForm.password.$invalid}">
      <input name="password" type="password" placeholder="{{'ACCOUNT.SECURITY.KEYFILE.PASSWORD_POPUP.PASSWORD_HELP' | translate}}"
             ng-model="formData.password"
             ng-minlength="1"
             required>
    </label>
    <div class="form-errors"
         ng-if="pwdForm.$submitted && pwdForm.pseudo.$error"
         ng-messages="pwdForm.password.$error">
      <div class="form-error" ng-message="required">
        <span translate="ERROR.FIELD_REQUIRED"></span>
      </div>
      <div class="form-error" ng-message="minlength">
        <span translate="ERROR.FIELD_TOO_SHORT"></span>
      </div>
    </div>
    <div class="form-errors" ng-if="error">
      <div class="form-error" >{{error|translate}}</div>
    </div>
  </div>
</form>
