<i ng-if="::!identity.avatar" class="item-image icon ion-person"></i>
<i ng-if="::identity.avatar" class="item-image avatar" style="background-image: url({{::identity.avatar.src}})"></i>

<h2>
  <ng-if ng-if="::identity.name||identity.uid" ng-bind-html="::identity.name||identity.uid"></ng-if>
  <ng-if ng-if="::!identity.name && !identity.uid">{{::identity.pubkey|formatPubkey}}</ng-if>
</h2>

<h4 class="gray"
    ng-class="{'pull-right': !smallscreen}"
    ng-if="::identity.sigDate">
  <i class="ion-clock"></i>
  {{::'WOT.LOOKUP.REGISTERED' | translate:identity}}
</h4>
<h4 class="gray"
    ng-class="{'pull-right': !smallscreen}"
    ng-if="identity.memberDate">
  <i class="ion-clock"></i>
  {{::'WOT.LOOKUP.MEMBER_FROM' | translate:identity}}
</h4>
<h4 class="gray">
  <span class="positive" ng-if="::identity.name && identity.uid">
    <i class="ion-person"></i>
    {{::identity.uid}}&nbsp;
  </span>
  <b class="ion-key"></b>
  {{::identity.pubkey | formatPubkey}}
  <span ng-if="::!identity.uid" class="assertive" translate>WOT.NOT_MEMBER_PARENTHESIS</span>
  <span ng-if="::identity.revoked" class="assertive" translate>WOT.IDENTITY_REVOKED_PARENTHESIS</span>
</h4>
<h4 ng-if="::identity.events||identity.tags">
  <span ng-repeat="event in ::identity.events"
      class="assertive">
    <i class="ion-alert-circled " ng-if="::!identity.valid"></i>
    <span ng-bind-html="::event.message|translate:event.messageParams"></span>
  </span>
  <span ng-if="::identity.tags" class="dark">
   <ng-repeat ng-repeat="tag in ::identity.tags">
     #<ng-bind-html ng-bind-html="::tag"></ng-bind-html>
   </ng-repeat>
  </span>
</h4>
