        <div class="list certifications" ng-class="::motions.receivedCertifications.ionListClass">
          <span class="item item-divider hidden-xs">
            <span translate>WOT.CERTIFICATIONS.SUMMARY</span>
          </span>

          <!-- Certifications count -->
          <div id="helptip-received-certs"
               class="item item-icon-left item-text-wrap ink">
            <i class="icon ion-ribbon-b"></i>
            <b ng-if="formData.requirements.isSentry"
               class="ion-star icon-secondary" style="color: yellow; font-size: 16px; left: 25px; top: -7px;"></b>

            <span translate>WOT.CERTIFICATIONS.RECEIVED</span>
            <h4 class="gray" ng-if="formData.requirements.isSentry" translate>WOT.CERTIFICATIONS.SENTRY_MEMBER</h4>

            <cs-badge-certification cs-id="helptip-wot-view-certifications-count"
                                    requirements="formData.requirements"
                                    parameters="{sigQty: formData.sigQty}">
            </cs-badge-certification>
          </div>

          <!-- Error certifications count -->
          <div class="item item-icon-left item-text-wrap ink" ng-if="formData.received_cert_error.length">
            <i class="icon ion-alert-circled"></i>
            <span translate>WOT.CERTIFICATIONS.ERROR</span>

            <span class="badge badge-assertive" >
              {{formData.received_cert_error.length}}
            </span>
          </div>

          <!-- pending certifications -->
          <span class="item item-divider" ng-if="formData.received_cert_pending.length">
            <span translate>WOT.CERTIFICATIONS.PENDING_LIST</span>
            <div class="badge item-note" style="text-align: right !important;" translate>WOT.NOT_WRITTEN_EXPIRE_IN</div>
          </span>

          <a class="item item-avatar ink"
             ng-repeat="cert in formData.received_cert_pending"
             ui-sref="app.wot_identity({pubkey:cert.pubkey, uid:cert.uid})"
             ng-include="'templates/wot/item_certification.html'">
          </a>

          <!-- valid certifications -->
          <span class="item item-divider">
            <span translate>WOT.CERTIFICATIONS.LIST</span>
            <div class="badge item-note" translate>WOT.EXPIRE_IN</div>
          </span>

          <span class="item gray" ng-if="!formData.received_cert.length"
                translate>WOT.NO_CERTIFICATION</span>

          <a class="item item-avatar ink"
                ng-repeat="cert in formData.received_cert"
                ui-sref="app.wot_identity({pubkey:cert.pubkey, uid:cert.uid})"
                ng-include="'templates/wot/item_certification.html'">
          </a>
        </div>
