
<div class="list given-certifications" ng-class="::motions.givenCertifications.ionListClass">
  <span class="item item-divider hidden-xs">
    <span translate>WOT.GIVEN_CERTIFICATIONS.SUMMARY</span>
  </span>

  <!-- Signature stock -->
  <div id="helptip-certs-stock"
       class="item item-icon-left item-text-wrap ink">
    <i class="icon ion-ribbon-a"></i>
    <span translate>WOT.GIVEN_CERTIFICATIONS.SENT</span>

    <cs-badge-given-certification identity="formData"
                                  parameters="{sigStock: formData.sigStock}">
    </cs-badge-given-certification>
  </div>

  <!-- Error certifications count -->
  <div class="item item-icon-left item-text-wrap ink" ng-if="formData.given_cert_error.length">
    <i class="icon ion-alert-circled"></i>
    <span translate>WOT.GIVEN_CERTIFICATIONS.ERROR</span>

    <span class="badge badge-assertive" >
      {{formData.given_cert_error.length}}
    </span>
  </div>

  <!-- pending given certifications -->
  <span class="item item-divider" ng-if="formData.given_cert_pending.length">
    <span translate>WOT.GIVEN_CERTIFICATIONS.PENDING_LIST</span>
    <div class="badge item-note" style="text-align: right !important;" translate>WOT.NOT_WRITTEN_EXPIRE_IN</div>
  </span>

  <a class="item item-avatar ink"
     ng-repeat="cert in formData.given_cert_pending"
     ui-sref="app.wot_identity({pubkey:cert.pubkey, uid:cert.uid})"
     ng-include="'templates/wot/item_certification.html'">
  </a>

  <!-- validated given certifications -->
  <span class="item item-divider">
    <span translate>WOT.GIVEN_CERTIFICATIONS.LIST</span>
    <div class="badge item-note" translate>WOT.EXPIRE_IN</div>
  </span>

  <span class="item gray" ng-if="!formData.given_cert.length" translate>
    WOT.NO_GIVEN_CERTIFICATION
  </span>

  <a class="item item-avatar ink"
        ng-repeat="cert in formData.given_cert"
        ui-sref="app.wot_identity({pubkey:cert.pubkey, uid:cert.uid})"
        ng-include="'templates/wot/item_certification.html'">
  </a>
</div>
