<div class="lookupForm">
  <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text"
             class="visible-xs visible-sm"
             placeholder="{{'WOT.SEARCH_HELP'|translate}}"
             ng-model="search.text"
             ng-model-options="{ debounce: 650 }"
             ng-change="doSearch()">
    <input type="text"
           class="hidden-xs hidden-sm"
           id="wotSearchText" placeholder="{{'WOT.SEARCH_HELP'|translate}}"
           ng-model="search.text"
           on-return="doSearch()">
  </label>

  <div class="padding-top" style="display: block; height: 60px;">
    <div class="pull-left">
      <h4
        ng-if="!search.looking && search.newIncomers && search.results.length" translate>
        WOT.LOOKUP.NEWCOMERS
      </h4>
      <h4
        ng-if="!search.looking && !search.newIncomers && search.text.length" translate>
        COMMON.RESULTS_LIST
      </h4>
    </div>

    <div class="hidden-xs hidden-sm  pull-right">
      <button class="button button-small button-positive button-clear ink"
              ng-if="!search.newIncomers"
              ng-click="doGetNewcomers()">
        <i class="icon ion-clock"></i>
        {{'WOT.LOOKUP.BTN_NEWCOMERS' | translate}}
      </button>
      <button class="button button-small button-stable ink"
              ng-click="doSearch()">
        {{'COMMON.BTN_SEARCH' | translate}}
      </button>
    </div>
  </div>

  <div class="text-center" ng-if="search.looking">
    <ion-spinner icon="android"></ion-spinner>
  </div>

  <div class="assertive padding" ng-if="!search.looking && !search.results.length && search.text.length" translate>
    COMMON.SEARCH_NO_RESULT
  </div>

  <ion-list
    class="animate-ripple"
    can-swipe="$root.device.enable"
    ng-if="!search.looking && search.results.length">

    <ion-item ng-repeat="identity in search.results" class="item item-border-large item-avatar item-icon-right ink" ng-click="select(identity)">

      <i class="item-image"
         ng-style="identity.avatarStyle"
         ng-class="{'icon ion-person': !identity.avatarStyle, 'avatar': identity.avatarStyle}">
      </i>

      <h2 ng-if="identity.name" ng-bind-html="identity.name"></h2>
      <h2 ng-if="!identity.name && identity.uid">{{::identity.uid}}</h2>
      <h2 ng-if="!identity.name && !identity.uid">{{::identity.pubkey|formatPubkey}}</h2>
      <h4 class="gray pull-right" ng-if="identity.sigDate">
        <i class="ion-clock"></i>
        {{'WOT.LOOKUP.REGISTERED' | translate}}{{::identity.sigDate | formatFromNow}}
      </h4>
      <h4 class="gray">
        <span class="positive" ng-if="identity.name && identity.uid">
          <i class="ion-person"></i>
          {{::identity.uid}}
        </span>
        <b class="ion-key"></b>
        {{::identity.pubkey | formatPubkey}}
      </h4>
      <i class="icon ion-ios-arrow-right "></i>
      <ion-option-button class="button-positive" ng-click="showTransferModal({pubkey: identity.pubkey, uid: identity.name ||identity.uid})" translate>COMMON.BTN_SEND_MONEY_SHORT</ion-option-button>
    </ion-item>

  </ion-list>
</div>
