<ion-view>
  <ion-nav-title>
    {{'WOT.LOOKUP.TITLE' | translate}}
  </ion-nav-title>

  <ion-nav-buttons side="secondary">
    <button class="button button-icon button-clear icon ion-qr-scanner hidden-no-device"
            ng-if="$root.device.barcode.enable"
            ng-click="scanQrCode()">
    </button>
    <button class="button button-icon button-clear visible-xs visible-sm"
            ng-click="showActionsPopover($event)">
      <i class="icon ion-android-funnel"></i>
    </button>
  </ion-nav-buttons>

  <ion-content class="padding no-padding-xs" scroll="true">
    <ng-include src="'templates/wot/lookup_form.html'"/>
  </ion-content>
</ion-view>
