<div class="lookupForm">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text"
           class="visible-xs visible-sm"
           placeholder="{{'WOT.SEARCH_HELP'|translate}}"
           ng-model="search.text"
           ng-model-options="{ debounce: 650 }"
           ng-change="doSearch()">
    <input type="text"
           class="hidden-xs hidden-sm"
           id="{{wotSearchTextId}}" placeholder="{{'WOT.SEARCH_HELP'|translate}}"
           ng-model="search.text"
           on-return="doSearch()">
    <div class="helptip-anchor-center">
      <a id="helptip-wot-search-text"></a>
    </div>
  </label>

  <div class="padding-top" style="display: block; height: 60px;">
    <div class="pull-left">
      <h4
        ng-if="!search.loading && search.type=='newcomers'" translate>
        WOT.LOOKUP.NEWCOMERS
      </h4>
      <h4
        ng-if="!search.loading && search.type=='pending'" translate>
        WOT.LOOKUP.PENDING
      </h4>
      <h4
        ng-if="!search.loading && search.type=='text'" translate>
        COMMON.RESULTS_LIST
      </h4>
    </div>

    <div class="hidden-xs hidden-sm  pull-right ">
      <a class="button button-text button-small ink icon ion-person"
         ng-class="{'button-text-positive': search.type=='newcomers'}"
         ng-click="doGetNewcomers()">
        {{'WOT.LOOKUP.BTN_NEWCOMERS' | translate}}
      </a>
      &nbsp;
      <a class="button button-text button-small ink icon ion-clock"
         ng-class="{'button-text-positive': search.type=='pending'}"
         ng-click="doGetPending()" class="badge-balanced">
        {{'WOT.LOOKUP.BTN_PENDING' | translate}}
      </a>
      &nbsp;
      <button class="button button-small button-stable ink"
              ng-click="doSearch()">
        {{'COMMON.BTN_SEARCH' | translate}}
      </button>
    </div>
  </div>

  <div class="text-center" ng-if="search.loading">
    <ion-spinner icon="android"></ion-spinner>
  </div>

  <div class="assertive padding" ng-if="!search.loading && search.type=='text' && !search.results.length" translate>
    COMMON.SEARCH_NO_RESULT
  </div>
  <div class="assertive padding" ng-if="!search.loading && search.type=='pending' && !search.results.length" translate>
    WOT.LOOKUP.NO_PENDING
  </div>

  <ion-list
    class="animate-ripple"
    can-swipe="$root.device.enable"
    ng-if="!search.loading && search.results.length">

    <ion-item
      ng-repeat="identity in search.results track by identity.uid"
      id="helptip-wot-search-result-{{$index}}"
      class="item item-border-large item-avatar item-icon-right ink" ng-click="select(identity)">

      <i class="item-image"
         ng-style="identity.avatarStyle"
         ng-class="{'icon ion-person': !identity.avatarStyle, 'avatar': identity.avatarStyle}">
      </i>

      <!--span ng-if="$index === 0"
        style="display:block; position: absolute; width: 100%; bottom: 0; text-align: center">
        <a id="helptip-wot-search-result">&nbsp;</a>
      </span-->

      <h2 ng-if="identity.name" ng-bind-html="identity.name"></h2>
      <h2 ng-if="!identity.name && identity.uid">{{::identity.uid}}</h2>
      <h2 ng-if="!identity.name && !identity.uid">{{::identity.pubkey|formatPubkey}}</h2>
      <h4 class="gray pull-right" ng-if="identity.sigDate">
        <i class="ion-clock"></i>
        {{'WOT.LOOKUP.REGISTERED' | translate}}{{::identity.sigDate | formatFromNow}}
      </h4>
      <h4 class="gray">
        <span class="positive" ng-if="identity.name && identity.uid">
          <i class="ion-person"></i>
          {{::identity.uid}}
        </span>
        <b class="ion-key"></b>
        {{::identity.pubkey | formatPubkey}}
      </h4>
      <i class="icon ion-ios-arrow-right "></i>
      <ion-option-button class="button-positive" ng-click="showTransferModal({pubkey: identity.pubkey, uid: identity.name ||identity.uid})" translate>COMMON.BTN_SEND_MONEY_SHORT</ion-option-button>
    </ion-item>

    <div class="item" ng-if="!search.loading && search.type!='text' && search.results.length">
      <p>
        <a ng-click="showMore()" translate>WOT.LOOKUP.SHOW_MORE</a>
        <span class="gray" translate="WOT.LOOKUP.SHOW_MORE_COUNT" translate-values="{limit: search.limit}"></span>
      </p>
    </div>

  </ion-list>
</div>
