<ion-view id="wotLookup"  class="modal slide-in-up ng-enter active ng-enter-active">
  <ion-header-bar class="bar-positive">
    <button class="button button-clear" ng-click="closeModal()" translate>COMMON.BTN_CANCEL</button>
    <h1 class="title" translate>WOT.MODAL.TITLE</h1>

    <button class="button button-icon button-clear icon ion-qr-scanner visible-xs hidden-no-device"
            ng-if="$root.device.enable"
            ng-click="scanQrCode()">
    </button>
  </ion-header-bar>

  <ion-content>
    <ng-include src="'templates/wot/lookup_form.html'"></ng-include>
  </ion-content>
</ion-view>
