<ion-view view-title="{{identity.uid}}" left-buttons="leftButtons">
<ion-content>
    <div class="scroll">
        <div class="list">
            <span class="item item-icon-left">
                <i class="icon ion-person"></i>
                <h2 class="positive">{{identity.uid}}</h2>
                <h4 class="gray">{{'WOT.REGISTERED_SINCE' | translate}}{{identity.sigDate | formatDate}}</h4>
            </span>

            <a class="item item-icon-left">
                <i class="icon ion-key"></i>
                <h4 class="gray">{{identity.pub}}</h4>
            </a>

            <div class="item-divider"></div>

            <div class="item item-button-right positive" ng-click="transfer()">
                {{'WOT.BTN_SEND_MONEY' | translate}}
                <a class="button button-clear button-positive" >
                    <i class="icon-right ion-chevron-right"></i>
                </a>
            </div>

            <div class="item item-button-right positive" ng-click="signIdentity()" ng-if="hasSelf">
                {{'WOT.BTN_CERTIFY' | translate}}
                <a class="button button-clear button-positive" >
                    <i class="icon-right ion-chevron-right"></i>
                </a>
            </div>
            
            <!--div class="item item-divider" ng-if="isLogged()">
                Last transactions
            </div-->

        </div>
    <div class="scroll-bar scroll-bar-v"></div>
    </div>
</ion-content>
</ion-view>
