<ion-view view-title="{{identity.uid}}" left-buttons="leftButtons">
<ion-content>
    <div class="scroll">
        <div class="list">
            <span class="item item-icon-left">
                <i class="icon ion-person"></i>
                <h2>{{identity.uid}}</h2>
                <p>public key: {{identity.pub | formatPubkey}}</p>
                <span class="badge"></span>
            </span>

            <span class="item item-icon-left">
                <i class="icon ion-calendar"></i>
                Registration date
                <span class="badge badge-calm">{{identity.sigDate | formatDate}}</span>
            </span>

            <div class="item-divider"></div>

            <div class="item item-button-right positive" ng-click="transfer()">
                Send money
                <a class="button button-clear button-positive" >
                    <i class="icon-right ion-chevron-right"></i>
                </a>
            </div>

            <div class="item item-button-right positive" ng-click="signIdentity()" ng-if="hasSelf">
                Certify
                <a class="button button-clear button-positive" >
                    <i class="icon-right ion-chevron-right"></i>
                </a>
            </div>
            
            <!--div class="item item-divider" ng-if="isLogged()">
                Last transactions
            </div-->

        </div>
    <div class="scroll-bar scroll-bar-v"></div>
    </div>
</ion-content>
</ion-view>
