<ion-view left-buttons="leftButtons">
  <ion-nav-title>
    <span class="visible-xs visible-sm">{{::identity.uid}}</span>
  </ion-nav-title>

  <ion-nav-buttons side="secondary">
    <button class="button button-icon button-clear icon ion-loop" ng-click="doUpdate()">
    </button>
  </ion-nav-buttons>

  <ion-content id="certifications" ng-class="{expanded:isExpanded}">
    <div class="content scroll">

      <div class="hidden-xs hidden-sm padding" style="text-align:center">
        <button class="button button-raised icon-left ion-ribbon-b" ng-click="certifyIdentity()"
                ng-if="hasSelf && canCertify"
                ng-disabled="alreadyCertified">
          {{'WOT.BTN_CERTIFY' | translate}}
        </button>
      </div>

      <div class="row no-padding">
        <div class="col col-20 hidden-xs hidden-sm">&nbsp;
        </div>

        <label class="col center" ng-if="!loaded">
          <ion-spinner icon="android"></ion-spinner>
        </label>

        <div class="col list animate-fade-slide-in-right">

          <span class="item item-divider">
            <span class="hidden-xs" translate="WOT.CERTIFICATIONS_RECEIVED_BY" translate-values="{uid: identity.uid}"></span>
            <span class="visible-xs" translate="WOT.CERTIFICATIONS_RECEIVED" ></span>
            <div class="badge item-note" translate>WOT.EXPIRE_IN</div>
          </span>

          <span class="item" ng-if="loaded && certifications.length == 0">
            <h3 translate>WOT.NO_CERTIFICATIONS</h3>
          </span>

          <a class="item ink"
                ng-repeat="cert in certifications"
                ng-if="loaded"
                ui-sref="app.view_identity({pub:cert.from})">
            <span ng-if="cert.isMember">
              <h3
                ng-class="{'positive': !!cert.expiresIn && cert.expiresIn > timeWarningExpire, 'assertive': !!cert.expiresIn && cert.expiresIn <= timeWarningExpire}">
                <i class="icon " ng-class="{'ion-alert-circled': !!cert.expiresIn && cert.expiresIn <= timeWarningExpire, 'ion-clock': !cert.expiresIn && cert.isMember}"> </i>
                <i class="icon ion-person"> </i>
                {{::cert.uid}}
              </h3>
              <h4 class="gray">
                <i class="icon ion-key"></i>
                {{::cert.from | formatPubkey}}
                <span class="gray"> | {{'WOT.SIGNED_ON_BLOCK' | translate}} #{{::cert.block}}</span>
              </h4>
            </span>
            <span ng-if="!cert.isMember">
              <h3 class="gray">
                <i class="icon ion-key"></i>
                {{::cert.from | formatPubkey}}
              </h3>
              <h4 ng-if="!cert.isMember" class="gray">{{'WOT.SIGNED_ON_BLOCK' | translate}} #{{::cert.block}}</h4>
            </span>
            <div class="badge item-note"
                 ng-if="cert.expiresIn"
                 ng-class="{'badge-balanced': cert.expiresIn > timeWarningExpire, 'badge-assertive': cert.expiresIn <= timeWarningExpire}">
              {{::cert.expiresIn | formatDuration}}
            </div >
          </a>
        </div>

        <div class="col col-20 hidden-xs hidden-sm">&nbsp;
        </div>
      </div>

      <div class="scroll-bar scroll-bar-v"></div>
    </div>

  </ion-content>

  <!-- fab button -->
  <div class="visible-xs visible-sm">
    <button id="fab-certify" class="button button-fab button-fab-bottom-right button-energized-900 spin"
            ng-click="certifyIdentity()"
            ng-if="canCertify && !alreadyCertified">
      <i class="icon ion-ribbon-b"></i></button>
  </div>

</ion-view>
