<ion-view left-buttons="leftButtons">
  <ion-nav-title>
    <span class="visible-xs visible-sm">{{::formData.uid}}</span>
    <span class="hidden-xs hidden-sm" translate="WOT.CERTIFICATIONS.TITLE" translate-values="{uid: formData.uid}"></span>
  </ion-nav-title>

  <ion-tabs class="tabs-positive tabs-icon-top certifications">

    <ion-tab title="{{'WOT.CERTIFICATIONS.SUMMARY'|translate}}" icon="ion-ribbon-b"
             ui-sref="app.wot_cert.received({pubkey: formData.pubkey, uid: formData.uid})">
      <ion-nav-view name="tab-received-cert"></ion-nav-view>
    </ion-tab>

    <ion-tab title="{{'WOT.GIVEN_CERTIFICATIONS.SUMMARY'|translate}}" icon="ion-ribbon-a"
             ui-sref="app.wot_cert.given({pubkey: formData.pubkey, uid: formData.uid})">
      <ion-nav-view name="tab-given-cert"></ion-nav-view>
    </ion-tab>

  </ion-tabs>

</ion-view>
