<ion-view left-buttons="leftButtons" >
  <ion-nav-title>
  </ion-nav-title>

  <ion-content scroll="true">
    <div class="positive-900-bg hero">
      <div class="content" ng-if="!loading">
        <i class="avatar"
           ng-style="formData.avatarStyle"
           ng-class="{'avatar-wallet': !formData.avatarStyle && walletData && !formData.isMember, 'avatar-member': !formData.avatarStyle && formData.isMember}">
        </i>
        <h3 class="light" ng-if="formData.name">{{::formData.name}}</h3>
        <h3 class="light" ng-if="!formData.name && formData.isMember">{{formData.uid}}</h3>
        <h3 class="light" ng-if="!formData.name && !formData.isMember">{{formData.pubkey | formatPubkey}}</h3>
        <h4>&nbsp;</h4>
      </div>
      <h4 class="content light" ng-if="loading">
        <ion-spinner icon="android"></ion-spinner>
      </h4>
    </div>

    <!-- button bar-->
    <div class="hidden-xs hidden-sm padding text-center">
      <button class="button button-raised button-calm ink-dark"
              ng-click="showTransferModal({pubkey:formData.pubkey, uid: formData.uid})">
        {{'COMMON.BTN_SEND_MONEY' | translate}}
      </button>
    </div>

    <div class="row no-padding">
      <div class="col col-20 hidden-xs hidden-sm">&nbsp;
      </div>

      <div class="col list animate-fade-slide-in-right">

        <span class="item item-divider" translate>WOT.GENERAL_DIVIDER</span>

        <!-- Certifications count -->
        <a class="item item-icon-left item-text-wrap item-icon-right ink" ng-if="formData.hasSelf"
           ui-sref="app.wot_view_cert({pubkey:formData.pubkey})">
          <i class="icon ion-ribbon-b"></i>
          <span translate>ACCOUNT.CERTIFICATION_COUNT</span>
          <span class="badge" ng-class="{'badge-balanced': formData.certificationCount >= formData.sigQty, 'badge-assertive': formData.certificationCount < formData.sigQty}">{{formData.certificationCount}}</span>
          <i class="gray icon ion-ios-arrow-right"></i>
        </a>

        <!-- Registration date -->
        <ion-item class="item-icon-left" ng-if="formData.sigDate">
          <i class="icon ion-calendar"></i>
          <span>{{'WOT.REGISTERED_SINCE' | translate}}</span>
          <h5 class="dark">{{::formData.sigDate | formatDate}}</h5>
          <span class="badge badge-balanced">{{::formData.sigDate | formatFromNow}}</span>
        </ion-item>

        <cs-extension-point name="general"></cs-extension-point>

        <span class="item item-divider" translate>WOT.TECHNICAL_DIVIDER</span>

        <!-- Uid -->
        <ion-item class="item-icon-left" ng-if="formData.uid">
          <span translate>COMMON.UID</span>
          <span class="badge badge-stable">{{::formData.uid}}</span>
        </ion-item>

        <!-- Pubkey -->
        <ion-item class="item-icon-left item-icon-right item-text-wrap ink"
                  on-hold="copy(formData.pubkey)"
                  copy-on-click>
          <i class="icon ion-key"></i>
          <span translate>COMMON.PUBKEY</span>
          <h4 id="pubkey" class="dark text-left">{{::formData.pubkey}}</h4>
        </ion-item>

        <cs-extension-point name="technical"></cs-extension-point>
      </div>

      <div class="col col-20 hidden-xs hidden-sm">&nbsp;
      </div>
    </div>
  </ion-content>

  <!-- fab button -->
  <div class="visible-xs visible-sm">
    <button id="fab-transfer" class="button button-fab button-fab-bottom-right button-assertive expanded button-energized-900 drop"
            ng-click="showTransferModal({pubkey:formData.pubkey, uid: formData.uid})">
      <i class="icon ion-android-send"></i>
    </button>
  </div>
</ion-view>
