<ion-view left-buttons="leftButtons">
  <ion-nav-title>
    <span translate>MARKET.EDIT.TITLE</span>
  </ion-nav-title>

    <ion-nav-buttons side="secondary">
        <button class="button button-clear button-icon icon visible-xs visible-sm"
                ng-class="{'ion-android-send':!id, 'ion-android-done': id}"
                ng-click="save()">
        </button>
    </ion-nav-buttons>

    <ion-content>
        <div class="scroll">
            <div class="list gallery" ng-if="pictures && pictures.length>0" >
              <div ng-repeat="picture in pictures"
                   class="item card card-gallery">
                <div>
                  <h2 ng-if="picture.title">{{picture.title}}</h2>
                  <img ng-src="{{picture.src}}" ></img>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                  <a class="tab-item stable-bg assertive-900" ng-click="removePicture($index)">
                    <i class="icon ion-close"></i>
                    {{'COMMON.BTN_PICTURE_DELETE'|translate}}
                  </a>
                  <a class="tab-item stable-bg"
                      ng-click="favoritePicture($index)"
                      ng-class="{'dark': $index !== 0, 'positive-900': $index === 0}">
                    <i class="icon ion-star"></i>
                    {{'COMMON.BTN_PICTURE_FAVORISE'|translate}}
                  </a>
                </div>
              </div>
           </div>

            <div class="list">

                <div class="item item-icon-right hidden-no-device">
                    <span translate>MARKET.EDIT.BTN_ADD_PICTURES</span>
                    <a class="dark" href="#" ng-click="openPicturePopup()">
                        <i class="icon ion-camera"></i>
                    </a>
                </div>

                <div class="item item-input item-icon-right hidden-device">
                    <span class="input-label has-input" translate>MARKET.EDIT.BTN_ADD_PICTURES</span>
                    <input type="file" id="file" accept=".png,.jpeg,.jpg" onchange="angular.element(this).scope().fileChanged(event)"/>
                    <!--a class="dark" href="#" ng-if="!camera" ng-click="addPictureFile()">
                        <i class="icon ion-plus"></i>
                    </a-->
                </div>

                <span class="item item-icon-left" ng-if="id && formData.issuer">
                    <i class="icon ion-key"></i>
                    <span translate>MARKET.COMMON.ISSUER</span>
                    <span class="badge">{{formData.issuer | formatPubkey}}</span>
                </span>

                <span class="item item-button-right" ng-click="openCategoryModal()">
                    <span translate>MARKET.COMMON.CATEGORY</span>
                    <span class="badge badge-royal">{{category.name}}</span>&nbsp;
                    <i class="button button-clear ion-chevron-right"></i>
                </span>

                <div class="item item-input item-floating-label">
                    <span class="input-label" translate>MARKET.EDIT.RECORD_TITLE</span>
                    <input type="text" placeholder="{{'MARKET.EDIT.RECORD_TITLE_HELP'|translate}}" ng-model="formData.title"></input>
                </div>

                <div class="item item-input item-floating-label">
                    <span class="input-label" translate>MARKET.EDIT.RECORD_DESCRIPTION</span>
                    <textarea placeholder="{{'MARKET.EDIT.RECORD_DESCRIPTION_HELP'|translate}}"
                              ng-model="formData.description"
                              rows="8" cols="10"></textarea>
                </div>

                <div class="item item-input item-floating-label">
                  <span class="input-label" translate>MARKET.EDIT.RECORD_PRICE</span>
                      <input type="text" placeholder="{{'MARKET.EDIT.RECORD_PRICE_HELP'|translate}}"
                                ng-model="formData.price"></input>
                </div>

                <div class="item item-floating-label" ng-if="location.enable">
                    <span class="input-label" translate>MARKET.EDIT.RECORD_LOCATION</span>
                    <div class="item-input-inset">
                        <label class="item-input-wrapper">
                            <input type="text" placeholder="{{'MARKET.EDIT.RECORD_LOCATION_HELP'|translate}}" ng-model="formData.location">
                        </label>
                        <button class="button button-small button-positive" ng-click="localize()" ng-if="location.enable">
                            <i class="icon ion-pinpoint"></i>
                        </button>
                    </div>
                </div>

                <div class="item item-input item-floating-label" ng-if="!location.enable">
                    <span class="input-label" translate>MARKET.EDIT.RECORD_LOCATION</span>
                    <textarea placeholder="{{'MARKET.EDIT.RECORD_LOCATION_HELP'|translate}}" ng-model="formData.location"></textarea>
                </div>

            </div>

            <div class="padding hidden-xs hidden-sm text-right">
              <button class="button button-clear button-dark ink" ng-click="goBack()" type="button" translate>COMMON.BTN_CANCEL
              </button>
              <!--<button class="button button-small button-stable ink" ng-click="saveAsDirty()">-->
                <!--{{'MARKET.EDIT.BTN_SAVE' | translate}}-->
              <!--</button>-->
              <button class="button button-positive button-raised ink" ng-click="save()" ng-show="!id">
                {{'MARKET.EDIT.BTN_PUBLISH' | translate}}
              </button>
              <button class="button button-positive button-raised ink" ng-click="save()" ng-show="id">
                {{'MARKET.EDIT.BTN_SAVE' | translate}}
              </button>
            </div>
        </div>
        <div class="scroll-bar scroll-bar-v"></div>
    </ion-content>


</ion-view>
