<ion-view left-buttons="leftButtons" view-title="{{'MARKET.VIEW.TITLE'|translate}}">
    <ion-nav-buttons side="secondary">
        <button class="button button-positive button-clear button-icon ion-android-create" ng-click="edit()" ng-if="canEdit">
        </button>
    </ion-nav-buttons>

    <ion-content class="item-text-wrap">

        <div class="scroll">
            <div class="list">


                <div class="item" ng-class="{'item-thumbnail-left': pictures && pictures.length>0}">
                    <img style="height:70px" ng-src="{{pictures[0].src}}" nf-if="pictures && pictures.length>0">
                    <h2 ng-bind-html="formData.title"></h2>
                    <h4 class="gray" ng-bind-html="formData.location"></h4>
                </div>

                <div class="item">
                    <p ng-bind-html="formData.description"></p>
                </div>

                <div class="item-divider"></div>

                <span class="item item-icon-left">
                    <i class="icon ion-person"></i>
                    <span translate>MARKET.COMMON.ISSUER</span>
                    <span class="badge" ng-class="{'badge-positive': isMember, 'badge-assertive': !isMember}">{{formData.issuer | formatPubkey}}</span>
                </span>

                <div class="item">
                    <span translate>MARKET.COMMON.CATEGORY</span>
                    <span class="badge badge-positive">{{category.name}}</span>
                </div>



            </div>
            <div class="scroll-bar scroll-bar-v"></div>
        </div>
    </ion-content>
</ion-view>
