<ion-modal-view class="modal-full-height">

  <ion-header-bar class="bar-positive">

    <button class="button button-clear visible-xs"
            ng-if="!slides.slider.activeIndex"
            ng-click="closeModal()" translate>COMMON.BTN_CANCEL
    </button>
    <button class="button button-icon button-clear icon ion-ios-arrow-back buttons header-item"
            ng-click="slidePrev()"
            ng-if="slides.slider.activeIndex">
    </button>
    <button class="button button-icon button-clear icon ion-ios-help-outline visible-xs"
            ng-if="slides.slider.activeIndex > 1 && !isLastSlide"
            ng-click="showHelpModal()"></button>

    <h1 class="title" translate>ACCOUNT.NEW.TITLE</h1>

    <button class="button button-clear icon-right visible-xs"
            ng-if="!isLastSlide && slides.slider.activeIndex > 1"
            ng-click="doNext()">
      <span translate>COMMON.BTN_NEXT</span>
      <i class="icon ion-ios-arrow-right"></i>
    </button>
  </ion-header-bar>


    <ion-slides options="slides.options" slider="slides.slider">

      <!-- STEP 1: currency -->
      <ion-slide-page>
        <ion-content class="has-header padding">
          <h3 translate>ACCOUNT.NEW.SLIDE_1_TITLE</h3>
          <div class="list">
            <div ng-repeat="currency in knownCurrencies"
               class="item card item-icon-right stable-bg padding ink"
               ng-class="{ selected: selectedCurrency == currency }"
               ng-click="selectCurrency(currency.name, true)">
              <h2>{{::currency.name}}</h2>
              <h4 class="gray">{{::currency.peer.server}}</h4>
              <i class="icon dark ion-ios-arrow-right"></i>
            </div>
          </div>

          <div class="padding hidden-xs text-right">
            <button class="button button-clear button-dark ink" ng-click="closeModal()" type="button" translate>COMMON.BTN_CANCEL
            </button>
          </div>
        </ion-content>
      </ion-slide-page>

      <!-- STEP 2: account type -->
      <ion-slide-page>
        <ion-content class="has-header padding">
          <h3 translate>ACCOUNT.NEW.SLIDE_2_TITLE</h3>
          <div class="list">
            <!-- member account -->
            <div class="item item-complex card stable-bg item-icon-left item-icon-right ink"
               ng-click="closeModal('member')">
              <div class="item-content item-text-wrap">
                <i class="item-image icon dark ion-person"></i>
                <h2 translate>ACCOUNT.NEW.MEMBER_ACCOUNT</h2>
                <h4 class="gray" translate>ACCOUNT.NEW.MEMBER_ACCOUNT_HELP</h4>
                <i class="icon dark ion-ios-arrow-right"></i>
              </div>
            </div>

            <!-- Allow extension here -->
            <cs-extension-point name="select-account-type"></cs-extension-point>

            <!-- simple wallet -->
            <div class="item item-complex card stable-bg item-icon-left item-icon-right ink"
               ng-click="closeModal('wallet')">
              <div class="item-content item-text-wrap">
                <i class="item-image icon dark ion-card"></i>
                <h2 translate>ACCOUNT.NEW.WALLET_ACCOUNT</h2>
                <h4 class="gray" translate>ACCOUNT.NEW.WALLET_ACCOUNT_HELP</h4>
                <i class="icon dark ion-ios-arrow-right"></i> </div>
            </div>
          </div>
          <div class="padding hidden-xs text-right">
            <button class="button button-clear button-dark ink" ng-click="closeModal()" type="button" translate>COMMON.BTN_CANCEL
            </button>
          </div>
        </ion-content>
      </ion-slide-page>
    </ion-slide-box>
</ion-modal-view>
