
  <form name="loginForm" novalidate="" ng-submit="doLogin()" autocomplete="off">

   <div class="list padding no-padding-xs"
         ng-init="setForm(loginForm)"
         ng-switch on="formData.method">


     <div class="item item-text-wrap" ng-if="::isAuth">
       <p ng-if="::expectedPubkey" ng-bind-html="::expectedUid ? 'AUTH.EXPECTED_UID_HELP' : 'AUTH.EXPECTED_PUBKEY_HELP' |translate: {uid: expectedUid, pubkey: expectedPubkey}"></p>
       <p ng-if="::!expectedPubkey" ng-bind-html="::'AUTH.GENERAL_HELP'|translate"></p>
     </div>

      <!-- Form content, depending of the login method -->
      <div ng-switch-when="SCRYPT_DEFAULT">
        <ng-include src="::'templates/login/form_scrypt.html'"></ng-include>
      </div>
      <div ng-switch-when="SCRYPT_ADVANCED">
        <ng-include src="::'templates/login/form_scrypt_advanced.html'"></ng-include>
      </div>
      <div ng-switch-when="PUBKEY">
        <ng-include src="::'templates/login/form_pubkey.html'"></ng-include>
      </div>
      <div ng-switch-when="FILE">
        <ng-include src="::'templates/login/form_file_import.html'"></ng-include>
      </div>
       <div ng-switch-when="SCAN">
         <ng-include src="::'templates/login/form_scan.html'"></ng-include>
       </div>
      <div ng-switch-default>
        <ng-include src="::'templates/login/form_scrypt.html'"></ng-include>
      </div>
    </div>

    <div class="padding hidden-xs text-right">
      <button class="button button-clear button-dark ink"
              ng-click="closeModal()" type="button" translate>COMMON.BTN_CANCEL
      </button>
      <button class="button button-positive ink" ng-class="{'button-assertive': isAuth, 'button-positive': !isAuth}" type="submit">
        {{okText || (isAuth ? 'AUTH.BTN_AUTH' : 'COMMON.BTN_CONTINUE') | translate}}
      </button>
    </div>

    <div class="text-center no-padding visible-xs">
      <button type="button" class="button button-small icon-right ink"
              ng-click="showMethodsPopover($event)">
        <i class="icon ion-loop"></i>
        <span translate>LOGIN.BTN_METHODS_DOTS</span>
      </button>
      <br/><br/>
    </div>

  </form>
