
  <div class="item item-text-wrap">
    <p  ng-bind-html="isAuth ? 'AUTH.SCRYPT_FORM_HELP': 'LOGIN.SCRYPT_FORM_HELP'|translate"></p>
  </div>

  <!-- avoid web browser to fill password automatically -->
  <input type="password" name="fake-password" style="visibility:hidden; position:absolute;"/>

  <!-- salt (=username, to enable browser login cache) -->
  <label class="item item-input"
         ng-class="{ 'item-input-error': form.$submitted && form.username.$invalid}">
    <span class="input-label hidden-xs" translate>LOGIN.SALT</span>
    <input name="username" type="password" autocomplete="off" placeholder="{{'LOGIN.SALT_HELP' | translate}}"
           ng-model="formData.username"
           ng-model-options="{ debounce: 650 }"
           class="highlight-light"
           required >
  </label>
  <div class="form-errors"
       ng-show="form.$submitted && form.username.$error"
       ng-messages="form.username.$error">
    <div class="form-error" ng-message="required">
      <span translate="ERROR.FIELD_REQUIRED"></span>
    </div>
  </div>

  <!-- password-->
  <label class="item item-input"
         ng-class="{ 'item-input-error': form.$submitted && form.password.$invalid}">
    <span class="input-label hidden-xs" translate>LOGIN.PASSWORD</span>
    <input name="password" type="password" placeholder="{{'LOGIN.PASSWORD_HELP' | translate}}"
           ng-model="formData.password"
           ng-model-options="{ debounce: 650 }"
           select-on-click
           required>
  </label>
  <div class="form-errors"
       ng-show="form.$submitted && form.password.$error"
       ng-messages="form.password.$error">
    <div class="form-error" ng-message="required">
      <span translate="ERROR.FIELD_REQUIRED"></span>
    </div>
  </div>

  <div class="item item-icon-right item-text-wrap"
       ng-class="{ 'item-input-error': pubkeyError, 'item-input': showPubkey}">
    <span class="input-label hidden-xs animate-show-hide ng-hide" ng-show="showPubkey" translate>COMMON.PUBKEY</span>
    <div class="item-content">
      <a class="positive ink animate-show-hide ng-hide"
         ng-show="showComputePubkeyButton"
         ng-click="computePubkey()">
        <i class="ion-eye"></i>
        {{'COMMON.BTN_SHOW_PUBKEY' | translate}}
      </a>
      <span class="gray animate-show-hide text-wrap" ng-show="!computing">{{pubkey}}</span>
      <ion-spinner class="ion-spinner-small" icon="android" ng-if="computing"></ion-spinner>
    </div>
    <a class="button button-icon positive button-small-padding icon ion-ios-help-outline animate-show-hide "
       ng-click="showHelpModal('login-pubkey')"
       ng-if="!expectedPubkey"
       ng-show="showPubkey">
    </a>
    <span class="button button-icon balanced button-small-padding icon ion-checkmark animate-show-hide"
       ng-if="expectedPubkey"
       ng-show="showPubkey && !showComputePubkeyButton && !computing && !pubkeyError">
    </span>
  </div>
  <div class="form-errors" ng-if="expectedPubkey">
    <div class="form-error" ng-show="pubkeyError">
      <span trust-as-html="::'ERROR.AUTH_INVALID_PUBKEY'|translate:{pubkey: expectedPubkey}"></span>
    </div>
  </div>

