<ion-modal-view class="modal-full-height modal-login">
  <ion-header-bar class=""
    ng-class="{'bar-positive': !isAuth, 'bar-assertive': isAuth}">
    <button class="button button-clear visible-xs" ng-click="closeModal()" translate>COMMON.BTN_CANCEL
    </button>
    <h1 class="title" ng-bind-html="title | translate">
    </h1>
    <div class="buttons buttons-right">
      <div class="secondary-buttons">
        <button class="button button-icon button-clear icon ion-android-done visible-xs"
                ng-class="{'button-positive': !isAuth}" style="color: #fff;"
                ng-click="doLogin()">
        </button>
      </div>
    </div>

  </ion-header-bar>

  <ion-content scroll="true">
    <ng-include src="::'templates/login/form_login.html'"></ng-include>
  </ion-content>
</ion-modal-view>
