<ion-popover-view class="fit has-header popover-login-methods"
  ng-class="{'auth': isAuth, 'scan': $root.device.barcode.enable}">
  <ion-header-bar>
    <h1 class="title" translate>LOGIN.METHOD_POPOVER_TITLE</h1>
  </ion-header-bar>
  <ion-content scroll="false">


    <div class="list item-text-wrap">

      <a class="item item-icon-left ink"
         ng-click="changeMethod('SCRYPT_DEFAULT')">
        <i class="icon ion-shuffle" style="font-size: 22px;"></i>
        {{'LOGIN.METHOD.SCRYPT_DEFAULT' | translate}}
      </a>

      <a class="item item-icon-left ink"
         ng-click="changeMethod('SCRYPT_ADVANCED')">
        <i class="icon ion-shuffle" style="font-size: 22px;"></i>
        <i class="icon-secondary ion-plus" style="font-size: 13px; left: 40px; margin-top: -4px;"></i>
        {{'LOGIN.METHOD.SCRYPT_ADVANCED' | translate}}
      </a>

      <a class="item item-icon-left ink hidden-xs"
         ng-click="changeMethod('FILE')">
        <i class="icon ion-document-text"></i>
        {{'LOGIN.METHOD.FILE' | translate}}
      </a>

      <div ng-if="!isAuth" class="item-divider hidden-xs hidden-sm"></div>

      <a class="item item-icon-left ink"
         ng-if="$root.device.barcode.enable"
         ng-click="changeMethod('SCAN')">
        <i class="icon ion-qr-scanner"></i>
        {{'LOGIN.METHOD.SCAN' | translate}}
      </a>

      <a class="item item-icon-left ink"
         ng-if="!isAuth"
         ng-click="changeMethod('PUBKEY')">
        <i class="icon ion-key"></i>
        {{'LOGIN.METHOD.PUBKEY' | translate}}
      </a>

    </div>
  </ion-content>
</ion-popover-view>
