  <div class="item row grid-header {{::ionItemClass}} hidden-sm  hidden-xs ">
    <div class="col padding-left">
      <span>
        {{'COMMON.UID' | translate}}
      </span>
      <button class="pull-right button-clear button-icon" ng-click="toggleSort('uid')">
        <i class="icon ion-chevron-up gray"></i>
        <i class="icon ion-chevron-down gray"></i>
      </button>
    </div>

    <div class="col col-15 no-padding-right">
      <span>
        {{'PEER.API' | translate}}
      </span>
      <button class="pull-right button-clear button-icon" ng-click="toggleSort('api')">
        <i class="icon ion-chevron-up gray"></i>
        <i class="icon ion-chevron-down gray"></i>
      </button>
    </div>

    <div class="col col-20 no-padding-right">
      <span>
        {{'PEER.DIFFICULTY' | translate}}
      </span>
      <button class="pull-right button-clear button-icon" ng-click="toggleSort('difficulty')">
        <i class="icon ion-chevron-up gray"></i>
        <i class="icon ion-chevron-down gray"></i>
      </button>
    </div>
    <div class="col col-25 no-padding-right">
      <span>
        {{'PEER.CURRENT_BLOCK' | translate}}
      </span>
      <button class="pull-right button-clear button-icon" ng-click="toggleSort('current_block')">
        <i class="icon ion-chevron-up gray"></i>
        <i class="icon ion-chevron-down gray"></i>
      </button>
    </div>
    </div>

    <div ng-repeat="peer in search.results track by peer.server"
       class="item peer-item item-icon-left {{::ionItemClass}}"
       ng-class="{ assertive: !peer.online, balanced: (peer.online && peer.hasMainConsensusBlock), energized: (peer.online && !peer.hasMainConsensusBlock)}"
       id="helptip-currency-peer-{{$index}}"
       ng-click="selectPeer(peer)">

    <i class="icon ion-android-globe"></i>

    <div class="row no-padding">
      <div class="col no-padding">
        <h3><i ng-class="{'ion-person': peer.uid, 'ion-key': !peer.uid}"></i> <span>{{peer.uid || peer.pubkey.substr(0,8)}}</span> <span class="gray">{{peer.dns && ' | ' + peer.dns}}</span></h3>
        <h4>{{peer.server}}</h4>
      </div>
      <div class="col col-15 no-padding logo" ng-if="peer.hasEndpoint('ES_USER_API')">

        <b class="ion-plus gray" style="position: relative; left: 10px; font-size : 14px;"></b>
      </div>
      <div class="col col-20 no-padding" ng-if="settings.expertMode">
        <h3 class="hidden-sm hidden-xs hidden-md">
          <span ng-if="peer.uid"><i class="ion-lock-combination"></i> {{peer.level}}</span>
          <span ng-if="!peer.uid" translate>PEER.MIRROR</span>
        </h3>
        <h4 class="hidden-sm hidden-xs hidden-md gray">v{{peer.version}}</h4>
      </div>
      <div class="col col-25 no-padding">
        <span id="helptip-currency-peer-{{$index}}-block"
          class="badge" ng-class="{ 'badge-balanced': peer.hasMainConsensusBlock, 'badge-energized': peer.hasConsensusBlock }">{{peer.currentNumber}}</span>
      </div>
    </div>
  </div>
</div>

