<bind-notifier bind-notifier="{ rebind:search.results}" ng-class="::motion.ionListClass">

  <div class="item item-text-wrap no-border done in gray" ng-if="isHttps && expertMode">
    <i class="icon ion-alert-circled"></i> {{'NETWORK.INFO.ONLY_SSL_PEERS'|translate}}
  </div>

  <div class="item row row-header hidden-xs hidden-sm done in" ng-if="expertMode">
    <a class="col col-header no-padding dark" ng-click="toggleSort('uid')">
      <cs-sort-icon asc="search.asc" sort="search.sort" toggle="'uid'"></cs-sort-icon>
      {{'COMMON.UID' | translate}} / {{'COMMON.PUBKEY' | translate}}
    </a>
    <a class="no-padding dark hidden-md col col-15 col-header"
       ng-click="toggleSort('api')">
      <cs-sort-icon asc="search.asc" sort="search.sort" toggle="'api'"></cs-sort-icon>
      {{'PEER.API' | translate}}
    </a>
    <a class="no-padding dark col col-20 col-header"
       ng-click="toggleSort('difficulty')">
      <cs-sort-icon asc="search.asc" sort="search.sort" toggle="'difficulty'"></cs-sort-icon>
      {{'PEER.DIFFICULTY' | translate}}
    </a>
    <a class="col col-20 col-header no-padding dark" ng-click="toggleSort('current_block')">
      <cs-sort-icon asc="search.asc" sort="search.sort" toggle="'current_block'"></cs-sort-icon>
      {{'PEER.CURRENT_BLOCK' | translate}}
    </a>
  </div>

  <div ng-repeat="peer in :rebind:search.results track by peer.id"
       class="item item-peer item-icon-left ink"
       ng-class="::ionItemClass"
       id="helptip-network-peer-{{$index}}"
       ng-click="selectPeer(peer)">

    <i class="icon ion-android-desktop"
       ng-class="{'balanced': peer.online && peer.hasMainConsensusBlock, 'energized': peer.online && peer.hasConsensusBlock, 'gray': peer.online && !peer.hasConsensusBlock && !peer.hasMainConsensusBlock, 'stable': !peer.online}"
       ng-if=":rebind:!peer.uid || !peer.avatar"></i>
    <b class="icon-secondary ion-person" ng-if=":rebind:!peer.avatar && peer.uid"
       ng-class="{'balanced': peer.online && peer.hasMainConsensusBlock, 'energized': peer.online && peer.hasConsensusBlock, 'gray': peer.online && !peer.hasConsensusBlock && !peer.hasMainConsensusBlock, 'stable': !peer.online}"
       style="left: 26px; top: -3px;"></b>
    <i class="avatar" ng-if=":rebind:peer.uid && peer.avatar" style="background-image: url('{{:rebind:peer.avatar.src}}')"></i>
    <b class="icon-secondary assertive ion-close-circled" ng-if=":rebind:!peer.online" style="left: 37px; top: -10px;"></b>

    <div class="row no-padding">
      <div class="col no-padding">
        <h3>
          <span class="dark" ng-if=":rebind:peer.uid"
             ui-sref="app.wot_identity({pubkey: peer.pubkey, uid: peer.uid})">
            {{:rebind:peer.name||peer.uid}}
          </span>
          <span class="gray" ng-if=":rebind:!peer.uid">
            <i class="ion-key"></i> {{:rebind:peer.pubkey|formatPubkey}}
          </span>
          <span class="gray">{{:rebind:peer.dns && ' | ' + peer.dns}}</span></h3>
        <h4 class="positive">
          <span ng-if=":rebind:peer.uid && peer.name">
            <i class="ion-person"></i> {{:rebind:peer.uid}}
            <span class="gray"> | </span>
          </span>
          <span class="gray">{{:rebind:peer.server}}</span>
        </h4>
      </div>
      <div class="col col-15 no-padding text-center hidden-xs hidden-sm" ng-if="::expertMode">
        <div style="min-width: 50px; padding-top: 5px;" >
          <span ng-if=":rebind:peer.isSsl()">
            <i class="ion-locked"></i> <small>SSL</small>
          </span>
        </div>
        <span class="" ng-if=":rebind:peer.hasEndpoint('ES_USER_API')">
          <i class="ion-es-user-api"></i>
          <b class="ion-plus dark" style="position: relative; left: -14px; top:-17px; font-size : 16px;"></b>
        </span>
      </div>
      <div class="col col-20 no-padding text-center" ng-if="::expertMode && search.type != 'offline'">
        <h3 class="hidden-sm hidden-xs gray">
          <span ng-if=":rebind:peer.uid"><i class="ion-lock-combination"></i>{{:rebind:peer.difficulty||'?'}}</span>
          <span ng-if=":rebind:!peer.uid" translate>PEER.MIRROR</span>
        </h3>
        <h4 class="hidden-sm hidden-xs gray">{{:rebind: peer.version ? ('v'+peer.version) : ''}}</h4>
      </div>
      <div class="col col-20 no-padding text-center">
        <span id="helptip-network-peer-{{$index}}-block"
          class="badge" ng-class="{'badge-balanced': peer.hasMainConsensusBlock, 'badge-energized': peer.hasConsensusBlock }">{{:rebind:peer.currentNumber}}</span>
      </div>
    </div>
  </div>

</bind-notifier>
