<div class="list">
  <div id="helptip-currency-peers"
       class="item item-divider item-icon-right">
        {{'PEER.PEERS'|translate}}
    <ion-spinner class="icon" icon="android" ng-if="loadingPeers"></ion-spinner>
    <a class="icon ion-loop gray hidden-xs hidden-sm" ng-if="!loadingPeers" ng-click="refresh()">
    </a>
  </div>
    <a class="peer-item item item-icon-left"
         ng-repeat="peer in peers track by peer.server"
         id="helptip-currency-peer-{{$index}}"
         ng-class="{ assertive: !peer.online, balanced: (peer.online && peer.hasMainConsensusBlock), energized: (peer.online && !peer.hasMainConsensusBlock)}"
         ui-sref="app.view_peer({server: peer.server})">
      <i class="icon ion-android-globe"></i>
      <div class="row no-padding">
        <div class="col no-padding">
          <h3><i ng-class="{'ion-person': peer.uid, 'ion-key': !peer.uid}"></i> <span>{{peer.uid || peer.pubkey.substr(0,8)}}</span> <span class="gray">{{peer.dns && ' | ' + peer.dns}}</span></h3>
          <h4>{{peer.server}}</h4>
        </div>
        <div class="col col-10 no-padding" ng-if="settings.expertMode">
          <h3 class="hidden-sm hidden-xs hidden-md">
            <span ng-if="peer.level"><i class="ion-lock-combination"></i> {{peer.level}}</span>
            <span ng-if="!peer.level" translate>PEER.MIRROR</span>
          </h3>
          <h4 class="hidden-sm hidden-xs hidden-md gray">v{{peer.version}}</h4>
        </div>
      <div class="col col-20 no-padding">
        <span id="helptip-currency-peer-{{$index}}-block"
              class="badge" ng-class="{ 'badge-balanced': peer.hasMainConsensusBlock, 'badge-energized': peer.hasConsensusBlock }">{{peer.currentNumber}}</span>
      </div>
    </div>
  </a>
</div>
