  <ion-content class="has-header padding" >
    <h3 translate>ACCOUNT.SECURITY.SAVE_ID</h3>

    <form name="answersForm" novalidate ng-submit="doNext('answersForm')">
      <div class="list" ng-init="setForm(answersForm, 'answersForm')">
        <ng-repeat ng-repeat="question in formData.questions |filter:true:checked">
          <label class="item item-input item-text-wrap {{smallscreen ? 'item-stacked-label' : 'item-floating-label'}}"
                 ng-class="{'item-input-error': answersForm.$submitted && answersForm['question{{$index}}'].$invalid}">
            <span class="input-label" style="width: 100%; max-width: inherit;">{{question.value | translate}}</span>
            <input type="text" name="question{{$index}}" placeholder="{{smallscreen ? '' : question.value | translate}}" ng-model="question.answer" required />
          </label>
          <div class="form-errors"
               ng-show="answersForm.$submitted && answersForm['question{{$index}}'].$error"
               ng-messages="answersForm['question{{$index}}'].$error">
            <div class="form-error" ng-message="required">
              <span translate="ERROR.FIELD_REQUIRED"></span>
            </div>
          </div>
        </ng-repeat>
        <div class="padding hidden-xs text-right">
          <button class="button button-clear button-dark ink" ng-click="closeModal()"
                  type="button" translate>COMMON.BTN_CANCEL
          </button>
          <button class="button button-clear button-dark"
                  ng-click="restore()" type="button" translate>ACCOUNT.SECURITY.BTN_CLEAN
          </button>
          <button class="button button-calm icon-right ion-chevron-right ink"
                  type="submit" translate>
            COMMON.BTN_NEXT
            <i class="icon ion-arrow-right-a"></i>
          </button>
        </div>
      </div>

    </form>
  </ion-content>
