<ion-slide-page>
  <ion-content class="has-header padding">
    <h3 translate>ACCOUNT.SECURITY.REVOCATION</h3>
    <div class="list">
      <div class="item card item-icon-right stable-bg padding ink dark"
           ng-click="downloadRevokeFile()" ng-if="isLogin && hasSelf">
        <i class="icon ion-android-archive"></i>
        <span ng-bind-html="'ACCOUNT.SECURITY.DOWNLOAD_REVOKE' | translate"></span>
      </div>
      <div class="item card item-icon-right stable-bg padding ink dark"
           ng-click="slideNext()">
        <i class="icon ion-ios-arrow-right"></i>
        <span ng-bind-html="'ACCOUNT.SECURITY.REVOKE_WITH_FILE' | translate"></span>
      </div>
      <div class="item card item-icon-right stable-bg padding ink dark"
           ng-click="revokeIdentity()" ng-if="isLogin && hasSelf">
        <i class="icon ion-minus-circled assertive"></i>
        <span ng-bind-html="'ACCOUNT.SECURITY.DEFINITELY_REVOKE' | translate"></span>
      </div>
    </div>
    <div class="padding hidden-xs text-right">
      <button class="button button-clear button-dark ink" ng-click="closeModal()" type="button" translate>COMMON.BTN_CANCEL
      </button>
    </div>
  </ion-content>
</ion-slide-page>

