  <ion-content class="has-header padding" >
    <h3 translate>ACCOUNT.SECURITY.SAVE_ID</h3>
    <label class="item item-input item-select">
      <div class="input-label" translate>
        ACCOUNT.SECURITY.LEVEL
      </div>
      <select ng-model="formData.level">
        <option value="2" ng-bind-html="'ACCOUNT.SECURITY.LOW_LEVEL' | translate"></option>
        <option value="4" translate>ACCOUNT.SECURITY.MEDIUM_LEVEL</option>
        <option value="6" translate>ACCOUNT.SECURITY.STRONG_LEVEL</option>
      </select>
    </label>
    <div class="padding-top" translate="ACCOUNT.SECURITY.HELP_LEVEL" translate-values="{nb: {{formData.level}}}"></div>
    <form name="questionsForm" novalidate ng-submit="doNext('questionsForm')">
      <div class="list"
           ng-init="setForm(questionsForm, 'questionsForm')">

        <ion-checkbox ng-repeat="question in formData.questions" ng-model="question.checked"
                      ng-required="isRequired()">
          <span style="white-space: normal;">{{question.value | translate}}</span>
        </ion-checkbox>
        <div class="item item-icon-right no-padding-top">
          <a class="dark"><i class="icon ion-android-add" ng-click="addQuestion()"></i></a>
          <div class="list list-inset">
            <label class="item item-input">
              <input type="text" placeholder="{{'ACCOUNT.SECURITY.ADD_QUESTION' | translate}}" ng-model="formData.addQuestion"/>
            </label>
          </div>
        </div>
      </div>
      <div class="padding hidden-xs text-right">
        <button class="button button-clear button-dark ink" ng-click="closeModal()"
                type="button" translate>COMMON.BTN_CANCEL
        </button>
        <button class="button button-clear button-dark"
                ng-click="restore()" type="button" translate>ACCOUNT.SECURITY.BTN_RESET
        </button>
        <button class="button button-calm icon-right ion-chevron-right ink"
                ng-disabled="questionsForm.$invalid" type="submit" translate>
          COMMON.BTN_NEXT
          <i class="icon ion-arrow-right-a"></i>
        </button>
      </div>
    </form>

  </ion-content>
