  <ion-content class="has-header padding" >
    <h3 translate>ACCOUNT.SECURITY.GENERATE_KEYFILE</h3>

    <!--<p translate>ACCOUNT.SECURITY.GENERATE_KEYFILE_HELP</p>-->

    <div class="list">

      <div class="item item-complex card stable-bg item-icon-left item-icon-right ink"
           ng-click="downloadKeyFile('PubSec')" >
        <div class="item-content item-text-wrap">
          <i class="item-image dark icon ion-document-text"></i>
          <b class="ion-ios-redo icon-secondary dark" style="top: -8px; left: 42px; font-size: 12px;"></b>
          <h2 translate>ACCOUNT.SECURITY.KEYFILE.PUBSEC_FORMAT</h2>
          <h4 class="gray" translate>ACCOUNT.SECURITY.KEYFILE.PUBSEC_FORMAT_HELP</h4>
          <ng-include ng-if="::$root.config.demo" src="::'templates/common/note_feature_no
          <i class="icon dark ion-ios-arrow-right"></i>
        </div>
      </div>

      <div class="item item-complex card stable-bg item-icon-left item-icon-right ink"
           ng-click="downloadKeyFile('WIF')" >
        <div class="item-content item-text-wrap">
          <i class="item-image dark icon ion-document-text"></i>
          <b class="ion-ios-redo icon-secondary dark" style="top: -8px; left: 42px; font-size: 12px;"></b>
          <h2 translate>ACCOUNT.SECURITY.KEYFILE.WIF_FORMAT</h2>
          <h4 class="gray" translate>ACCOUNT.SECURITY.KEYFILE.WIF_FORMAT_HELP</h4>
          <ng-include ng-if="::$root.config.demo" src="::'templates/common/note_feature_no
          <i class="icon dark ion-ios-arrow-right"></i>
        </div>
      </div>

      <div class="item item-complex card stable-bg item-icon-left item-icon-right ink"
           ng-click="downloadKeyFile('EWIF')">
        <div class="item-content item-text-wrap">
          <i class="item-image dark icon ion-document-text"></i>
          <b class="ion-ios-redo icon-secondary dark" style="top: -8px; left: 42px; font-size: 12px;"></b>
          <b class="ion-locked icon-secondary dark" style="top: 0px; left: 43px; font-size: 8px;"></b>
          <h2 translate>ACCOUNT.SECURITY.KEYFILE.EWIF_FORMAT</h2>
          <h4 class="gray" translate>ACCOUNT.SECURITY.KEYFILE.EWIF_FORMAT_HELP</h4>
          <ng-include ng-if="::$root.config.demo" src="::'templates/common/note_feature_no
          <i class="icon dark ion-ios-arrow-right"></i>
        </div>
      </div>
    </div>
  </ion-content>
