  <ion-content>
    <form name="loginForm" novalidate="" ng-submit="submit()">

      <div class="list" ng-init="setForm(loginForm, 'loginForm')">

        <!-- salt (=username, to enable browser login cache) -->
        <label class="item item-input"
               ng-class="{ 'item-input-error': loginForm.$submitted && loginForm.username.$invalid}">
          <span class="input-label hidden-xs" translate>LOGIN.SALT</span>
          <input ng-if="!showSalt"
                 name="username" type="{{showSalt ? 'text' : 'password'}}" placeholder="{{'LOGIN.SALT_HELP' | translate}}"
                 ng-model="formData.username"
                 ng-model-options="{ debounce: 650 }"
                 class="highlight-light"
                 required>
          <input ng-if="showSalt"
                 name="username" type="text" placeholder="{{'LOGIN.SALT_HELP' | translate}}"
                 ng-model="formData.username"
                 ng-model-options="{ debounce: 650 }"
                 class="highlight-light"
                 required>
        </label>
        <div class="form-errors"
             ng-show="loginForm.$submitted && loginForm.username.$error"
             ng-messages="loginForm.username.$error">
          <div class="form-error" ng-message="required">
            <span translate="ERROR.FIELD_REQUIRED"></span>
          </div>
        </div>

        <!-- Show salt -->
        <div class="item item-toggle dark">
          <span translate>LOGIN.SHOW_SALT</span>
          <label class="toggle toggle-stable">
            <input type="checkbox" ng-model="showSalt">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div>

        <!-- password-->
        <label class="item item-input"
               ng-class="{ 'item-input-error': loginForm.$submitted && loginForm.password.$invalid}">
          <span class="input-label hidden-xs" translate>LOGIN.PASSWORD</span>
          <input name="password" type="password" placeholder="{{'LOGIN.PASSWORD_HELP' | translate}}"
                 ng-model="formData.password"
                 ng-model-options="{ debounce: 650 }"
                 select-on-click
                 required>
        </label>
        <div class="form-errors"
             ng-show="loginForm.$submitted && loginForm.password.$error"
             ng-messages="loginForm.password.$error">
          <div class="form-error" ng-message="required">
            <span translate="ERROR.FIELD_REQUIRED"></span>
          </div>
        </div>
      </div>

      <div class="padding hidden-xs text-right">
        <button class="button button-clear button-dark ink" ng-click="closeModal()"
                type="button" translate>COMMON.BTN_CANCEL
        </button>
        <button class="button button-positive ink" type="submit" translate>
          COMMON.BTN_SEND
          <i class="icon ion-android-send"></i>
        </button>
      </div>
    </form>
  </ion-content>

