
  <ion-list bind-notifier="{ rebind:formData.useRelative }">

    <ion-item class="item-icon-left">
        <i class="icon ion-person-stalker"></i>
        <span translate>CURRENCY.VIEW.MEMBERS</span>
        <span class="badge badge-assertive">{{Nprev | formatInteger}}</span>
    </ion-item>

    <ion-item id="helptip-currency-newcomers"
              class="item-icon-left"
              ui-sref="app.wot_lookup({newcomers: N-Nprev})">
        <i class="icon ion-person-add"></i>
        <span translate="CURRENCY.VIEW.MEMBERS_VARIATION" translate-values="{dt: dt}"></span>
        <span ng-if="N > Nprev" class="badge badge-balanced">+{{N-Nprev | formatInteger}}</span>
        <span ng-if="N < Nprev" class="badge badge-calm">-{{N-Nprev | formatInteger}}</span>
        <span ng-if="N == Nprev" class="badge badge-stable">0</span>
    </ion-item>

    <div id="helptip-currency-rules"
         class="item item-divider">
        <span translate>CURRENCY.VIEW.WOT_RULES_DIVIDER</span>
    </div>

    <ion-item class="item-icon-left item item-text-wrap">
      <i class="icon ion-ribbon-b"></i>
      <span class="col col-75" translate>CURRENCY.VIEW.SIG_QTY_RULE</span>
      <span class="badge badge-assertive">{{sigQty}}</span>
    </ion-item>

    <ion-item class="item-icon-left item item-text-wrap">
      <i class="icon ion-ribbon-a"></i>
      <span class="col col-75" translate>CURRENCY.VIEW.SIG_STOCK</span>
      <span class="badge badge-energized">{{sigStock}}</span>
    </ion-item>

    <ion-item class="item-icon-left item item-text-wrap">
      <i class="icon ion-clock"></i>
      <span class="col col-75" translate>CURRENCY.VIEW.SIG_PERIOD</span>
      <span class="badge badge-stable">{{sigPeriod | formatDuration}}</span>
    </ion-item>

    <ion-item class="item-icon-left item item-text-wrap">
      <i class="icon ion-clock"></i>
      <span class="col col-75" translate>CURRENCY.VIEW.SIG_WINDOW</span>
      <span class="badge badge-stable">{{sigWindow | formatDuration}}</span>
    </ion-item>

    <ion-item class="item-icon-left item item-text-wrap">
      <i class="icon ion-steam"></i>
      <span class="col col-75" translate>CURRENCY.VIEW.STEP_MAX</span>
      <span class="badge badge-stable">{{stepMax}}</span>
    </ion-item>

    <ion-item class="item-icon-left item item-text-wrap">
      <i class="icon ion-pull-request"></i>
      <span class="col col-75" translate>CURRENCY.VIEW.XPERCENT</span>
      <span class="badge badge-stable">{{xpercent}}</span>
    </ion-item>

  </ion-list>
