
  <ion-nav-buttons side="secondary">
    <button class="button button-icon button-clear icon ion-loop visible-xs visible-sm" ng-click="refresh()">
    </button>
  </ion-nav-buttons>

  <ion-item id="helptip-currency-blockchain"
            class="item-icon-left">
    <i class="icon ion-clock"></i>
    <span translate>CURRENCY.VIEW.TIME</span>
    <span class="item-note dark">{{formData.medianTime | formatDate}}</span>
  </ion-item>

  <ion-item class="item-icon-left">
    <i class="icon ion-lock-combination"></i>
    <span translate>CURRENCY.VIEW.POW_MIN</span>
    <span class="badge badge-stable">{{formData.difficulty | formatInteger}}</span>
  </ion-item>

  <ng-controller ng-controller="NetworkLookupCtrl">

    <div id="helptip-currency-peers"
         class="item item-divider">
      <div class="pull-left">
        <span ng-if="search.type=='member'">
          {{'PEER.MEMBERS' | translate}} <span ng-if="!search.loading">({{search.results.length}})</span>
        </span>
        <span ng-if="search.type=='mirror'">
          {{'PEER.MIRRORS' | translate}} <span ng-if="!search.loading">({{search.results.length}})</span>
        </span>
        <span ng-if="!search.type">
          {{'PEER.PEERS' | translate}} <span ng-if="!search.loading">({{search.results.length}})</span>
        </span>
      </div>

      <div class="buttons pull-right">
        <ion-spinner class="icon" icon="android" ng-if="search.loading"></ion-spinner>
        <a class="button button-icon button-small-padding icon ion-loop gray hidden-xs hidden-sm ink" ng-if="!search.loading" ng-click="refresh()">
        </a>
        <a class="button button-icon button-small-padding icon ion-android-more-vertical gray hidden-xs hidden-sm ink"
           ng-if="!search.loading"
           ng-click="showActionsPopover($event)">
        </a>
      </div>
    </div>

    <ng-include src="'templates/network/items_peers.html'" ></ng-include>

  </ng-controller>
