
  <ion-list bind-notifier="{ rebind:formData.useRelative }">

    <ion-item class="item-icon-left item-text-wrap">
      <i class="icon ion-person-stalker"></i>
      <div class="col col-60">
        <span translate>CURRENCY.VIEW.MEMBERS</span>
        <span class="gray">(N<sub>{{'CURRENCY.VIEW.CURRENT'|translate}}</sub>)</span>
      </div>
      <span class="badge badge-assertive" ng-if="!loading">{{formData.N | formatInteger}}</span>
    </ion-item>

    <ion-item id="helptip-currency-newcomers" class="item-icon-left item-text-wrap">
      <i class="icon ion-arrow-graph-up-right"></i>
      <div class="col col-75">
        <span translate="CURRENCY.VIEW.MEMBERS_VARIATION" translate-values="{duration: formData.durationFromLastUD}"></span>
        <span class="gray">(&#916;N)</span>
      </div>
      <div class="badge" ng-if="!loading"
           ng-class="{'badge-balanced': (formData.N>formData.Nprev), 'badge-calm': (formData.N==formData.Nprev) ,'badge-assertive': (formData.Nprev>formData.N)}">
        {{formData.N > formData.Nprev ? '+' : ''}}{{formData.N - formData.Nprev}}
      </div>
    </ion-item>

    <ion-item  class="item-icon-left item-text-wrap">
      <i class="icon ion-ribbon-b"></i>
      <b class="ion-star icon-secondary" style="color: yellow; font-size: 16px; left: 25px; top: -7px;"></b>
      <span class="col col-75" translate>CURRENCY.VIEW.SENTRIES</span>
      <span class="badge badge-royal" ng-if="!loading">{{formData.sentries}}</span>
    </ion-item>

    <div id="helptip-currency-rules"
         class="item item-divider">
        <span translate>CURRENCY.VIEW.WOT_RULES_DIVIDER</span>
    </div>

    <ion-item class="item-icon-left item-text-wrap">
      <i class="icon ion-ribbon-b"></i>
      <span class="col col-75" translate>CURRENCY.VIEW.SIG_QTY_RULE</span>
      <span class="badge badge-positive" ng-if="!loading">{{formData.sigQty}}</span>
    </ion-item>

    <ion-item class="item-icon-left item-text-wrap">
      <i class="icon ion-ribbon-b"></i>
      <b class="ion-clock icon-secondary" style="font-size: 18px; left: 33px; top: -12px;"></b>
      <span class="col col-60" translate>CURRENCY.VIEW.SIG_WINDOW</span>
      <span class="badge badge-stable" ng-if="!loading">{{formData.sigWindow | formatDuration}}</span>
    </ion-item>

    <ion-item class="item-icon-left item-text-wrap">
      <i class="icon ion-ribbon-a"></i>
      <span class="col col-75" translate>CURRENCY.VIEW.SIG_STOCK</span>
      <span class="badge badge-energized" ng-if="!loading">{{formData.sigStock}}</span>
    </ion-item>

    <ion-item class="item-icon-left item-text-wrap">
      <i class="icon ion-clock" style="position: absolute; font-size: 20px; left: 16px;"></i>
      <b class="ion-ribbon-a icon-secondary" style="left: 16px; top: -15px;"></b>
      <b class="ion-arrow-right-c icon-secondary" style="left: 28px; top: -15px;"></b>
      <b class="ion-ribbon-a icon-secondary" style="left: 40px; top: -15px;"></b>
      <span class="col col-75" translate>CURRENCY.VIEW.SIG_PERIOD</span>
      <span class="badge badge-stable" ng-if="!loading">{{formData.sigPeriod | formatDuration}}</span>
    </ion-item>

    <ion-item class="item-icon-left item-text-wrap">
      <i class="icon ion-steam"></i>
      <b class="ion-person icon-secondary" style="left: 38px; top: -17px"></b>
      <div class="col col-75">
        <span ng-bind-html="'CURRENCY.VIEW.STEP_MAX'|translate"></span>
        <span class="gray">(stepMax)</span>
      </div>
      <span class="badge badge-stable" ng-if="!loading">{{formData.stepMax}}</span>
    </ion-item>

    <ion-item class="item-icon-left item-text-wrap">
      <i class="icon ion-pull-request"></i>
      <span class="col col-75" translate>CURRENCY.VIEW.XPERCENT</span>
      <span class="badge badge-stable" ng-if="!loading">{{formData.xpercent*100| formatNumeral: '0,0'}} %</span>
    </ion-item>

    <ion-item  class="item-icon-left item-text-wrap">
      <i class="icon ion-ribbon-b"></i>
      <b class="ion-star icon-secondary" style="color: yellow; font-size: 16px; left: 25px; top: -7px;"></b>
      <span ng-bind-html="'CURRENCY.VIEW.SENTRIES_FORMULA'|translate"></span>
      <span class="item-note dark" ng-if="!loading">{{'CURRENCY.VIEW.MATH_CEILING'| translate}}( N<sub>t</sub><sup>^ (1 / stepMax)</sup>)</span>
    </ion-item>


  </ion-list>
