
  <ion-item id="helptip-network-blockchain"
            class="item-icon-left item-text-wrap">
    <i class="icon ion-clock"></i>
    <span class="col col-60" translate>CURRENCY.VIEW.MEDIAN_TIME</span>
    <span class="badge badge-stable">{{formData.medianTime | formatDate}}</span>
  </ion-item>


  <ion-item class="item-icon-left item-text-wrap">
    <i class="icon ion-lock-combination"></i>
    <span class="col col-75" translate>CURRENCY.VIEW.POW_MIN</span>
    <span class="badge badge-stable">{{formData.difficulty | formatInteger}}</span>
  </ion-item>

  <div class="item item-divider">
    <span translate>CURRENCY.VIEW.NETWORK_RULES_DIVIDER</span>
  </div>

  <ion-item class="item-icon-left item-text-wrap">
    <i class="icon ion-clock" style="position: absolute; font-size: 20px; left: 16px; margin-top: 11px"></i>
    <b class="icon-secondary ion-lock-combination" style="left: 14px; margin-top: -4px;"></b>
    <b class="icon-secondary ion-arrow-right-c" style="font-size: 12px; left: 28px; margin-top: -4px;"></b>
    <b class="icon-secondary ion-lock-combination" style="left: 38px; margin-top: -4px;"></b>

    <span class="col col-75" translate>CURRENCY.VIEW.AVG_GEN_TIME</span>
    <span class="badge badge-stable">{{formData.avgGenTime | formatDuration}}</span>
  </ion-item>


    <div id="helptip-network-peers"
         class="item item-divider">
      <div class="pull-left">
        <span ng-if="search.type=='member'" translate>PEER.MEMBERS</span>
        <span ng-if="search.type=='mirror'" translate>PEER.MIRRORS</span>
        <span ng-if="search.type=='offline'" translate>PEER.OFFLINE</span>
        <span ng-if="!search.type" translate>PEER.PEERS</span>
        <span ng-if="!search.loading">({{search.results.length}})</span>
      </div>

      <div class="buttons pull-right">
        <ion-spinner class="icon" icon="android" ng-if="search.loading"></ion-spinner>
        <a class="button button-icon button-small-padding icon ion-loop gray hidden-xs hidden-sm ink" ng-if="!search.loading" ng-click="refresh()">
        </a>
        <a class="button button-icon button-small-padding icon ion-android-more-vertical gray hidden-xs hidden-sm ink"
           ng-if="!search.loading"
           ng-click="showActionsPopover($event)">
        </a>
      </div>
    </div>

    <ng-include src="'templates/network/items_peers.html'" ></ng-include>
