<ion-list>

  <div class="item center" ng-if="search.looking">
    <ion-spinner icon="android"></ion-spinner>
  </div>

  <div ng-repeat="currency in knownCurrencies"
       ng-class="{ selected: selectedCurrency == currency }">
    <a class="item card card-item stable-bg padding ink" ng-click="selectCurrency(currency.name)"
       ng-class="{ selected: selectedCurrency == currency }">
      <h2>{{currency.name}}</h2>
      <h4 class="gray">{{currency.peer.server}}</h4>
    </a>
  </div>
</ion-list>
