<ion-popover-view class="fit has-header popover-wallet-actions">
  <ion-header-bar>
    <h1 class="title" translate>COMMON.POPOVER_ACTIONS_TITLE</h1>
  </ion-header-bar>
  <ion-content scroll="false">
    <div class="list item-text-wrap">

      <!-- help tour -->
      <a class="item item-icon-left ink hidden-sm hidden-xs"
         ng-click="startCurrencyTour()">
        <i class="icon ion-easel"></i>
        {{'COMMON.BTN_HELP_TOUR_SCREEN' | translate}}
      </a>
    </div>
  </ion-content>
</ion-popover-view>
