<ion-view
    left-buttons="leftButtons"
    cache-view="false"
    >
  <ion-nav-title>
    {{currency}}
  </ion-nav-title>

  <ion-tabs class="tabs-positive tabs-icon-top">

    <ion-tab title="{{'CURRENCY.VIEW.TAB_CURRENCY'|translate}}" icon="ion-stats-bars"
      ui-sref="app.currency.tab_parameters">
      <ion-nav-view name="tab-parameters"></ion-nav-view>
    </ion-tab>

    <ion-tab title="{{'CURRENCY.VIEW.TAB_WOT'|translate}}" icon="ion-person-stalker"
             ui-sref="app.currency.tab_wot">
      <ion-nav-view name="tab-wot"></ion-nav-view>
    </ion-tab>

    <ion-tab id="helptip-currency-tab-peers"
             title="{{'CURRENCY.VIEW.TAB_NETWORK'|translate}}" icon="ion-cloud"
             ui-sref="app.currency.tab_network">
      <ion-nav-view name="tab-network"></ion-nav-view>
    </ion-tab>

    <ion-tab title="{{'CURRENCY.VIEW.TAB_BLOCKS'|translate}}" icon="ion-lock-combination"
             ui-sref="app.currency.tab_blocks">
      <ion-nav-view name="tab-blocks"></ion-nav-view>
    </ion-tab>

  </ion-tabs>
</ion-view>
