<ion-view
    left-buttons="leftButtons" class="pane"
    cache-view="false"
    >
  <ion-nav-title>
    {{currency}}
  </ion-nav-title>

    <ion-nav-buttons side="secondary">
        <button class="button button-icon button-clear icon ion-loop visible-xs visible-sm" ng-click="refresh()">
        </button>
    </ion-nav-buttons>

    <ion-content scroll="false">
        <ion-tabs class="tabs-icon-top tabs-positive">

            <ion-tab title="{{'CURRENCY.VIEW.TAB_CURRENCY'|translate}}" icon="ion-stats-bars">
                <ion-nav-view name="currency-tab">
                  <ion-content>
                    <ng-include src="'templates/currency/tabs/view_parameters.html'"/>
                  </ion-content>
                </ion-nav-view>
            </ion-tab>

            <ion-tab title="{{'CURRENCY.VIEW.TAB_NETWORK'|translate}}" icon="ion-network" >
                <ion-nav-view name="network-tab">
                  <ion-content>
                      <ng-include src="'templates/currency/tabs/view_network.html'"/>
                  </ion-content>
                </ion-nav-view>
            </ion-tab>

            </ion-tab>
        </ion-tabs>
    </ion-content>

</ion-view>
