<ion-view>
  <ion-nav-title>
    <span translate>PEER.TITLE</span>
  </ion-nav-title>

  <ion-content class="has-header padding">
        <div class="list">

            <div class="item item-divider">
                <h2 translate>PEER.KNOWN_PEERS</h2>
            </div>

            <div class="item center" ng-if="!loaded">
                <ion-spinner class="icon" icon="android"></ion-spinner>
            </div>

            <a class="item-peer item item-icon-left"
               collection-repeat="peer in peers"
               ng-class="{ assertive: !peer.online, balanced: peer.online }"
               target="_blank"
               ng-href="{{peer.getURL()}}/blockchain/current">
                <i class="icon ion-android-globe"></i>
                <h3><span ng-class="{ positive: peer.uid }">{{peer.uid || peer.pubkey.substr(0,8)}}</span> <span class="gray">{{peer.dns && ' | ' + peer.dns}}</span></h3>
                <h4>{{peer.getServer()}} <span class="gray">| {{'PEER.SIGNED_ON_BLOCK' | translate}}</span> #{{peer.blockNumber}}</h4>
                <span class="badge" ng-class="{ 'badge-balanced': peer.hasMainConsensusBlock, 'badge-energized': peer.hasConsensusBlock }">{{peer.current.number}}</span>
            </a>
        </div>
    </ion-content>
</ion-view>
