<ion-view left-buttons="leftButtons"
          cache-view="false">
    <ion-nav-title>
     {{'CURRENCY.VIEW.TITLE' | translate}} {{id}}
    </ion-nav-title>

    <ion-nav-buttons side="secondary">
        <button class="button button-icon button-clear icon ion-loop" ng-click="refresh()">
        </button>
    </ion-nav-buttons>

    <ion-content>
      <div class="row">
        <div class="row responsive-sm">
            <div class="col col-50 ">
              <ng-include src="'templates/currency/tabs/view_parameters.html'"></ng-include>
            </div>
            <div class="col col-50">
                <ng-include src="'templates/currency/tabs/view_network.html'"></ng-include>
            </div>
        </div>
    </ion-content>
</ion-view>
