<ion-view view-title="Explore" left-buttons="leftButtons">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon" ng-click="doUpdate()">
            <i class="icon ion-loop"></i>
        </button>
    </ion-nav-buttons>
    <div class="scroll">
        <ion-tabs class="tabs-icon-top tabs-positive has-header">

            <ion-tab title="Network" icon="ion-network">
                <ion-nav-view name="network-tab"/>
                <ng-include src="'templates/explore/tabs/explore_tab_network.html'"/>
            </ion-tab>

            <ion-tab title="Currency" icon="ion-stats-bars">
                <ion-nav-view name="currency-tab"/>
                <ng-include src="'templates/explore/tabs/explore_tab_currency.html'"/>
            </ion-tab>

            <ion-tab title="Web of Trust" icon="ion-ios-world-outline">
                <ion-nav-view name="wot-tab"/>
                <ng-include src="'templates/explore/tabs/explore_tab_wot.html'"/>
            </ion-tab>

            </ion-tab>
        </ion-tabs>
    </div>
    <div class="scroll-bar scroll-bar-v"></div>
</ion-view>
