<ion-view view-title="{{'CURRENCY.VIEW.TITLE' | translate}}" left-buttons="leftButtons">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon" ng-click="doUpdate()">
            <i class="icon ion-loop"></i>
        </button>
    </ion-nav-buttons>
    <!--
      TODO : use a ng-if to show/hide when small/large
    <div class="scroll visible-xs">-->
    <div class="scroll">
        <ion-tabs class="tabs-icon-top tabs-positive has-header">

            <ion-tab title="{{'CURRENCY.VIEW.TAB_CURRENCY'|translate}}" icon="ion-stats-bars">
                <ion-nav-view name="currency-tab"/>
                <ion-content class="has-header">
                        <ng-include src="'templates/explore/tabs/explore_tab_currency.html'"/>
                 </ion-content>
            </ion-tab>

            <ion-tab title="{{'CURRENCY.VIEW.TAB_WOT'|translate}}" icon="ion-person-stalker">
                <ion-nav-view name="wot-tab"/>
                <ion-content class="has-header padding no-padding-xs">
                    <ng-include src="'templates/wot/lookup_form.html'"></ng-include>
                </ion-content>
            </ion-tab>

            <ion-tab title="{{'CURRENCY.VIEW.TAB_NETWORK'|translate}}" icon="ion-network" >
                <ion-nav-view name="network-tab"/>
                <ion-content class="has-header  padding">
                    <ng-include src="'templates/explore/tabs/explore_tab_network.html'"/>
                </ion-content>
            </ion-tab>

            </ion-tab>
        </ion-tabs>
    </div>

    <!--<ion-content class="has-header hidden-xs">
        <div class="row scroll">
            <div class="col-50 ">
                <ng-include src="'templates/explore/tabs/explore_tab_currency.html'"/>
            </div>
            <div class="col-50 ">
                <ng-include src="'templates/explore/tabs/explore_tab_network.html'"/>
            </div>
        </div>
        <div class="scroll-bar scroll-bar-v"></div>
    </ion-content>-->
</ion-view>
