  <div class="text-center" ng-if="search.loading">
    <ion-spinner icon="android"></ion-spinner>
  </div>

  <ion-list class="animate-ripple padding padding-xs">
    <div class="padding gray" ng-if="!search.loading && !search.results.length" translate>
      BLOCKCHAIN.LOOKUP.NO_BLOCK
    </div>
    <!-- blocks -->
    <ng-repeat ng-repeat="block in :rebind:search.results track by block.number"
               ng-include="'templates/blockchain/item_block.html'">
    </ng-repeat>
  </ion-list>

  <ion-infinite-scroll
    ng-if="search.hasMore"
    icon="android"
    on-infinite="showMore()"
    distance="1%">
  </ion-infinite-scroll>
