<a name="block-{{::block.number}}"></a>
<ion-item id="block-{{::block.number}}"
          ng-if="!block.hide"
          class="item {{ionItemClass}} item-block-empty"
          ng-class="{'compacted': block.compacted && compactMode, 'item-avatar-left-padding': !smallscreen}"
          ng-click="selectBlock(block)"
          >
  <div class="row no-padding" ng-if="!block.compacted || !compactMode">
    <div class="col">
      <h3 ng-class="{'gray': block.compacted}">
        <i class="ion-clock"></i>
        {{block.medianTime|formatDate}}
      </h3>
    </div>

    <div class="col col-20 positive">
      <i class="ion-person"></i> {{block.name||block.uid}}
    </div>

    <div class="col col-20">
    </div>

    <div class="col col-20">
      <span class="badge">{{block.number}}</span>
    </div>

  </div>
</ion-item>
