<a name="block-{{::block.number}}"></a>
<div id="block-{{::block.number}}"
          ng-if="!block.hide"
          class="item item-block item-icon-left item-block-empty"
          ng-class=":rebind:{'compacted': compactMode, ionItemClass: true}"
          ng-click="selectBlock(block)"
          >
  <div class="row no-padding" ng-if=":rebind:!compactMode">
    <div class="col">
      <h3 class="gray">
        <i class="ion-clock"></i>
        {{:rebind:block.medianTime|formatDate}}
      </h3>
    </div>

    <div class="col">
      <h3>
        <span class="gray" ng-if=":rebind:expertMode">
          <i class="ion-key"></i> {{:rebind:block.issuer|formatPubkey}}
        </span>
        <span class="positive">
          <i class="ion-person"></i> {{:rebind:block.name||block.uid}}
        </span>
      </h3>
    </div>

    <div class="col col-20"></div>

    <div class="col col-20">
      <span class="badge" ng-class="{'badge-balanced': !$index && search.type=='last'}">{{block.number}}</span>
    </div>

  </div>
</div>
