<ion-popover-view class="fit">
  <ion-header-bar>
    <h1 class="title" translate>BLOCKCHAIN.VIEW.TX_OUTPUT_UNLOCK_CONDITIONS</h1>
  </ion-header-bar>
  <ion-content scroll="true">
    <div class="row"
         ng-repeat="condition in popoverData.unlockConditions track by $index"
          ng-style="::condition.style">
      <span class="gray" ng-if="::condition.operator">{{::'BLOCKCHAIN.VIEW.TX_OUTPUT_OPERATOR.'+condition.operator|translate}}&nbsp;</span>
      <div ng-if="::condition.type=='SIG'">
          <i class="icon ion-key dark"></i>
        <span class="dark" ng-bind-html="::'BLOCKCHAIN.VIEW.TX_OUTPUT_FUNCTION.SIG' | translate"></span>
        <a ng-click="goState('app.wot_identity', {pubkey:condition.value})" style="text-decoration: none;" class="positive">
          {{condition.value|formatPubkey}}
        </a>
      </div>
      <div ng-if="::condition.type=='XHX'">
        <i class="icon ion-lock-combination dark"></i>
        <span class="dark" ng-bind-html="::'BLOCKCHAIN.VIEW.TX_OUTPUT_FUNCTION.XHX' | translate"></span>
        <a copy-on-click="{{::condition.value}}" class="positive">
          {{::condition.value|formatPubkey}}...
        </a>
      </div>
      <div ng-if="condition.type=='CSV'">
        <i class="icon ion-clock dark"></i>
        <span class="dark" ng-bind-html="::'BLOCKCHAIN.VIEW.TX_OUTPUT_FUNCTION.CSV' | translate"></span>
        {{::condition.value|formatDuration}}
      </div>
      <div ng-if="condition.type=='CLTV'">
        <i class="icon ion-clock dark"></i>
        <span class="dark" ng-bind-html="::'BLOCKCHAIN.VIEW.TX_OUTPUT_FUNCTION.CLTV' | translate"></span>
        {{::condition.value|formatDate}}
      </div>
    </div>
  </ion-content>
</ion-popover-view>
