<ion-view>
  <ion-nav-title class="visible-xs visible-sm">
    <span ng-if="number=='current'">{{'BLOCKCHAIN.VIEW.TITLE_CURRENT'|translate}}</span>
    <span ng-if="!loading && number!='current'">{{'BLOCKCHAIN.VIEW.HEADER_TITLE'|translate:formData}}</span>
  </ion-nav-title>

  <ion-content scroll="true">

    <div class="row no-padding">
      <div class="col col-20 hidden-xs hidden-sm">&nbsp;</div>

      <div class="col no-padding">

        <div class="center padding" ng-if="loading">
          <ion-spinner icon="android"></ion-spinner>
        </div>

        <!-- animate-fade-slide-in -->
        <ion-list class=" item-text-wrap no-padding-xs" ng-if="!loading">

          <!-- header -->
          <div class="item item-text-wrap" ng-class="{'item-thumbnail-left': formData.avatar}">
            <img ng-src="{{formData.avatar.src}}" ng-if="formData.avatar">

            <h1 class="padding-top hidden-xs hidden-sm">{{'BLOCKCHAIN.VIEW.TITLE'|translate:formData}}</h1>

            <h3>
              <i class="icon ion-clock"></i>
              <span ng-bind-html="'BLOCKCHAIN.VIEW.COMPUTED_BY'|translate:formData"></span>
              <a class="positive"
                 ui-sref="app.wot_view_identity({pubkey:issuer.pubkey, uid: issuer.uid})">
                <i class="icon ion-person"></i>
                {{issuer.name||issuer.uid}}
              </a>
              {{formData.medianTime|formatFromNow}}
              <span class="gray">| {{formData.medianTime | formatDate}}</span>
            </h3>

            <h3>
              <a target="_blank"
                 ng-href="{{node.node.url}}/blockchain/block/{{formData.number}}">
                <i class="icon ion-share"></i> {{'BLOCKCHAIN.VIEW.SHOW_RAW'|translate}}
              </a>
            </h3>

          </div>

          <!-- button bar-->
          <div class="item hidden-xs hidden-sm padding text-center">

            <!-- Allow extension here -->
            <cs-extension-point name="buttons"></cs-extension-point>
          </div>

          <!-- hash -->
          <ion-item class="item-icon-left item-text-wrap" copy-on-click="{{::formData.hash}}">
            <i class="icon ion-lock-combination"></i>
            {{'BLOCKCHAIN.VIEW.HASH'|translate}}
            <span class="item-note hidden-xs hidden-sm">
              {{formData.hash}}
            </span>
            <h5 class="visible-xs visible-sm">
              {{::formData.hash}}
            </h5>
          </ion-item>

          <!-- joiners -->
          <ng-if ng-if="!compactMode || formData.joinersCount">
            <ion-item class="item-icon-left">
              <i class="icon ion-person"></i>
              <b class="ion-plus" style="position: absolute; top: 11px; left: 39px;"></b>
              {{'BLOCKCHAIN.VIEW.JOINERS_COUNT'|translate}}
              <span class="badge badge-balanced" ng-if="formData.joinersCount">+{{formData.joinersCount}}</span>
              <span class="badge badge-stable" ng-if="!formData.joinersCount">0</span>
            </ion-item>

            <div class="padding-bottom item-icon-left-padding item-icon-right-padding" ng-if="formData.joinersCount">
              <a ng-repeat="item in ::formData.joiners"
                        class="item item-icon-left-padding item-small-height no-margin item-border-large"
                        ui-sref="app.wot_view_identity({pubkey: item.pubkey, uid: item.uid})">
                <div class="row no-padding">
                  <div class="col positive" ><i class="icon ion-person"></i> {{item.uid}}</div>
                  <div class="col gray"><i class="icon ion-key"></i> {{item.pubkey|formatPubkey}}</div>
                </div>
              </a>
            </div>
          </ng-if>

          <!-- actives -->
          <ng-if ng-if="!compactMode || formData.activesCount">
            <ion-item class="item-icon-left">
              <i class="icon ion-person"></i>
              <b class="ion-loop" style="position: absolute; top: 11px; left: 39px;"></b>
              {{'BLOCKCHAIN.VIEW.ACTIVES_COUNT'|translate}}
              <h4 class="gray">{{'BLOCKCHAIN.VIEW.ACTIVES_COUNT_HELP'|translate}}</h4>
              <span class="badge badge-balanced" ng-if="formData.activesCount">{{formData.activesCount}}</span>
              <span class="badge badge-stable" ng-if="!formData.activesCount">0</span>
            </ion-item>

            <div class="padding-bottom item-icon-left-padding item-icon-right-padding" ng-if="formData.activesCount">
              <a ng-repeat="item in formData.actives"
                 class="item item-icon-left-padding item-small-height no-margin item-border-large"
                 ui-sref="app.wot_view_identity({pubkey: item.pubkey, uid: item.uid})">
                <div class="row no-padding">
                  <div class="col positive" ><i class="icon ion-person"></i> {{item.uid}}</div>
                  <div class="col gray"><i class="icon ion-key"></i> {{item.pubkey|formatPubkey}}</div>
                </div>
              </a>
            </div>

          </ng-if>

          <!-- excluded -->
          <ng-if ng-if="!compactMode || (formData.leaversCount-formData.revokedCount)">
            <ion-item class="item-icon-left" >
              <i class="icon ion-person"></i>
              <b class="ion-minus-circled assertive" style="position: absolute; top: 11px; left: 39px;"></b>
              {{'BLOCKCHAIN.VIEW.EXCLUDED_COUNT'|translate}}
              <h4 class="gray">{{'BLOCKCHAIN.VIEW.EXCLUDED_COUNT_HELP'|translate}}</h4>
              <span class="badge badge-assertive" ng-if="formData.excludedCount-formData.revokedCount">-{{formData.excludedCount-formData.revokedCount}}</span>
              <span class="badge badge-stable" ng-if="!(formData.excludedCount-formData.revokedCount)">0</span>
            </ion-item>

            <div class="padding-bottom item-icon-left-padding item-icon-right-padding" ng-if="formData.revokedCount">
              <a ng-repeat="item in formData.revoked"
                 class="item item-icon-left-padding item-small-height no-margin item-border-large"
                 ui-sref="app.wot_view_identity({pubkey: item.pubkey})">
                <div class="row no-padding">
                  <div class="col"></div>
                  <div class="col gray"><i class="icon ion-key"></i> {{item.pubkey|formatPubkey}}</div>
                </div>
              </a>
            </div>
          </ng-if>

          <!-- leavers -->
          <ng-if ng-if="!compactMode || formData.leaversCount">
            <ion-item class="item-icon-left" ng-if="!compactMode || formData.leaversCount">
              <i class="icon ion-person"></i>
              <b class="ion-minus" style="position: absolute; top: 11px; left: 39px;"></b>
              {{'BLOCKCHAIN.VIEW.LEAVERS_COUNT'|translate}}
              <h4 class="gray">{{'BLOCKCHAIN.VIEW.LEAVERS_COUNT_HELP'|translate}}</h4>
              <span class="badge badge-assertive" ng-if="formData.leaversCount">-{{formData.leaversCount}}</span>
              <span class="badge badge-stable" ng-if="!formData.leaversCount">0</span>
            </ion-item>

            <div class="padding-bottom item-icon-left-padding item-icon-right-padding" ng-if="formData.leaversCount">
              <a ng-repeat="item in formData.leavers"
                 class="item item-icon-left-padding item-small-height no-margin item-border-large"
                 ui-sref="app.wot_view_identity({pubkey: item.pubkey, uid: item.uid})">
                <div class="row no-padding">
                  <div class="col positive" ><i class="icon ion-person"></i> {{item.uid}}</div>
                  <div class="col gray"><i class="icon ion-key"></i> {{item.pubkey|formatPubkey}}</div>
                </div>
              </a>
            </div>
          </ng-if>

          <!-- revoked -->
          <ng-if ng-if="!compactMode || formData.revokedCount">
            <ion-item class="item-icon-left" >
              <i class="icon ion-person"></i>
              <b class="ion-minus-circled assertive" style="position: absolute; top: 11px; left: 39px;"></b>
              {{'BLOCKCHAIN.VIEW.REVOKED_COUNT'|translate}}
              <span class="badge badge-balanced" ng-if="formData.revokedCount">-{{formData.revokedCount}}</span>
              <span class="badge badge-stable" ng-if="!formData.revokedCount">0</span>
            </ion-item>

            <div class="padding-bottom item-icon-left-padding item-icon-right-padding" ng-if="formData.revokedCount">
              <a ng-repeat="item in formData.revoked"
                 class="item item-icon-left-padding item-small-height no-margin item-border-large"
                 ui-sref="app.wot_view_identity({pubkey: item.pubkey})">
                <div class="row no-padding">
                  <div class="col"></div>
                  <div class="col gray"><i class="icon ion-key"></i> {{item.pubkey|formatPubkey}}</div>
                </div>
              </a>
            </div>
          </ng-if>

          <!-- cert -->
          <ng-if ng-if="!compactMode || formData.certificationsCount">
            <ion-item class="item-icon-left">
              <i class="icon ion-ribbon-a"></i>
              {{'BLOCKCHAIN.VIEW.CERT_COUNT'|translate}}
              <span class="badge badge-stable" ng-class="{'badge-positive':formData.certificationsCount}">{{formData.certificationsCount}}</span>
            </ion-item>

            <div class="padding-bottom item-icon-left-padding item-icon-right-padding" ng-if="formData.certificationsCount">
              <div ng-repeat="item in formData.certifications"
                 class="item item-icon-left-padding item-small-height no-margin item-border-large"
                 >
                <div class="row no-padding">
                  <a class="col positive " ui-sref="app.wot_view_identity({pubkey: item.from})"><i class="icon ion-person"></i> {{item.from|formatPubkey}}</a>
                  <div class="col col-10 gray"><i class="icon ion-arrow-right-a"></i></div>
                  <a class="col gray text-center" ui-sref="app.wot_view_identity({pubkey: item.toPubkey})"><i class="icon ion-key"></i> {{item.toPubkey|formatPubkey}}</a>
                </div>
              </div>
            </div>
          </ng-if>

          <!-- TX -->
          <ng-if ng-if="!compactMode || formData.transactionsCount">
            <ion-item class="item-icon-left">
              <i class="icon ion-card"></i>
              {{'BLOCKCHAIN.VIEW.TX_COUNT'|translate}}
              <span class="badge badge-stable" ng-class="{'badge-positive':formData.transactionsCount}">{{formData.transactionsCount}}</span>
            </ion-item>

            <div class="padding-bottom item-icon-left-padding item-icon-right-padding" ng-if="formData.transactionsCount">
              <div ng-repeat="item in ::formData.transactions"
                   class="item item-icon-left-padding item-small-height no-margin item-border-large"
              >
                <div class="row no-padding">
                  <div class="col">
                    <a ng-repeat="issuer in ::item.issuers"
                      class="positive" ui-sref="app.wot_view_identity({pubkey: issuer})"><i class="icon ion-person"></i> {{issuer|formatPubkey}}</a>
                  </div>
                  <div class="col col-10 gray"><i class="icon ion-arrow-right-a"></i></div>
                  <div class="col"> ? </div>
                  <div class="col col-50 dark"><small><i class="icon ion-clock dark"></i> {{item.time|formatDate}} <span class="gray"> ({{item.time|formatFromNow}})</span></small></div>
                </div>
              </div>
            </div>
          </ng-if>

        </ion-list>
      </div>

      <div class="col col-20 hidden-xs"></div>
    </div>

  </ion-content>
</ion-view>
