<ion-view>
  <ion-nav-buttons side="secondary">

    <button class="button button-icon button-clear"
            ng-click="showExtendActionsPopover($event)">
      <i class="icon ion-android-funnel"></i>
    </button>

  </ion-nav-buttons>

  <ion-content>
    <ion-refresher pulling-text="{{'COMMON.BTN_REFRESH' | translate}}"
                   on-refresh="refreshPeers()">
    </ion-refresher>

    <div class="list">
      <ng-include src="'templates/currency/items_network.html'"></ng-include>
    </div>
  </ion-content>
</ion-view>
