<ion-view>
  <ion-nav-buttons side="secondary">

    <button class="button button-icon button-clear visible-xs visible-sm" ng-click="toggleCompactMode()">
      <i class="icon ion-navicon"></i>
      <b class="ion-arrow-down-b" style="position: absolute; top: -2px; left: 4px; font-size: 8px;"></b>
      <b class="ion-arrow-up-b" style="position: absolute; top: 10px; left: 4px; font-size: 8px;"></b>
    </button>

    <!-- Allow extension here -->
    <cs-extension-point name="nav-buttons"></cs-extension-point>
  </ion-nav-buttons>

  <ion-content>
    <ng-include src="'templates/blockchain/list_blocks.html'"></ng-include>
  </ion-content>
</ion-view>
