
    <ion-list bind-notifier="{ rebind:formData.useRelative }">

        <ion-item class="item-icon-left">
            <i class="icon ion-android-bookmark"></i>
            <span translate>CURRENCY.VIEW.CURRENCY_NAME</span>
            <div class="item-note dark">
              {{currency}} (<span ng-bind-html=":rebind:currency | currencySymbol:formData.useRelative"></span>)
            </div>
        </ion-item>

        <ion-item class="item-icon-left">
            <i class="icon ion-person-stalker"></i>
            <span translate>CURRENCY.VIEW.MEMBERS</span>
            <span class="badge badge-assertive">{{Nprev | formatInteger}}</span>
        </ion-item>

        <ion-item id="helptip-currency-newcomers"
                  class="item-icon-left"
                  ui-sref="app.wot_lookup({newcomers: N-Nprev})">
            <i class="icon ion-person-add"></i>
            <span translate>CURRENCY.VIEW.INCOMING_MEMBERS</span>
            <span ng-if="N > Nprev" class="badge badge-balanced">+{{N-Nprev | formatInteger}}</span>
            <span ng-if="N < Nprev" class="badge badge-calm">-{{N-Nprev | formatInteger}}</span>
            <span ng-if="N == Nprev" class="badge badge-stable">{{0}}</span>
        </ion-item>

        <div class="item item-divider">
            <span translate>CURRENCY.VIEW.MONEY_DIVIDER</span>
        </div>

        <ion-item class="item-icon-left">
            <i class="icon ion-record"></i>
            <span translate>CURRENCY.VIEW.MASS</span>
            <span class="badge badge-stable"
                ng-bind-html=":rebind:M | formatAmount:{currency: currency, useRelative: formData.useRelative, currentUD: formData.currentUD}"></span>
        </ion-item>

        <ion-item id="helptip-currency-mass-member" class="item-icon-left">
            <i class="icon ion-pie-graph"></i>
            {{'CURRENCY.VIEW.SHARE'|translate}}
          <span id="helptip-currency-mass-member-unit"
                class="badge badge-energized"
                ng-bind-html=":rebind:MoverN | formatAmount:{currency: currency, useRelative: formData.useRelative, currentUD: formData.currentUD}">
          </span>
        </ion-item>

        <ion-item class="item-icon-left" ui-sref="app.currency_ud">
            <i class="icon ion-load-c"></i>
            <span translate>CURRENCY.VIEW.UD</span>
            <div class="badge badge-royal">
              <span ng-bind-html=":rebind:currentUD | formatAmount:{currency: currency, useRelative: formData.useRelative, currentUD: formData.currentUD}"></span>
              &nbsp;/&nbsp;{{dt | formatPeriod}}
            </div>
        </ion-item>

        <ion-item class="item-icon-left">
            <i class="icon ion-arrow-graph-up-right"></i>
            <span translate>CURRENCY.VIEW.C_ACTUAL</span>
          <span class="badge badge-stable">{{cactual | formatNumeral: '0,0.00'}} %&nbsp;/&nbsp;{{dt | formatPeriod}}</span>
        </ion-item>

        <div class="item item-toggle dark">
            <span translate>COMMON.BTN_RELATIVE_UNIT</span>
            <label class="toggle toggle-royal" id="helptip-currency-change-unit">
                <input type="checkbox" ng-model="formData.useRelative">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </div>

        <div id="helptip-currency-rules"
             class="item item-divider">
            <span translate>CURRENCY.VIEW.RULES_DIVIDER</span>
        </div>

        <ion-item class="item-icon-left">
            <i class="icon ion-arrow-graph-up-right"></i>
            <span translate>CURRENCY.VIEW.C_RULE</span>
            <span class="badge badge-stable">{{c*100 | formatNumeral: '0,0.00'}} %&nbsp;/&nbsp;{{dt | formatPeriod}}</span>
        </ion-item>

        <ion-item  class="item-icon-left">
            <i class="icon ion-load-c"></i>
            <span translate>CURRENCY.VIEW.UD_RULE</span>
            <span class="item-note dark">(1+c) * {{'COMMON.UD'|translate}}<sub>t-1</sub></span>
        </ion-item>

        <ion-item class="item-icon-left">
          <i class="icon ion-ribbon-b"></i>
          <span translate>CURRENCY.VIEW.SIG_QTY_RULE</span>
          <span class="badge badge-assertive">{{sigQty}}</span>
        </ion-item>

        <ion-item class="item-icon-left">
          <i class="icon ion-ribbon-a"></i>
          <span translate>CURRENCY.VIEW.SIG_STOCK</span>
          <span class="badge badge-energized">{{sigStock}}</span>
        </ion-item>

        <ion-item class="item-icon-left">
          <i class="icon ion-clock"></i>
          <span translate>CURRENCY.VIEW.SIG_PERIOD</span>
          <span class="badge badge-stable">{{sigPeriod | formatDuration}}</span>
        </ion-item>

        <ion-item class="item-icon-left">
          <i class="icon ion-clock"></i>
          <span translate>CURRENCY.VIEW.SIG_WINDOW</span>
          <span class="badge badge-stable">{{sigWindow | formatDuration}}</span>
        </ion-item>

        <ion-item class="item-icon-left">
          <i class="icon ion-steam"></i>
          <span translate>CURRENCY.VIEW.STEP_MAX</span>
          <span class="badge badge-stable">{{stepMax}}</span>
        </ion-item>

        <ion-item class="item-icon-left">
          <i class="icon ion-pull-request"></i>
          <span translate>CURRENCY.VIEW.XPERCENT</span>
          <span class="badge badge-stable">{{xpercent}}</span>
        </ion-item>

    </ion-list>
