
    <ion-list>

        <ion-item class="item-icon-left">
            <i class="icon ion-android-bookmark"></i>
            <span translate>CURRENCY.VIEW.CURRENCY_NAME</span>
            <span class="item-note dark" ng-if="!formData.useRelative">{{currency}} ({{currency | abbreviate}})</span>
            <span class="item-note dark" ng-if="formData.useRelative">{{currency}} ({{'COMMON.UD' | translate}}<sub>{{currency | abbreviate}})</sub></span>
        </ion-item>

        <ion-item class="item-icon-left">
            <i class="icon ion-person-stalker"></i>
            <span translate>CURRENCY.VIEW.MEMBERS</span>
            <span class="badge badge-assertive">{{Nprev | formatInteger}}</span>
        </ion-item>

        <ion-item id="helptip-currency-newcomers"
                  class="item-icon-left"
                  ui-sref="app.wot_lookup({newcomers: N-Nprev})">
            <i class="icon ion-person-add"></i>
            <span translate>CURRENCY.VIEW.INCOMING_MEMBERS</span>
            <span ng-if="N > Nprev" class="badge badge-balanced">+{{N-Nprev | formatInteger}}</span>
            <span ng-if="N < Nprev" class="badge badge-calm">-{{N-Nprev | formatInteger}}</span>
            <span ng-if="N == Nprev" class="badge badge-stable">{{0}}</span>
        </ion-item>

        <div class="item item-divider">
            <span translate>CURRENCY.VIEW.MONEY_DIVIDER</span>
        </div>

        <ion-item class="item-icon-left">
            <i class="icon ion-record"></i>
            <span translate>CURRENCY.VIEW.MASS</span>
          <span class="badge badge-stable" ng-if="!formData.useRelative">{{M | formatInteger}} {{currency | abbreviate}}</span>
          <span class="badge badge-stable" ng-if="formData.useRelative">{{M | formatNumeral: '0,0.00'}} {{'COMMON.UD'|translate}}<sub>{{currency | abbreviate}}</sub></span>
        </ion-item>

        <ion-item id="helptip-currency-mass-member" class="item-icon-left">
            <i class="icon ion-pie-graph"></i>
            {{'CURRENCY.VIEW.SHARE'|translate}}
          <span id="helptip-currency-mass-member-unit"
                class="badge badge-energized">
            <ng-if ng-if="!formData.useRelative">{{MoverN | formatInteger}} {{currency | abbreviate}}</ng-if>
            <ng-if ng-if="formData.useRelative">{{MoverN | formatNumeral: '0,0.00'}} {{'COMMON.UD'|translate}}<sub>{{currency | abbreviate}}</sub></ng-if>
          </span>
        </ion-item>

        <ion-item class="item-icon-left" ui-sref="app.currency_ud">
            <i class="icon ion-load-c"></i>
            <span translate>CURRENCY.VIEW.UD</span>
            <span class="badge badge-royal" ng-if="!formData.useRelative">{{currentUD | formatInteger}} {{currency | abbreviate}}&nbsp;/&nbsp;{{dt | formatPeriod}}</span>
            <span class="badge badge-royal" ng-if="formData.useRelative">1 {{'COMMON.UD'|translate}}<sub>{{currency | abbreviate}}</sub>&nbsp;/&nbsp;{{dt | formatPeriod}}</span>
        </ion-item>

        <ion-item class="item-icon-left">
            <i class="icon ion-arrow-graph-up-right"></i>
            <span translate>CURRENCY.VIEW.C_ACTUAL</span>
          <span class="badge badge-stable">{{cactual | formatNumeral: '0,0.00'}} %&nbsp;/&nbsp;{{dt | formatPeriod}}</span>
        </ion-item>

        <div class="item item-toggle dark">
            <span translate>COMMON.BTN_RELATIVE_UNIT</span>
            <label class="toggle toggle-royal" id="helptip-currency-change-unit">
                <input type="checkbox" ng-model="formData.useRelative">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </div>

        <div id="helptip-currency-rules"
             class="item item-divider">
            <span translate>CURRENCY.VIEW.RULES_DIVIDER</span>
        </div>

        <ion-item class="item-icon-left">
            <i class="icon ion-arrow-graph-up-right"></i>
            <span translate>CURRENCY.VIEW.C_RULE</span>
            <span class="badge badge-stable">{{c*100 | formatNumeral: '0,0.00'}} %&nbsp;/&nbsp;{{dt | formatPeriod}}</span>
        </ion-item>

        <ion-item  class="item-icon-left">
            <i class="icon ion-load-c"></i>
            <span translate>CURRENCY.VIEW.UD_RULE</span>
            <span class="item-note dark">(1+c) * {{'COMMON.UD'|translate}}<sub>t-1</sub></span>
        </ion-item>

        <ion-item class="item-icon-left">
          <i class="icon ion-ribbon-b"></i>
          <span translate>CURRENCY.VIEW.SIG_QTY_RULE</span>
          <span class="badge badge-stable">{{sigQty}}</span>
        </ion-item>

        <ion-item class="item-icon-left">
          <i class="icon ion-ribbon-a"></i>
          <span translate>CURRENCY.VIEW.SIG_STOCK</span>
          <span class="badge badge-stable">{{sigStock}}</span>
        </ion-item>
    </ion-list>
