<ion-view view-title="Explore" left-buttons="leftButtons">
    <ion-nav-buttons side="secondary">
        <button ui-sref="app.add_record" class="button button-positive">
            <i class="icon ion-plus"></i>
            Add
        </button>
    </ion-nav-buttons>

    <ion-content class="lookupForm padding">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search a record (e.g. car, store)" ng-model="search.text" ng-change="searchChanged()">
        </label>

        <div class="row">
            <div class="col">
                <a href="#" class="button button-full button-small button-positive" ng-click="">All</a>
            </div>
            <div class="col">
                <a href="#" class="button button-full button-small button-positive" ng-click="">Image</a>
            </div>
            <div class="col">
                <a href="#" class="button button-full button-small button-positive" ng-click="">Search tool</a>
            </div>
        </div>

        <div class="list list-inset">

            <label class="item center" ng-if="search.looking">
                <ion-spinner icon="android"></ion-spinner>
            </label>

            <a class="item row item-product" ng-repeat="found in search.results" ng-click="select('{{found.id}}')">
                <div class="col col-2">
                    <img style="height:70px" ng-src="{{found.pictures[0].src}}" nf-if="found.pictures && found.pictures > 0">
                    <span nf-if="!found.pictures || found.pictures == 0">&nbsp;</span>
                </div>
                <div class="col col-80 padding">
                    <h2 ng-bind-html="found.title"></h2>
                    <h3 class="light" ng-bind-html="found.description"></h3>
                    <span class="badge item-note">{{found.time | formatDate}}</span>
                </div>
            </a>

        </div>
    </ion-content>
</ion-view>