<ion-view view-title="{{'REGISTRY.EDIT.TITLE'|translate}}" left-buttons="leftButtons">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon button-clear" ng-click="save()">
            <i class="icon ion-android-send" ng-if="!id"></i>
            <i class="icon ion-android-done" ng-if="id"></i>
        </button>
    </ion-nav-buttons>

    <ion-content>
        <div class="scroll">
            <ng-include src="'templates/registry/record_form.html'"></ng-include>
            <div class="scroll-bar scroll-bar-v"></div>
        </div>
    </ion-content>


</ion-view>
