<ion-view view-title="{{'REGISTRY.SEARCH.TITLE'|translate}}" left-buttons="leftButtons">
    <ion-nav-buttons side="secondary">
        <button class="button button-positive" ng-click="newRecord()">
            <i class="icon ion-plus"></i>
            <span translate>REGISTRY.SEARCH.BTN_ADD</span>
        </button>
    </ion-nav-buttons>

    <ion-content class="lookupForm padding no-padding-xs">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="{{'REGISTRY.SEARCH.SEARCH_HELP'|translate}}" ng-model="search.text" ng-change="searchChanged()" id="searchText">
        </label>

        <div class="item item-toggle dark" ng-if="search.options != null">
            <span translate>REGISTRY.SEARCH.BTN_OPTIONS</span>
            <label class="toggle toggle-royal">
                <input type="checkbox" ng-model="search.options">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </div>

        <span class="item item-button-right" ng-click="openCategoryModal()" ng-if="search.options">
            <span translate>REGISTRY.COMMON.CATEGORY</span>
            <span class="badge badge-royal">{{search.category.name}}</span>&nbsp;
            <i class="button button-clear ion-chevron-right"></i>
        </span>

        <span class="item item-button-right" ng-if="search.options && !location.enable">
            <span translate>REGISTRY.SEARCH.LOCATION</span>
            <div class="item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="{{'REGISTRY.SEARCH.LOCATION_HELP'|translate}}" ng-model="search.location" ng-change="searchChanged()"/>
                </label>
            </div>
        </span>

        <div class="list list-inset" ng-if="search.options != null">

            <label class="item center" ng-if="search.looking">
                <ion-spinner icon="android"></ion-spinner>
            </label>

            <label class="item center assertive" ng-if="!search.looking && search.results.length==0 && search.options != null" translate>
                COMMON.SEARCH_NO_RESULT
            </label>

            <a  ng-repeat="found in search.results"
                class="item item-avatar"
                ng-click="select('{{found.id}}', '{{found.urlTitle|formatSlug}}')">
                <img ng-src="{{found.pictures[0].src}}" ng-if="found.pictures && found.pictures.length > 0">
                <h2 class="item-text-wrap" ng-bind-html="found.title"></h2>
                <h4 class="light" ng-bind="found.location" ng-if="found.location"></h4>
                <p class="light item-text-wrap" ng-bind-html="found.description" ng-if="found.description"></p>
                <span class="badge" ng-if="!found.isCompany">{{found.issuer | formatPubkey}}</span>
            </a>

        </div>
    </ion-content>
</ion-view>