<ion-view left-buttons="leftButtons" view-title="{{'REGISTRY.VIEW.TITLE'|translate}}">
    <ion-nav-buttons side="secondary">
        <button class="button button-positive" ng-click="edit()" ng-if="canEdit">
            <i class="icon ion-android-create"></i>
        </button>
    </ion-nav-buttons>

    <ion-content class="item-text-wrap">

        <div class="scroll">
            <div class="list">

                <ion-gallery ion-gallery-items="pictures" ng-if="pictures && pictures.length>0"></ion-gallery>

                <div class="item" ng-class="{'item-avatar': pictures && pictures.length > 0}">
                    <img ng-src="{{pictures[0].src}}" ng-if="pictures && pictures.length > 0">
                    <h2 class="positive" ng-bind-html="formData.title"></h2>
                    <h4 class="light" ng-bind-html="formData.location"></h4>
                </div>

                <a class="item item-icon-left" ng-if="!formData.isCompany">
                    <i class="icon ion-key"></i>
                    <h4 class="light">{{formData.issuer}}</h4>
                </a>

                <div class="item">
                    <p ng-bind-html="formData.description"></p>
                </div>

                <div ng-if="formData.isCompany">
                    <div class="item-divider"></div>

                    <div class="item">
                        <span translate>REGISTRY.COMMON.CATEGORY</span>
                        <span class="badge badge-positive">{{category.name || formatCategory}}</span>
                    </div>


                    <span class="item item-icon-left" >
                        <i class="icon ion-person"></i>
                        <h3><span translate>REGISTRY.COMMON.ISSUER</span></h3>
                        <span class="badge" ng-class="{'badge-positive': isMember, 'badge-assertive': !isMember}">{{formData.issuer | formatPubkey}}</span>
                    </span>

                </div>

                <div class="item-divider"></div>

                <div class="item item-button-right positive" ng-click="transfer()">
                    {{'ACCOUNT.BTN_SEND_MONEY' | translate}}
                    <a class="button button-clear button-positive" >
                        <i class="icon-right ion-chevron-right"></i>
                    </a>
                </div>

                <div class="item item-button-right positive" ng-click="signIdentity()" ng-if="hasSelf">
                    {{'WOT.BTN_CERTIFY' | translate}}
                    <a class="button button-clear button-positive" >
                        <i class="icon-right ion-chevron-right"></i>
                    </a>
                </div>

            </div>
            <div class="scroll-bar scroll-bar-v"></div>
        </div>
    </ion-content>
</ion-view>