

#newAccount h1 {
    font-size: 25px;
    /*text-align: left;*/
    margin-top: 30px;
}

.badge sub, .badge sup {
    line-height: inherit;
}

#home h1 {
    padding-top: 15px;
    text-align: center;
}

#home h2 {
    font-size: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: #fff;
}

#home h4 {
    color: #fff;
}

#home h4 a {
  color: inherit;
}

#home button, #home a {
    margin-top: 20px;
    height: 40px;
}

#home .footer h1.title {
  padding-top: 0;
  font-size: 18px;
}

#home .build-date {
  font-size: 14px !important;
  color: grey !important;
}

.bar .button.button-clear {
  font-size: 12px !important;
  font-weight: 300 !important;
  width: initial !important;
  min-width: 38px !important;
  max-width: 90px !important;
}
.bar .button.button-clear:first-child {
  margin-left: 5px;
}

.popup-buttons .button {
  padding: 0 2px !important; /*Need for 'cancel' button */
}


#transfer .list .item {
  border-bottom: solid 1px #ccc;
}

#transfer .item.item-icon-right input {
  padding-right: 50px !important;
}




.list .item-input {
  border-bottom: solid 1px #ccc;
}

.popover .list .item {
  border-bottom: solid 1px #ccc;
}

.item.item-thumbnail-left, .item-thumbnail-left {
  min-height: 100px !important;
}

.gallery .card-gallery img{
  max-height: 150px;
}

.gallery .card.card-gallery{
  margin-bottom: 15px !important;
  float: left;
  display: block;
}

#menu .item.item-divider {
  min-height: 5px;
  height: 5px;
}

#menu .footer h1.title {
  font-size: 16px;
}

#menu .footer h1 .buildDate {
  font-size: 12px ! important;
  color: grey !important;
}




.menu .avatar {
    height: 88px;
    width: 88px;
}


.center {
    text-align: center;
}

.gray {
    color: grey !important;
}
.no-padding {
    padding: 0px !important;
}

.col-pubkey {
  min-width: 130px !important;
}


/*.button {*/
    /*height: 50px !important;*/
    /*font-size: 18px !important;*/
/*}*/

/*.button, a {*/
    /*margin-top: 50px !important;*/
/*}*/

/*div.scroll, .slider-slides {*/
    /*-webkit-transform: initial !important;*/
/*}*/

/**********
   Form validation
**********/

.form-errors:first-child {
  margin: 5px 0;
}

.form-errors:last-child {
    margin: 5px 0 0;
}

.form-error {
  padding: 8px 16px;
  font-size: 12px;
  color: red;
  vertical-align: middle;
  text-align: end;
}

.form-error i {
  font-size: 24px;
  color: #B83E2C;
  vertical-align: middle;
}

.item-input-error {
  border-bottom: 2px solid red;
}

.item em {
  font-weight: bold !important;
}


/**********
   MODAL
**********/

.title {
    text-align: center !important;
}
.slider {
    height: 100%;
}
.slider-slide {
    color: #000;
    background-color: #fff;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

#list {
    width: 170px;
    margin: 30px auto;
    font-size: 20px;
}
#list ol {
    margin-top: 30px;
}
#list ol li {
    text-align: left;
    list-style: decimal;
    margin: 10px 0px;
}

.button.ng-hide{
    display:none;
}

.peer-item {
    padding-top: 9px;
    padding-bottom: 3px;
}

.peer-item .badge {
    top: 14px;
}

.peer-item:hover .badge{
    color: #fff !important;
}




#certifications .item-divider .badge {
  top:16px !important;
}

#settings .item-divider {
    background-color: #f5f5f5;
}

#unitPopover {
  height: 108px;
}

.no-margin {
  margin: 0 !important;
}
