

#newAccount h1 {
    font-size: 25px;
    /*text-align: left;*/
    margin-top: 30px;
}

.badge sub, .badge sup {
    line-height: inherit;
}

#home .main-container h1 {
    padding-top: 15px;
    text-align: center;
}
#home .main-container h4 {
    color: #fff;
}
#home .main-container h4 a {
  color: inherit;
}

#home .footer .title {
  padding-top: 0;
  font-size: 14px;
  color: grey;
}

#modal-license {
  color:rgb(0, 0, 0);
}

.bar .button.button-clear {
  font-size: 12px !important;
  font-weight: 300 !important;
  width: initial !important;
  min-width: 44px !important;
  max-width: 90px !important;
}

.bar.bar-header .left-buttons > .button.button-clear:first-child,
.bar.bar-header > .button.button-clear:first-child {
  margin-left: 5px;
}

.popup-buttons .button {
  padding: 0 2px !important; /*Need for 'cancel' button */
}


#transfer .list .item {
  border-bottom: solid 1px #ccc;
}
#transfer .list .item.item-no-border {
  border-bottom: 0;
}

#transfer .item.item-icon-right input {
  padding-right: 50px !important;
}




.list .item-input {
  border-bottom: solid 1px #ccc;
}

.popover .list .item {
  border-bottom: solid 1px #ccc;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.center {
    text-align: center;
}


.col-pubkey {
  min-width: 130px !important;
}


/*.button {*/
    /*height: 50px !important;*/
    /*font-size: 18px !important;*/
/*}*/

/*.button, a {*/
    /*margin-top: 50px !important;*/
/*}*/

/*div.scroll, .slider-slides {*/
    /*-webkit-transform: initial !important;*/
/*}*/




/**********
   MODAL
**********/

.modal .title {
    text-align: center !important;
}
.slider {
    height: 100%;
}
.slider-slide {
    color: #000;
    background-color: #fff;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

#list {
    width: 170px;
    margin: 30px auto;
    font-size: 20px;
}
#list ol {
    margin-top: 30px;
}
#list ol li {
    text-align: left;
    list-style: decimal;
    margin: 10px 0px;
}

.button.ng-hide{
    display:none;
}

.no-margin {
  margin: 0 !important;
}

/**********
   Settings items
**********/

.settings .item-divider {
    background-color: #f5f5f5;
}
.settings .item .input-label{
  width: 80%;
}
.settings .item-toggle .input-label{
  display: inline;
  width: auto;
  max-width: 50%;
}
.settings .item-select .input-label{
  display: inline;
  width: auto;
  max-width: 50%;
}
.settings .item .badge {
  top: 22px;
}

/**********
   Network/Peer items
**********/


.list .item-peer {
  padding-top: 9px;
  padding-bottom: 3px;
}

.list .item-peer .badge {
  top: 14px;
  right: 6%;
}

.list .item-peer:hover .badge.badge-energized,
.list .item-peer:hover .badge.badge-balanced
{
  color: #fff !important;
}

.list .item-peer .badge.badge-secondary,
.list .item-peer .badge .badge-secondary {
  top: 31px;
  font-size: 10px;
  padding-right: 6px;
}

.list .item-peer.compacted {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 3px !important;
  max-height: 3px !important;
  border-bottom: double 1px #ddd !important;
}
.list .item-peer.compacted > * {
  display: none;
}


/**********
   Block items
**********/

.item-block {
  padding-top: 4px;
  padding-bottom: 3px;
  max-height: 48px;
}

.item-block .badge {
  top: 12px;
  right: 6%;
}

.item-block.item-block-empty {
  min-height: 24px !important;
  max-height: 24px !important;
  padding-top: 0;
  padding-bottom: 0;
}

.item-block.item-block-empty .badge {
  padding-top: 0 !important;
  top: inherit;
}

.item-block.item-block-empty .badge.badge-balanced {
  top: 0 !important;
  padding-top: 3px !important;
  padding-bottom: 2px !important;
}

.item-block-empty.compacted {
  min-height: 3px !important;
  max-height: 3px !important;
  border-bottom: 0 !important;
}

.item-block.item-block-empty.compacted {
  border-bottom: double 1px #eee !important;
}

/**********
   List of wallet
**********/

.list .item.item-wallet .badge{
  top: 29px;
}
.list .item.item-wallet {
  height: 38px;
}
