body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.homeMessage {
    text-align: center;
    font-size: 18px;
}

.selected {
    background-color: steelblue !important;
    color: white !important;
}

#newAccount h1 {
    font-size: 25px;
    /*text-align: left;*/
    margin-top: 30px;
}

#newAccount .button {
    height: 50px;
}

.badge sub, .badge sup {
    line-height: inherit;
}

.lookupForm .list a {
    text-align: left;
}

#home h1 {
    padding-top: 15px;
    text-align: center;
}

#home h2 {
    font-size: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

#home button, #home a {
    margin-top: 20px;
    height: 40px;
}

.center {
    text-align: center;
}

.light {
    color: grey;
}
/*.button {*/
    /*height: 50px !important;*/
    /*font-size: 18px !important;*/
/*}*/

/*.button, a {*/
    /*margin-top: 50px !important;*/
/*}*/

/*div.scroll, .slider-slides {*/
    /*-webkit-transform: initial !important;*/
/*}*/

/**********
   MODAL
**********/

.title {
    text-align: center !important;
}
.slider {
    height: 100%;
}
.slider-slide {
    padding-top: 25px;
    color: #000;
    background-color: #fff;
    text-align: center;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

#logo {
    margin: 30px 0px;
}

#list {
    width: 170px;
    margin: 30px auto;
    font-size: 20px;
}
#list ol {
    margin-top: 30px;
}
#list ol li {
    text-align: left;
    list-style: decimal;
    margin: 10px 0px;
}

.button.ng-hide{
    display:none;
}
