

#newAccount h1 {
    font-size: 25px;
    /*text-align: left;*/
    margin-top: 30px;
}

.badge sub, .badge sup {
    line-height: inherit;
}

#home h1 {
    padding-top: 15px;
    text-align: center;
}

#home h2 {
    font-size: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: #fff;
}

#home h4 {
    color: #fff;
}

#home h4 a {
  color: inherit;
}

#home button, #home a {
    margin-top: 20px;
    height: 40px;
}

#home .footer .title {
  padding-top: 0;
  font-size: 14px;
  color: grey;
}

.bar .button.button-clear {
  font-size: 12px !important;
  font-weight: 300 !important;
  width: initial !important;
  min-width: 38px !important;
  max-width: 90px !important;
}
.bar .button.button-clear:first-child {
  margin-left: 5px;
}

.popup-buttons .button {
  padding: 0 2px !important; /*Need for 'cancel' button */
}


#transfer .list .item {
  border-bottom: solid 1px #ccc;
}

#transfer .item.item-icon-right input {
  padding-right: 50px !important;
}




.list .item-input {
  border-bottom: solid 1px #ccc;
}

.popover .list .item {
  border-bottom: solid 1px #ccc;
}



.menu .avatar {
    height: 88px;
    width: 88px;
}

.center {
    text-align: center;
}


.col-pubkey {
  min-width: 130px !important;
}


/*.button {*/
    /*height: 50px !important;*/
    /*font-size: 18px !important;*/
/*}*/

/*.button, a {*/
    /*margin-top: 50px !important;*/
/*}*/

/*div.scroll, .slider-slides {*/
    /*-webkit-transform: initial !important;*/
/*}*/




/**********
   MODAL
**********/

.title {
    text-align: center !important;
}
.slider {
    height: 100%;
}
.slider-slide {
    color: #000;
    background-color: #fff;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

#list {
    width: 170px;
    margin: 30px auto;
    font-size: 20px;
}
#list ol {
    margin-top: 30px;
}
#list ol li {
    text-align: left;
    list-style: decimal;
    margin: 10px 0px;
}

.button.ng-hide{
    display:none;
}

.peer-item {
    padding-top: 9px;
    padding-bottom: 3px;
}

.peer-item .badge {
    top: 14px;
}

.peer-item:hover .badge.badge-energized,
.peer-item:hover .badge.badge-balanced
{
    color: #fff !important;
}

#login {
  height: 100%;
}


#certifications .item-divider .badge {
  top:16px !important;
}

.settings .item-divider {
    background-color: #f5f5f5;
}

#unitPopover {
  height: 108px;
}

.no-margin {
  margin: 0 !important;
}

html {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}
